.cabinet-block-wrap {
    display: flex;
    width: 100%;
    padding-top: 70px;

    .sidebar {
        flex: 1;
        max-width: 240px;

        .person {
            position: relative;
            text-align: center;
            overflow: hidden;

            .chart {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            .image {
                width: 150px;
                height: 150px;
                margin: 30px auto 0;

                img {
                    max-height: 100%;
                    object-fit: contain;
                }
            }
            
            .name {
                margin-top: 25px;
                font-family: $titleFont;
                font-size: 16px;
                line-height: 114.68%;
            }

            .rank {
                margin-top: 8px;
                font-family: $textFontBold;
                font-size: 12px;
                line-height: 114.68%;
                font-feature-settings: 'pnum' on, 'lnum' on;
            }
        }

        .cabinet-menu {
            margin-top: 26px;

            &--row,
            .button-wrap {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .cabinet-info {
        flex: 1;
        padding-left: 90px;
    }

    .cabinet-menu {
        position: relative;
        top: 0;
        background: none;
        opacity: 1;
        pointer-events: all;

        &--item {
            color: $blueLight;

            &:hover,
            &.active {
                color: $red;

                .icon::before {
                    color: $red;
                }
            }
        }

        .icon {

            &::before {
                color: $blueLight;
            }
        }
    }
}


.cabinet-info {
    padding-top: 70px;

    .back-link {
        display: inline-block;
        margin-top: -60px;
        font-size: 28px;
    }

    .radio-group {
        margin: 50px 0 0;

        .radio {
            flex: none;
            max-width: none;
        }

        .label {
            padding-left: 27px;
            padding-right: 27px;
            font-family: $textFontSemibold;
            color: $themeColor;
        }
    }

    .column-wrap {

        .narrow {
            margin-left: 86px;
        }
    }
    
    .statistics-list {
        margin-top: 20px;
    }

    .statistic-table {

        td {
    
            &:first-child {
                width: 13%;
            }
    
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(11) {
                width: 5%;
            }
        }

        &.first-col-wide {
        
            td:first-child {
                width: 40%;
            }
        }
    }
}


.forecasts-block {
    margin-top: 50px;
}

.forecasts-table {
    margin-top: 50px;
    background: $white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;

    &--item {
        display: flex;
        align-items: center;
        padding: 18px 30px;
        font-family: $textFontSemibold;
        font-size: 15px;
        line-height: 140%;
        font-feature-settings: 'pnum' on, 'lnum' on;

        &:first-child {
            font-family: $textFontBold;
            font-size: 14px;
            line-height: 140%;
            color: $themeColor;
        }

        &:nth-child(odd) {
            background: $blueLighterOther;
        }

        &:hover {
            background: $themeColor;
            color: $white;
        }
    }

    .col {
        flex: 1;
        padding: 0 0 0 10px;

        &:first-child {
            flex: 10%;
        }

        &:nth-child(2) {
            flex: 20%;
        }
    }

    .btn {
        width: 100%;
        max-width: 100px;
        min-height: 35px;
        padding: 3px 12px;
        border-radius: 10px;
    }
}

.forecasts-table-mobile {
    display: none;
    margin-top: 20px;

    &--item {
        margin-top: 5px;
        padding: 20px 10px 15px;
        background: $white;
        font-family: $textFontBold;
        font-size: 12px;
        line-height: 140%;
        color: $blueLight;
        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        &:first-child {
            margin-top: 0;
        }
    }

    .category {
        margin-top: 18px;
        font-size: 14px;
        color: $blue;
    }

    .row {
        display: flex;
        margin-top: 10px;

        .col {
            flex: 1;
            padding: 5px 0;
            border-left: 1px solid $blueLighterOther;

            &:first-child {
                border-left: 0;
            }
        }
    }

    .cost {
        color: $blueDark;
    }

    .btn {
        width: 100%;
        max-width: 260px;
        margin: 20px auto 0;
        border-radius: 10px;
    }
}


/*** Rank block ***/

.rank-list-wrap {
    margin-top: 125px;
}

.rank-list {
    display: flex;
    flex-wrap: wrap;
    margin: -20px 0 0 -20px;

    &--item {
        display: flex;
        align-items: center;
        flex: 100%;
        max-width: calc(50% - 20px);
        margin: 20px 0 0 20px;
        padding: 40px;
        background: $white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        &.small {
            max-width: calc(25% - 20px);
        }

        &.blue {
            background: $blue;
            color: $white;

            p {
                color: $white;
            }
        }
    }

    .rank-block {
        margin: 10px auto 20px;
    }

    .list {
        padding: 0 30px;
        
        &--item {
            position: relative;
            display: flex;
            margin-top: 26px;
            font-feature-settings: 'pnum' on, 'lnum' on;

            &:first-child {
                margin-top: 0;
            }
        }

        .icon {
            margin: 1px 20px 0 0;
            font-size: 23px;
        }
    }
}

.rank-block {
    position: relative;
    width: 200px;
    margin: 0 auto;

    .count {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 35px;
        left: 50%;
        transform: translateX(-50%);
        width: 130px;
        height: 130px;
        background: $blueLighterOther;
        font-family: $textFontBold;
        font-size: 72px;
        text-align: center;
        border-radius: 50%;

        span {
            margin-top: -13px;
        }
    }

    .label {
        font-family: $titleFont;
        font-size: 24px;
        line-height: 114.68%;
        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
}

.rank-step {
    margin: 0 auto;
    text-align: center;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 130px;
        font-size: 52px;

        &.icon-three-star-empty {
            font-size: 94px;
        }

        &.icon-four-star-empty {
            font-size: 104px;
        }
    }

    .title {
        margin: 30px 0 0;
        font-family: $titleFont;
        font-size: 24px;
    }

    p {
        max-width: 220px;
        margin: 15px auto 0;
        font-size: 16px;
        line-height: 130%;
        color: $blueLight;
    }
}


/*** Media ***/

@media (max-width: 1601px) {

    .cabinet-info {

        .column-wrap {
        
            .narrow {
                margin-left: 20px;
            }
        }

        .stattable {
            padding: 40px;
        }

        .graph-block {

            .top-panel {
                display: block;
            }

            .title {
                padding: 0 0 20px;
            }
        }

        .statistic-table {
        
            &.first-col-wide {
            
                td:first-child {
                    width: 30%;
                }
            }
        }
    }
}

@media (max-width: 1441px) {

    .cabinet-block-wrap {

        .cabinet-info {
            padding-left: 40px;
        }
    }

    .cabinet-info {

        .stattable {
            display: block;
            margin-top: 40px;
        }

        .graph-block {
            padding: 0;

            #chartdiv {
                margin-top: 20px;
            }
        }

        .latest-predictions {
            max-width: 100%;
            margin-top: 40px;

            table {
                margin-top: 20px;
            }
        }

        .statistic-table {
            display: none;
        }

        .statistic-table-mobile {
            display: flex;
            flex-wrap: wrap;
            margin: 40px -15px 0 -25px;
            padding: 0 15px 25px;

            &--item {
                flex: 100%;
                max-width: calc(33.333% - 10px);
                margin: 10px 0 0 10px;
            }
        }
    }

    .forecasts-table {

        .col:nth-child(2) {
            flex: 10%;
        }
    }


    .rank-list {

        &--item.small {
            max-width: calc(50% - 20px);
        }
    }
}

@media (max-width: 1281px) {

    .cabinet-block-wrap {

        .sidebar {
            max-width: 200px;
        }
    }

    .cabinet-info {
        
        .statistic-table-mobile {

            &--item {
                max-width: calc(50% - 10px);
            }
        }
    }
}

@media (max-width: 1025px) {

    .cabinet-block-wrap {
        
        .sidebar {
            display: none;
        }

        .cabinet-info {
            padding-left: 0;
        }
    }

    .cabinet-info {
        padding-top: 0;

        .column-wrap {
            flex-direction: column-reverse;
            margin: 0;

            .column {
                margin: 0;
            }

            .narrow {
                margin: 0;
                padding: 0 0 10px;
            }
        }

        .statistics-list {
            margin-top: 180px;
        }
    }
}

@media (max-width: 769px) {

    .cabinet-info {

        .stattable {
            padding: 0;
        }
    }

    .forecasts-table {
        display: none;
        margin-top: 20px;
    }

    .forecasts-table-mobile {
        display: block;
    }

    
    .rank-list {
        margin: -10px 0 0 -10px;

        &--item {
            max-width: calc(50% - 10px);
            margin: 10px 0 0 10px;
            padding: 30px;

            &.small {
                max-width: calc(50% - 10px);
            }
        }

        .list {
            padding: 0;
        }
    }
}

@media (max-width: 561px) {

    .cabinet-block-wrap {
        padding-top: 30px;
    }

    .cabinet-info {

        .radio-group {
            margin-top: 185px;

            .radio {
                flex: 100%;
            }
        }

        .stattable {
            padding: 0;
        }

        .graph-block {

            .title {
                margin-left: auto;
                margin-right: auto;
                padding: 0;
            }

            .btn {
                width: 100%;
            }
        }

        .statistic-table-mobile {
    
            &--item {
                max-width: calc(100% - 10px);
            }
        }
    }


    .rank-list-wrap {
        margin-top: 220px;
    }

    .rank-list {

        &--item {
            max-width: calc(100% - 10px);

            &.small {
                max-width: calc(100% - 10px);
            }
        }
    }

    .rank-block {
        
        .count {
            font-size: 59.4175px;
            line-height: 140%;
        }
    }
}