.footer-wrap {
    position: relative;
    padding-top: 330px;
    overflow: hidden;

    &.bg-empty {
        padding-top: 80px;

        .footer {
            padding-top: 180px;
        }
    }
}

.footer {
    position: relative;
    background-color: $blue;
    z-index: 4;

    .bg-image {
        position: absolute;
        top: -330px;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 1;

        &:before {
            content: '';
            position: absolute;
            top: 170px;
            left: -30%;
            width: 130%;
            height: 0;
            padding-bottom: 50%;
            background-color: $blue;
            transform: rotate(10deg);
            z-index: -1;
        }

        img {
            width: 100%;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .wrap {
        position: relative;
        padding: 0 100px 200px;
        z-index: 5;
    }

    .bottom-block {
        display: flex;
        flex-wrap: wrap;
        margin-top: 160px;
        color: $white;

        &:first-child {
            margin-top: 0;
        }
    }

    .column {
        flex: 100%;
        max-width: 25%;
        padding-right: 20px;

        &:nth-child(4) {
            text-align: right;
        }
    }

    .copyright {
        font-size: 16px;
        line-height: 264%;
        text-align: right;
        text-transform: capitalize;

        span {
            display: block;
        }
    }
    
    /*** About ***/

    .about-block {
        display: inline-block;
        margin-top: -100px;
        color: $white;

        h2,
        .h2 {
            color: $white;
        }

        .description {
            margin-top: 94px
        }

        .btn {
            width: auto;
            max-width: 186px;
            margin-top: 84px;
        }
    }


    /*** Menu ***/

    .footer-menu {

        &--item {
            display: block;
            margin-top: 23px;
            font-family: $textFontSemibold;
            font-size: 16px;
            line-height: 19px;
            align-items: center;
            text-transform: capitalize;
            color: $white;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    
    /*** Social ***/

    .social-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-top: 70px;

        &--item {
            margin-left: 30px;
            font-size: 42px;

            &:first-child {
                margin-left: 0;
            }

            &:before {
                color: $white;
            }
        }

        .path1::before {
            color: $white;
        }

        .path2::before {
            color: $blue;
        }
    }
}


/*** Media ***/

@media (max-width: 1601px) {

    .footer {

        .bg-image {

            &::before {
                top: 100px;
            }
        }
    }
}

@media (max-width: 1281px) {

    .footer-wrap {
        position: relative;
        padding-top: 250px;
    }

    .footer {

        .bg-image {
            top: -265px;
        }

        .about-block {

            .description {
                margin-top: 60px;
            }
        }
    }
}

@media (max-width: 1025px) {

    .footer-wrap {

        &.bg-empty {
    
            .footer {
                padding-top: 60px;
            }
        }
    }

    .footer {

        .wrap {
            padding-right: 0;
            padding-bottom: 40px;
        }

        .about-block {

            .description {
                margin-top: 30px;
            }

            .btn {
                margin-top: 40px;
            }
        }
        
        .bottom-block {
            margin-top: 50px;
        }

        .column {
            max-width: 50%;
            padding-top: 30px;
        }

        .footer-menu--item {
            margin-top: 30px;
        }

        .copyright {
            text-align: left;
        }

        .social-list {
            justify-content: flex-start;
            margin-top: 30px;
        }
    }
}

@media (max-width: 769px) {

    .footer-wrap {
        margin-top: 80px;
    }

    .footer-wrap.bg-empty {
        margin-top: 0;
        padding-top: 0;
    }

    .footer {

        .bg-image {
            top: -213px;

            &:before {
                top: 10%;
            }
        }

        .wrap {
            padding-left: 0;
        }

        .about-block {

            .description {
                text-align: center;
            }

            .btn {
                max-width: 290px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .bottom-block {
            margin-top: 20px;
        }

        .social-list--item {
            font-size: 32px;
        }
    }
}

@media (max-width: 561px) {

    .footer-wrap {
        margin-top: 200px;
        padding-top: 70px;
    }

    .footer {

        .bg-image {
            top: -70px;

            &::before {
                top: 22px;
            }

            img {
                width: auto;
                max-width: 600px;
            }
        }

        .about-block {
            margin-top: 0;
        }

        .column {
            max-width: 100%;
            padding: 30px 0 0;

            &:first-child {
                padding-top: 0;
            }
        }

        .bottom-block {
            margin-top: 50px;
        }

        .footer-menu--item {
            text-align: center;
        }

        .copyright {
            padding-top: 10px;
            text-align: center;
        }

        .social-list {
            justify-content: center;
        }
    }
}