.product-list-wrap {
    position: relative;
    margin: 110px 0 0;

    &:first-child {
        margin-top: 0;
    }

    &.medium-content {

        .middle-image-bg {

            img {
                
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    &.small-content {

        .middle-image-bg {
            display: none;
        }
    }

    .column-wrap {
        margin-top: 160px;
    }

    .top-image-bg {
        position: absolute;
        right: 0;
        top: -180px;
        z-index: -1;
    }

    .middle-image-bg {

        img {
            position: absolute;
            top: 940px;
            left: 0;
            z-index: -1;
    
            &:nth-child(2) {
                top: 40%;
                left: auto;
                right: 0;
            }
        }
    }

    .bottom-image-bg {
        position: relative;
        z-index: -1;

        img {
            position: absolute;
            object-fit: contain;
            bottom: -320px;
            left: -100px;
            z-index: -2;

            &:nth-child(2) {
                max-width: 50%;
                left: auto;
                right: 0;
                bottom: -430px;
                z-index: -1;
            }
        }
    }
}

.filters {

    .wrap {
        position: relative;
        padding: 35px 40px 40px;
        background: $white;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .bottom-panel {
        padding: 40px;
        background: $blue;
        border-radius: 0 0 10px 10px;
    }

    .mobile-btn {
        display: none;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        padding: 0 15px;
        background: $white;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        .label {
            font-family: $textFontBold;
            font-size: 13px;
            line-height: 140%;
            color: $blueLight;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }

        .icon {
            font-size: 7px;
        }
    }

    .checkbox-group {

        &:first-child {
            margin-top: 16px;
        }
    }
}


/***/

.product-list--item {
    margin-top: 20px;
    background: $white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    &:first-child {
        margin-top: 0;
    }
    .wrap {
        padding: 40px 40px 20px;
    }

    .top-panel {
        display: flex;
        align-items: center;

        .date {
            display: flex;
            justify-content: flex-end;
            flex: 1;
            padding-left: 20px;
            font-family: $textFontBold;
            color: $blueDark;
            font-size: 14px;
            line-height: 140%;
            text-align: right;
            text-transform: capitalize;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }
    }

    .sticker {
        margin-right: 10px;
        padding: 2px 14px;
        background: $blue;
        font-family: $textFontBold;
        font-size: 12px;
        line-height: 140%;
        color: $white;
        text-align: center;
        border-radius: 5px;
    }

    .comment-btn {
        display: flex;
        align-items: center;
        cursor: pointer;

        .icon {
            margin-right: 10px;
            font-size: 20px;
        }

        .text {
            font-family: $textFontBold;
            line-height: normal;
            color: $blueLight;
            text-transform: capitalize;
            font-feature-settings: 'pnum' on, 'lnum' on;

            span {
                border-bottom: 1px dashed;
            }

            .count {
                border: 0;
            }
        }
    }

    table {

        td:nth-of-type(2) {
            width: 60%;
        }
    }

    .person-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0 0 -10px;
    }

    .person {
        display: flex;
        align-items: center;
        margin: 10px 0 0 10px;
        
        .image {
            position: relative;
            display: flex;
            width: 40px;
            height: 40px;
            margin-right: 15px;
    
            img {
                margin: auto;
                border-radius: 50%;
            }
        }
    
        .num { 
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 3px 5px 1px;
            background-color: $themeColor;
            font-family: $textFontBold;
            font-feature-settings: 'pnum' on, 'lnum' on;
            font-size: 12px;
            line-height: 114.68%;
            color: $white;
            border-radius: 50%;
        }
    
        .name {
            flex: 1;
            padding-right: 10px;
            font-family: $textFontBold;
            font-size: 14px;
            line-height: 114.68%;
            color: $blueLight;
            text-transform: capitalize;
            
            span {
                border-bottom: 1px dashed;
            }
        }
    }

    .parameters {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0 0;

        &.gray {

            .parameters--item::before {
                color: $borderColor;
            }
        }

        &--item {
            margin: 10px 0 10px 10px;
            font-size: 20px;
        }
    }

    .author-predictions {
        margin: 10px 0 0 10px;
        font-family: $textFontBold;
        font-size: 14px;
        line-height: 120%;
        color: $blueLight;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    .bottom-panel {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 40px;
        background: $blueLighterOther;
        border-radius: 0 0 10px 10px;
    }

    .description {
        flex: 1;
        padding-right: 40px;
        font-family: $textFontMedium;
        font-size: 14px;
        line-height: 135%;        
    }

    .button-wrap {
        flex: 1;
        max-width: 186px;
    }

    .cost {
        font-family: $textFontBold;
        font-size: 14px;
        line-height: 140%;
        text-align: right;
        text-transform: capitalize;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    .btn {
        width: 100%;
        margin-top: 10px;
        padding: 0 10px;
        font-size: 14px;
    }
}


.events-wrap {
    padding: 35px 40px 50px;
    background: $white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.events-list {
    margin-top: 36px;

    .swiper-wrapper {
        display: block;
        height: auto;
    }

    .pagination {
        display: none;

        .swiper-pagination-bullet {
            width: 4px;
            height: 4px;
            margin: 0 6px;
            background: $bulletBg;
            border-radius: 50%;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background: $red;
        }
    }
}

.events-list--item {
    height: auto;
    margin-top: 50px;

    &:first-child {
        margin-top: 0;
    }
    
    .time-wrap {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 0 20px;

        .image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
        }

        img {
            max-height: 100%;
        }

        .time {
            padding: 0 20px;
            font-family: $textFontBold;
            line-height: 140%;
            text-transform: capitalize;
            font-feature-settings: 'pnum' on, 'lnum' on;
            text-align: center;
            z-index: 5;

            span {
                font-size: 21px;
            }

            .label {
                font-size: 16px;
            }
        }
    }

    .category {
        padding: 0 20px;
        font-family: $textFontBold;
        color: $blueLight;
        font-size: 12px;
        line-height: 140%;
        text-align: center;
        text-transform: capitalize;
    }

    .title {
        margin-top: 8px;
        font-family: $textFontBold;
        font-size: 16px;
        line-height: 140%;
        color: $blue;
        text-align: center;
        text-transform: capitalize;
    }

    .add-btn {
        display: block;
        margin-top: 7px;
        font-family: $textFontSemibold;
        font-size: 12px;
        line-height: 140%;
        color: #5A6673;
        text-align: center;

        span {
            border-bottom: 1px dashed;
        }
    }
}


.pagination {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 0 -20px;

    &--item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 60px;
        min-height: 60px;
        margin: 20px 0 0 20px;
        padding: 10px;
        background: $white;
        font-family: $textFontBold;
        font-size: 16px;
        line-height: 120%;
        color: $blueDark;
        text-transform: capitalize;
        font-feature-settings: 'pnum' on, 'lnum' on;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        &.active {
            background: $blue;
            color: $white;
        }
    }

    .prev,
    .next {

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 9px;
            height: 2px;
            background: $blueDark;
            border-radius: 3px;
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    .prev {

        &::before {
            margin-top: 3px;
        }

        &::after {
            margin-top: -3px;
        }
    }

    .next {

        &::before {
            margin-top: -3px;
        }

        &::after {
            margin-top: 3px;
        }
    }
}


/*** Media ***/

@media (max-width: 1601px) {

    .filters {

        .wrap {
            padding: 30px;
        }

        .bottom-panel {
            padding: 30px;
        }
    }
    
    .events-wrap {
        padding: 30px;
    }
}

@media (max-width: 1441px) {

    .product-list-wrap {

        .bottom-image-bg {

            img {
                max-width: 80vw;
            }
        }
    }

    .product-list--item {

        .wrap {
            padding: 15px 15px 15px;
        }

        .person-wrap {
            margin: 15px -15px 0 -25px;
            padding: 15px 15px 0;
            border-top: 1px solid $blueLighterOther;
        }

        .bottom-panel {
            padding: 20px;
        }
    }
}

@media (max-width: 1281px) {

    .product-list-wrap {

        .top-image-bg {
            top: -100px;
            max-width: 58vw;
        }
    }

    .events-wrap,
    .filters .wrap {
        padding: 30px 15px;
    }

    .filters .bottom-panel {
        padding:15px;
    }

    .product-list--item {

        .comment-btn {

            .icon {
                margin-right: 5px;
            }

            .text {
                font-size: 0;

                span {
                    border: 0;
                }

                .count {
                    font-size: 12px;
                }
            }
        }

        .bottom-panel {
            display: block;
            padding: 15px;
            text-align: center;
        }

        .description {
            padding: 0 0 15px;
        }

        .button-wrap {
            max-width: 260px;
            margin: 0 auto;
        }

        .cost {
            text-align: center;
        }
    }


    /***/

    .pagination {
        justify-content: center;
        margin-left: -10px;

        &--item {
            min-width: 50px;
            min-height: 50px;
            margin: 10px 0 0 10px;
        }
    }
}


@media (max-width: 1025px) {
    
    .product-list-wrap {

        .column-wrap {
            display: block;
        }

        .column:nth-child(2) {
            padding-top: 10px;
        }
    }

    .filters {

        .checkbox-group {

            .checkbox {
                max-width: calc(33.333% - 10px);
            }
        }
    }

    .product-list {

        &--item {
            margin-top: 10px;
        }
    }

    .pagination {
        margin-top: 20px;
    }

    .events-wrap {
        margin-left: -40px;
        margin-right: -40px;
        padding: 0 40px;
        background: none;
        box-shadow: none;
    }

    .events-list {

        .swiper-wrapper {
            display: flex;
        }

        &--item {
            margin: 0;
            padding: 30px 20px;
            background: $white;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        .pagination {
            display: flex;
            margin-top: 40px;
        }
    }
}

@media (max-width: 769px) {

    .product-list-wrap {
        margin-top: 40px;

        .top-image-bg {
            top: 54px;
            max-width: 70vw;
        }

        .column-wrap {
            margin-top: 243px;
        }
    }

    .events-wrap {
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px;
    }

    .events-list--item {
        max-width: calc(100vw - 20px);
    }
}


@media (max-width: 561px) {

    .product-list-wrap {

        .top-image-bg {
            max-width: 100vw;
        }

        .bottom-image-bg {
            position: absolute;
            left: 0;
            bottom: -310px;
            width: 100%;
            height: 400px;
            overflow: hidden;

            img {
                max-width: 470px;
                bottom: 0;
                left: 0;
            }

            img:nth-child(2) {
                max-width: 100%;
                bottom: 0;
            }
        }
    }

    .product-list--item {

        .top-panel {

            .date {
                padding-left: 10px;
                font-size: 12px;
            }
        }

        .person-wrap {
            justify-content: center;
        }

        .btn {
            width: 100%;
        }
    }

    .pagination {

        .next,
        .prev {
            display: none;
        }
    }

    .filters {

        .wrap {
            padding: 0 0 10px;
            background: none;
            box-shadow: none;

            &.open-filters {

                .checkbox-group-wrap {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }

        .title-wrap {
            display: none;
        }
        
        .mobile-btn {
            display: flex;
        }

        .checkbox-group-wrap {
            position: absolute;
            top: 60px;
            left: 0;
            padding: 20px;
            background: $white;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            transition: .3s;
            opacity: 0;
            pointer-events: none;
            z-index: 99;
        }

        .checkbox-group {
            max-height: 400px;
            margin-top: 0;
            overflow: auto;

            &:first-child {
                margin-top: 0;
            }

            .checkbox {
                max-width: calc(100% - 10px);
            }

            .checkbox:first-child {
                margin-top: 0;
            }

            .btn {
                display: none;
            }
        }

        .bottom-panel {
            border-radius: 10px;
        }
    }

    .events-list {

        &--item {
                width: calc(100% - 10px);
        }
    }
}