@import '_var.scss';

.left-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    padding: 150px 0 50px;
    background: $white;
    border-right: 1px solid $grayLight;
    z-index: 5;

    .wrap {
        max-height: 100%;
        min-height: 100%;
        padding: 0 20px;
        overflow: auto;
    }

    .social-list {
        margin-top: 9vh;
        
        .social-list--item {
            display: block;
            margin-top: 44px;
            font-size: 24px;
            text-align: center;
            opacity: 1;

            &:first-child {
                margin-top: 0;
            }

            &::before {
                color: $blueLighterBorder;
                transition: .3s;
            }

            .path1:before {
                transition: .3s;
            }

            &:hover:before,
            .path1:hover:before {
                color: $linkColor;
            }
        }        
    }
}

.link-list {

    .link-list--item {
        display: block;
        margin-top: 54px;
        font-size: 24px;
        text-align: center;
        opacity: 1;

        &:first-child {
            margin-top: 0;
        }

        &::before {
            color: $blueLighterBorder;
            transition: .3s;
        }

        &:hover:before,
        &.active:before {
            color: $linkColor;
        }
    }

    .more-btn {
        position: relative;
        width: 100%;
        width: 24px;
        height: 24px;
        margin-left: auto;
        margin-right: auto;        
        cursor: pointer;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 4px;
            height: 4px;
            margin: auto;
            background-color: $blueLighterBorder;
            border-radius: 50%;
        }

        span::before,
        span::after {
            content: '';
            position: absolute;
            width: 4px;
            height: 4px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $blueLighterBorder;
            border-radius: 50%;
        }

        span::before {
            top: -8px;
        }

        span::after {
            bottom: -8px;
        }
    }
}

.left-panel + .wrapper {
    position: relative;
    padding-left: 100px;
    z-index: 1;

    .first-image-bg {
        left: 100px;
        max-width: calc(100% - 100px);
    }
}


.column-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;

    .column {
        flex: 1;
        max-width: 400px;
        margin-left: 20px;

        &:nth-of-type(2) {
            max-width: 100%;
        }
    }
}


.first-image-bg {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    z-index: -1;

    img {
        width: 100%;
        min-height: 100vh;
        object-fit: cover;
    }
}


/*** Hero block ***/

.main-page {

    .hero-block {

       .title {
            font-size: 64px;
            line-height: 140%;
            color: $themeColor;
        }

        .description {
            font-family: $textFontMedium;
        }
    }
}

.hero-block {
    display: flex;

    .wrap {
        max-width: 1480px;
        margin: 0 auto;
        padding: 90px 0 140px;
    }

    .info {
        max-width: 530px;
    }

    .icon-check-big {
        margin-bottom: 16px;
        font-size: 90px;
    }

    .description {
        margin-top: 20px;
    }

    .btn {
        width: auto;
        max-width: 238px;
        margin-top: 46px;
    }

    .form {
        max-width: 425px;
        margin-top: 60px;

        .checkbox {
            align-items: center;
            margin-top: 23px;

            input:checked + .icon {
                background: $red;
                border-color: $red;
            }

            .icon {
                background-color: $white;
                border-color: $borderColor;
            }
            
            .label {
                color: $blueDark;
                font-size: 12px;
                line-height: 140%;
            }
        }

        .btn {
            display: flex;
            width: 100%;
            max-width: 238px;
            margin-top: 23px;
        }

        .link {
            display: block;            
            margin: 27px auto 0;
            font-family: $textFontBold;
            color: $red;
            font-size: 14px;
            
            span {
                border-bottom: 1px dashed;
            }
        }
    }

    .tabs {
        max-width: 880px;
        margin-top: 55px;
    }

    .question-block {
        max-width: 880px;
    }
}


/***/

.slider-list-wrap {
    margin: 0 -20px -25px;
    padding: 130px 20px 65px;
    overflow: hidden;
}

.slider-list {
    position: relative;
    margin: 86px 0 0;

    &:first-child {
        margin-top: 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .swiper-wrapper {
        height: auto;
        padding: 25px 0;
    }

    .pagination {
        position: absolute;
        top: -120px;
        bottom: auto;
        right: 0;
        left: auto;
        width: auto;
        text-align: right;
        z-index: 9;

        .swiper-pagination-bullet {
            width: 20px;
            height: 10px;
            margin: 0 7px;
            background: $blueLighterBorder;
            border-radius: 4px;
            opacity: 1;
            cursor: pointer;
        }

        .swiper-pagination-bullet-active {
            background: $red;
        }
    }

    &--item {
        padding: 40px;
        background: $white;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    &--item.event {
        padding: 50px 0 0;

        table td {
            width: 33.333%;
        }
    }

    .person {
        display: flex;
        align-items: center;

        .image {
            position: relative;
            display: flex;
            width: 80px;
            height: 80px;
            margin-right: 24px;

            img {
                margin: auto;
                border-radius: 50%;
            }
        }

        .num {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 4px 11px 1px;
            background-color: $themeColor;
            font-family: $textFontBold;
            font-feature-settings: 'pnum' on, 'lnum' on;
            font-size: 14px;
            color: $white;
            border-radius: 50%;
        }

        .name {
            font-family: $textFontBold;
            font-size: 20px;
            line-height: 114.68%;
            text-transform: capitalize;
        }

        .parameters {
            display: flex;
            flex-wrap: wrap;
            margin: 0 0 0 -10px;

            &--item {
                margin: 10px 0 0 10px;
                font-size: 20px;
            }
        }
    }

    .time-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 40px 30px;

        .image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
        }

        img {
            max-height: 100%;
        }

        .time {
            padding: 0 10px;
            font-family: $textFontBold;
            line-height: 140%;
            text-transform: capitalize;
            font-feature-settings: 'pnum' on, 'lnum' on;
            text-align: center;
            z-index: 5;

            span {
                font-size: 21px;
            }

            .label {
                font-size: 16px;
            }
        }
    }

    .category {
        padding: 0 20px;
        font-family: $textFontBold;
        color: $blueLight;
        font-size: 12px;
        line-height: 140%;
        text-align: center;
        text-transform: capitalize;
    }

    .title {
        margin-top: 8px;
        padding: 0 20px 14px;
        font-family: $textFontBold;
        font-size: 16px;
        line-height: 140%;
        color: $blue;
        text-align: center;
        text-transform: capitalize;
    }

    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
        text-align: center;

        &.border-top {
            border-top: 1px solid $grayLight;
        }

        tr {

            &:first-child {
                
                td {
                    border-top: 0;
                }
            }
        }

        td {
            border-top: 1px solid $grayLight;
            border-left: 1px solid $grayLight;
            font-family: $textFontBold;
            font-size: 14px;
            line-height: 140%;

            &:first-child {
                border-left: 0;
            }
        }

        .info {
            padding: 20px 15px;
        }

        .label {
            color: $blueLight;
        }

        .value {
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $red;
        }
        
        .graph {
            padding: 20px 5px;
            background-image: linear-gradient(0deg, $grayLight 1.61%, $white 1.61%, $white 50%, $grayLight 50%, $grayLight 51.61%, $white 51.61%, $white 100%);
            background-size: 61px 61px;
        }
    }
}


/*** Statistic ***/

.statistic-list-wrap {
    position: relative;

    .image-bg {
        position: absolute;
        top: -120px;
        right: 0;
        z-index: -1;
    }
}

.statistic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin: 40px auto 0;

    &--item {
        flex: 100%;
        max-width: 20%;
        padding: 25px 20px 0 0;
    }

    .count {
        font-family: $titleFontExtraBold;
        font-weight: 800;
        font-size: 64px;
        line-height: 140%;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
    
    .label {
        max-width: 150px;
        margin-top: 9px;
        font-family: $textFontBold;
        font-size: 14px;
        line-height: 140%;
    }
}


.question-block {
    display: flex;
    margin-top: 50px;
    padding: 35px;
    background: $blueLighterOther;
    color: $themeColor;
    border-radius: 5px;

    &:first-child {
        margin-top: 0;
    }

    .icon {
        margin-right: 25px;
        font-size: 28px;
    }

    .title {
        color: $themeColor;
    }
}

@import '_product.scss';