@import '_var.scss';

.left-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    padding: 150px 0 50px;
    background: $white;
    border-right: 1px solid $grayLight;
    z-index: 5;

    .mCustomScrollBox {
        margin-left: 5px;
        margin-right: -10px;
    }

    .mCSB_inside>.mCSB_container {
        margin-right: 20px;
    }

    .wrap {
        max-height: 100%;
        min-height: 100%;
        padding: 0 20px;
        overflow: auto;
    }

    .social-list {
        margin-top: 9vh;
        
        .social-list--item {
            display: block;
            margin-top: 44px;
            font-size: 24px;
            text-align: center;
            opacity: 1;

            &:first-child {
                margin-top: 0;
            }

            &::before {
                color: $blueLighterBorder;
                transition: .3s;
            }

            .path1:before {
                transition: .3s;
            }

            &:hover:before,
            .path1:hover:before {
                color: $linkColor;
            }
        }        
    }
}

.link-list {

    .link-list--item {
        display: block;
        margin-top: 54px;
        font-size: 24px;
        text-align: center;
        opacity: 1;

        &:first-child {
            margin-top: 0;
        }

        &::before {
            color: $blueLighterBorder;
            transition: .3s;
        }

        &:hover:before,
        &.active:before {
            color: $linkColor;
        }
    }

    .more-btn {
        position: relative;
        width: 100%;
        width: 24px;
        height: 24px;
        margin-left: auto;
        margin-right: auto;        
        cursor: pointer;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 4px;
            height: 4px;
            margin: auto;
            background-color: $blueLighterBorder;
            border-radius: 50%;
        }

        span::before,
        span::after {
            content: '';
            position: absolute;
            width: 4px;
            height: 4px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $blueLighterBorder;
            border-radius: 50%;
        }

        span::before {
            top: -8px;
        }

        span::after {
            bottom: -8px;
        }
    }
}

.left-panel + .wrapper {
    position: relative;
    padding-left: 100px;
    z-index: 1;

    .first-image-bg {
        left: 100px;
        max-width: calc(100% - 100px);
    }
}


.column-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;

    .column {
        flex: 1;
        max-width: 400px;
        margin-left: 20px;

        &:nth-of-type(2) {
            max-width: 100%;
        }

        &.wide {
            max-width: 816px;
        }

        &.sidebar {
            max-width: 400px;
        }

        .events-wrap {
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }

        &.narrow {
            max-width: 400px;
        }
    }
}

.sidebar {

    .post-list {
        display: block;
        margin: 0;

        .post--item {
            max-width: 100%;
            margin: 20px 0 0;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}


.first-image-bg {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    text-align: right;
    z-index: -1;

    &.half-right {

        img {
            max-width: 50vw;
        }
    }

    &.wide {

        img {
            margin: 0 !important;
        }
    }

    img {
        min-height: 100vh;
        object-fit: cover;
    }

    .mobile {
        display: none;
    }
}


/*** Hero block ***/

.main-page {

    .hero-block {

        .wrap {
            max-width: 1480px;
            margin: 0 auto;
            padding-top: 163px;
            padding-bottom: 140px;
        }

       .title {
            font-size: 64px;
            line-height: 140%;
            color: $themeColor;
        }

        .description {
            margin-top: 20px;
            font-family: $textFontMedium;
        }

        ul li {
            display: flex;
        }

        .form {
            max-width: 425px;
            margin-top: 60px;
    
            .checkbox {
                align-items: center;
                margin-top: 23px;
    
                input:checked + .icon {
                    background: $red;
                    border-color: $red;
                }
    
                .icon {
                    background-color: $white;
                    border-color: $borderColor;
                }
                
                .label {
                    color: $blueDark;
                    font-size: 12px;
                    line-height: 140%;
                }
            }
    
            .btn {
                display: flex;
                width: 100%;
                max-width: 238px;
                margin-top: 23px;
            }

            .link {
                display: block;            
                margin: 27px auto 0;
                font-family: $textFontBold;
                color: $red;
                font-size: 14px;
                
                span {
                    border-bottom: 1px dashed;
                }
            }
        }
    }
}

.hero-block {
    display: flex;

    .wrap {
        max-width: 1480px;
        margin: 0 auto;
        padding-top: 90px;

        &.wide {
            max-width: 100%;

            .title-wrap {
                max-width: 100%;
            }
        }
    }

    .back-link {
        font-size: 28px;
    }

    .info {
        max-width: 530px;
    }

    .icon-check-big {
        margin-bottom: 16px;
        font-size: 90px;
    }

    .description {
        max-width: 880px;
        margin-top: 55px;
    }

    .tabs {
        max-width: 880px;
        margin-top: 55px;
    }

    .question-block {
        max-width: 880px;
    }


    .statistic-list {
        justify-content: flex-start;
        margin-top: 40px;
        overflow: hidden;

        &--item {
            max-width: 33.333%;
            margin-bottom: -1px;
            padding: 50px 50px 50px 70px;
            border-bottom: 1px solid $grayLight;
            border-left: 1px solid $grayLight;

            &:first-child {
                padding-left: 0;
                border-top: 0;
                border-left: 0;
            }

            &:nth-child(3n + 4) {
                padding-left: 0;
                border-left: 0;
            }
        }
    }

    .btn {
        margin-top: 46px;
    }

    .search {
        position: relative;
        max-width: 425px;
        margin: 45px 0 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $white;
            border-radius: 10px;
            opacity: .8;
            z-index: 1;
        }

        input {
            position: relative;
            padding-right: 60px;
            background: none;
            color: $linkColor;
            z-index: 5;
        }
        
        button {
            position: absolute;
            top: 50%;
            right: 18;
            transform: translateY(-50%);
            background: none;
            font-size: 24px;            
            border: 0;
            cursor: pointer;
            z-index: 5;

            &::before {
                color: $red;
            }
        }
    }
    
}


/***/

.success-block {

    .btn {
        min-height: 54px;
        line-height: 54px;
    }
}


/***/

.description-block {

    &.white {
        padding: 90px;
        background: $white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    img {
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }
    }

    a {
        display: inline-block;
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }
    }
    
    ol {
        
        li {
            position: relative;
            padding-left: 50px;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    ul {

        li {
            position: relative;
            padding-left: 50px;
    
            &::before {
                content: '\e937';
                position: absolute;
                top: 0;
                left: 0;
                font-family: "icomoon";
                font-size: 19px;
            }
        }
    }
}

.block-image {
    margin-top: 30px;
    padding: 40px 40px 24px;
    background-color: $bgBlock;
    text-align: center;

    &:first-child {
        margin-top: 0;
    }

    span {
        display: block;
        margin-top: 24px;
        font-family: $textFontBold;
        font-size: 16px;
        line-height: 160%;
    }
}

.review-block {
    margin-top: 30px;
    padding: 40px;
    background-color: $bgBlock;
    text-align: center;

    &:first-child {
        margin-top: 0;
    }

    p {
        font-style: italic;
    }

    .name {
        margin-top: 30px;
        line-height: 160%;
        font-family: $textFontBold;
    }

    .job {
        font-family: $textFontBold;
        font-size: 12px;
        line-height: 160%;
    }
}


/***/

.slider-list-wrap {
    margin: 0 -20px -25px;
    padding: 130px 20px 65px;
    overflow: hidden;
}

.slider-list {
    position: relative;
    margin: 86px 0 0;

    &:first-child {
        margin-top: 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .swiper-wrapper {
        height: auto;
        padding: 25px 0;
    }

    .pagination {
        position: absolute;
        top: -120px;
        bottom: auto;
        right: 0;
        left: auto;
        width: auto;
        text-align: right;
        z-index: 9;

        .swiper-pagination-bullet {
            width: 20px;
            height: 10px;
            margin: 0 7px;
            background: $blueLighterBorder;
            border-radius: 4px;
            opacity: 1;
            cursor: pointer;
        }

        .swiper-pagination-bullet-active {
            background: $red;
        }
    }

    &--item {
        padding: 40px;
        background: $white;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    &--item.event {
        padding: 50px 0 0;

        table td {
            width: 20%;
        }
    }

    .person {
        display: flex;
        align-items: center;

        .image {
            position: relative;
            display: flex;
            width: 80px;
            height: 80px;
            margin-right: 24px;

            img {
                margin: auto;
                border-radius: 50%;
            }
        }

        .num {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 4px 11px 1px;
            background-color: $themeColor;
            font-family: $textFontBold;
            font-feature-settings: 'pnum' on, 'lnum' on;
            font-size: 14px;
            color: $white;
            border-radius: 50%;
        }

        .name {
            font-family: $textFontBold;
            font-size: 20px;
            line-height: 114.68%;
            text-transform: capitalize;
        }

        .parameters {
            display: flex;
            flex-wrap: wrap;
            margin: 0 0 0 -10px;

            &--item {
                margin: 10px 0 0 10px;
                font-size: 20px;
            }
        }
    }

    .time-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 40px 30px;

        .image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
        }

        img {
            max-height: 100%;
        }

        .time {
            padding: 0 10px;
            font-family: $textFontBold;
            line-height: 140%;
            text-transform: capitalize;
            font-feature-settings: 'pnum' on, 'lnum' on;
            text-align: center;
            z-index: 5;

            span {
                font-size: 21px;
            }

            .label {
                font-size: 16px;
            }
        }
    }

    .category {
        padding: 0 20px;
        font-family: $textFontBold;
        color: $blueLight;
        font-size: 12px;
        line-height: 140%;
        text-align: center;
        text-transform: capitalize;
    }

    .title {
        margin-top: 8px;
        padding: 0 20px 14px;
        font-family: $textFontBold;
        font-size: 16px;
        line-height: 140%;
        color: $blue;
        text-align: center;
        text-transform: capitalize;
    }

    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
        text-align: center;
        border: 0;

        &.border-top {
            border-top: 1px solid $grayLight;
        }

        tr {

            &:first-child {
                
                td {
                    border-top: 0;
                }
            }
        }

        td {
            border-top: 1px solid $grayLight;
            border-left: 1px solid $grayLight;
            font-family: $textFontBold;
            font-size: 14px;
            line-height: 140%;

            &:first-child {
                border-left: 0;
            }
        }

        .info {
            padding: 20px 15px;
        }

        .label {
            color: $blueLight;
        }

        .value {
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $red;
        }
        
        .graph {
            padding: 20px 5px;
            background-image: linear-gradient(0deg, $grayLight 1.61%, $white 1.61%, $white 50%, $grayLight 50%, $grayLight 51.61%, $white 51.61%, $white 100%);
            background-size: 61px 61px;
        }
    }
}


.slider-sidebar-wrap {
    margin: 20px 0 0;
    padding: 35px 0 30px;
    background: $white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &:first-child {
        margin-top: 0;
    }
    
    .title-wrap {
        padding: 0 40px;
        text-align: center;

        .title {
            display: inline-block;
            margin-right: 10px;
        }

        .sub-title {
            display: inline-block;
        }
    }

    .person {
        padding: 0 40px;
    }

    .pagination {
        position: relative;
        top: 0;
        justify-content: center;
        margin-top: 30px;
    }
}

.slider-sidebar {

    &.slider-list {
        margin-top: 20px;
        
        .swiper-wrapper {
            padding: 0;
        }

        .slider-list--item {
            padding: 0;
            background: none;
            box-shadow: none;
        }
    }
}


/*** Statistic ***/

.statistic-list-wrap {
    position: relative;

    .image-bg {
        position: absolute;
        top: -120px;
        right: 0;
        z-index: -1;
    }
}

.statistic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin: 40px auto 0;

    &--item {
        flex: 100%;
        max-width: 20%;
        padding: 25px 20px 0 0;
    }

    .count {
        font-family: $titleFontExtraBold;
        font-weight: 800;
        font-size: 64px;
        line-height: 140%;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
    
    .label {
        max-width: 150px;
        margin-top: 9px;
        font-family: $textFontBold;
        font-size: 14px;
        line-height: 140%;
    }
}


.question-block {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 35px;
    background: $blueLighterOther;
    color: $themeColor;
    border-radius: 5px;

    &:first-child {
        margin-top: 0;
    }

    .icon {
        margin-right: 25px;
        font-size: 28px;
    }

    .title {
        font-family: $textFontBold;
        font-size: 24px;
        line-height: 140%;
        color: $themeColor;
    }

    p {
        margin-top: 0;
        font-size: 18px;
        line-height: 200%;
        color: $linkColor;
    }
}


/*** Blocks list ***/

.blocks-list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 -30px;

    &--item {
        flex: 100%;
        max-width: calc(50% - 30px);
        margin: 30px 0 0 30px;
        padding: 50px 40px;
        background: $white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        &:nth-child(odd) {

            .icon::before {
                color: $red;
            }
        }
    }

    .icon {
        font-size: 100px;        

        &::before {
            color: $themeColor;
        }
    }

    .title {
        margin-top: 45px;
        font-family: $titleFontBold;
        font-size: 16px;
        line-height: 160%;
    }

    p {
        margin-top: 20px;
        font-size: 14px;
        line-height: 160%;
    }
}


.contact-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0 -30px;

    &--item {
        display: flex;
        align-items: center;
        flex: 100%;
        max-width: calc(50% - 30px);
        margin: 30px 0 0 30px;
        padding: 30px 40px;
        background: $white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        font-family: $titleFontBold;

        &:hover {
            opacity: .9;
        }
    }

    .icon {
        margin-right: 40px;
        font-size: 208%;
    }

    .title {
        display: block;
        font-size: 18px;
        line-height: 180%;
        color: $blueDark;
        text-align: left;
    }

    .link {
        display: block;
        font-size: 14px;
        line-height: 180%;
        font-style: 13px;
        color: $red;
    }
}


/*** Forcast block ***/

.forcast-block {
    padding: 40px;
    background: $white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    .main-cost {
        margin-top: 30px;
        padding: 24px 20px;
        background: $blueLighterOther;
        font-family: $textFontBold;
        font-size: 24px;
        line-height: 140%;
        color: $linkColor;
        text-transform: capitalize;
        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;
        border-radius: 5px;

        &:first-child {
            margin-top: 0;
        }
    }
    
    .description {
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }
    }

    table {

        &:first-child {
            margin-top: 0;
        }

        td:nth-of-type(2) {
            width: 60%;
        }
    }

    .mobile-block {
        display: none;
    }

    .table-block {
        margin-top: 10px;
    }
}

.person-block {
    padding: 35px 40px 40px;
    background: $white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    .title {
        padding: 0 20px 40px;
        text-align: center;
        text-transform: capitalize;
    }

    .person {
        display: flex;
        align-items: center;

        .image {
            position: relative;
            display: flex;
            width: 80px;
            height: 80px;
            margin-right: 24px;

            img {
                margin: auto;
                border-radius: 50%;
            }
        }

        .num {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 4px 11px 1px;
            background-color: $themeColor;
            font-family: $textFontBold;
            font-feature-settings: 'pnum' on, 'lnum' on;
            font-size: 14px;
            color: $white;
            border-radius: 50%;
        }

        .name {
            font-family: $textFontBold;
            font-size: 20px;
            line-height: 114.68%;
            text-transform: capitalize;
        }

        .parameters {
            display: flex;
            flex-wrap: wrap;
            margin: 0 0 0 -10px;

            &--item {
                margin: 10px 0 0 10px;
                font-size: 20px;
            }
        }
    }

    table {
        display: block;
        width: 100%;
        margin: 20px 0 0;
        border-collapse: collapse;
        text-align: center;
        border: 0;

        &.border-top {
            border-top: 1px solid $grayLight;
        }

        tr {

            &:first-child {
                
                td {
                    border-top: 0;
                }
            }
        }

        td {
            border-top: 1px solid $grayLight;
            border-left: 1px solid $grayLight;
            font-family: $textFontBold;
            font-size: 14px;
            line-height: 140%;

            &:first-child {
                border-left: 0;
            }
        }

        .info {
            padding: 20px 15px;
        }

        .label {
            font-size: 14px;
            color: $blueLight;
        }

        .value {
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $red;
        }
        
        .graph {
            padding: 20px 5px;
            background-image: linear-gradient(0deg, $grayLight 1.61%, $white 1.61%, $white 50%, $grayLight 50%, $grayLight 51.61%, $white 51.61%, $white 100%);
            background-size: 61px 61px;
        }
    }

    .link {
        display: inline-block;
        margin: 40px auto 0;
        font-family: $textFontBold;
        font-size: 14px;
        line-height: 120%;
    }

    .subscribe {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60px;
        margin: 40px 0 0;
        font-family: $textFontSemibold;
        font-size: 18px;
        line-height: 21px;
    }
}

.more-forcasts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 22px 40px 22px 50px;
    background: $themeColor;
    color: $white;
    font-family: $textFontSemibold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border-radius: 10px;

    &:first-child {
        margin-top: 0;
    }

    .label {
        padding-right: 7px;
    }

    .count {
        padding: 1px 9px 4px;
        background: $red;
        border-radius: 20px;
    }
}


.comments-block-wrap {
    margin-top: 107px;

    &:first-child {
        margin-top: 0;
    }
}

.comments-list {
    margin-top: 64px;

    &--item {
        display: flex;
        margin-top: 20px;
        padding-left: 37px;
        padding-right: 20px;

        &:first-child {
            margin-top: 0;
        }
    }

    &--item.answer {
        padding-right: 0;
        padding-left: 57px;

        .top-panel {
            color: $red;
        }
    }

    .wrap {
        display: flex;
        align-items: flex-start;
        width: 100%;
        padding: 20px 20px 36px 0;
        background: $blueLighterOther;
        border-radius: 10px;
    }

    .image {
        position: relative;
        margin: -20px 0 0 -37px;

        img {
            border-radius: 50%;
        }

        .count {
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background: $blue;
            font-family: $textFontBold;
            font-size: 14px;
            line-height: 114.68%;
            color: $white;
            text-transform: capitalize;
            font-feature-settings: 'pnum' on, 'lnum' on;
            border-radius: 50%;
        }
    }

    .info {
        flex: 1;
        padding-left: 30px;
    }

    .top-panel {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family: $textFontBold;
        color: $linkColor;
        font-size: 14px;
        font-feature-settings: 'pnum' on, 'lnum' on;

        .name {
            font-size: 16px;
        }
    }
    
    .text {
        margin-top: 15px;
    }

    .more-btn {
        width: 100%;
        margin-top: 20px;
        padding: 19px 20px;
        background: $blueLighterOther;
        font-family: $textFontBold;
        color: $linkColor;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;
        border-radius: 10px;
        cursor: pointer;
    }
}

.comment-form {
    margin-top: 47px;

    .btn {
        margin-top: 0;
    }
}

.paid-forecast {
    margin-top: 35px;
    text-align: center;

    .title {
        color: $linkColor;
    }

    .label {
        font-family: $textFontBold;
        font-size: 14px;
        line-height: 140%;
        color: $blueDark;
    }

    .statistic-wrap {
        margin-top: 15px;
    }

    .statistic {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        
        &--item {
            flex: 50%;
            padding-right: 35px;
            font-family: $textFontBold;
            font-size: 20px;
            line-height: 130%;
            font-feature-settings: 'pnum' on, 'lnum' on;
            text-align: right;

            &:nth-child(2n) {
                padding: 0 0 0 35px;
                border-left: 1px solid $borderColor;
                text-align: left;
            }

            span {
                display: block;
                font-size: 24px
            }
        }
    }


    .period-block {
        margin: 30px 0 0;
    }

    .radio-group {
        justify-content: center;
    }

    .cost-wrap {
        margin-top: 35px;

        .cost {
            margin-top: 20px;
            font-family: $titleFont;
            font-size: 32px;
            line-height: 140%;
            color: $themeColor;
        }
    }

    .btn {
        margin-top: 30px;
    }
}


/***/

.event-list-wrap {
    margin-top: 152px;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    margin: -20px 0 0 -20px;

    &--item {
        flex: 100%;
        max-width: calc(25% - 20px);
        margin: 20px 0 0 20px;
        padding: 40px 0 0;
        background: $white;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .time-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 40px 30px;

        .image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
        }

        img {
            max-height: 100%;
        }

        .time {
            padding: 0 10px;
            font-family: $textFontBold;
            line-height: 140%;
            text-transform: capitalize;
            font-feature-settings: 'pnum' on, 'lnum' on;
            text-align: center;
            z-index: 5;

            span {
                font-size: 21px;
            }

            .label {
                font-size: 16px;
            }
        }
    }

    .category {
        padding: 0 20px;
        font-family: $textFontBold;
        color: $blueLight;
        font-size: 12px;
        line-height: 140%;
        text-align: center;
        text-transform: capitalize;
    }

    .title {
        margin-top: 8px;
        padding: 0 20px 14px;
        font-family: $textFontBold;
        font-size: 16px;
        line-height: 140%;
        color: $blue;
        text-align: center;
        text-transform: capitalize;
    }

    table {
        display: block;
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
        text-align: center;
        border: 0;

        &.border-top {
            border-top: 1px solid $grayLight;
        }

        tr {

            &:first-child {
                
                td {
                    border-top: 0;
                }
            }
        }

        td {
            width: 28%;
            border-top: 1px solid $grayLight;
            border-left: 1px solid $grayLight;
            font-family: $textFontBold;
            font-size: 14px;
            line-height: 140%;

            &:first-child {
                border-left: 0;
            }

            &:nth-of-type(2) {
                width: 28%;
            }
        }

        .info {
            padding: 20px 15px;
        }

        .label {
            color: $blueLight;
        }

        .value {
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $red;
        }
        
        .graph {
            padding: 20px 5px;
            background-image: linear-gradient(0deg, $grayLight 1.61%, $white 1.61%, $white 50%, $grayLight 50%, $grayLight 51.61%, $white 51.61%, $white 100%);
            background-size: 61px 61px;
        }
    }
}


/*** Statistic table ***/

.statistic-table-wrap {
    margin-top: 170px;

    .radio-group .radio {
        max-width: 130px;
    }
}

.statistic-table {
    display: block;
    margin-top: 46px;
    background: $white;
    border: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;

    .blue {
        color: $themeColor;
    }

    tr {

        &:nth-child(odd) td,
        &:nth-child(odd) th {
            background: $blueLighterOther;
        }

        &:hover td {
            background: $themeColor;
            color: $white;

            .person .name,
            .title,
            .blue {
                color: $white;
            }
        }
    }

    th {
        padding: 20px 10px;
        font-family: $textFontBold;
        font-size: 12px;
        line-height: 140%;
        color: $linkColor;
        border-left: 0;
        cursor: pointer;

        &:first-child {
            padding-left: 40px;
        }

        &:last-child {

            .tooltip {
                left: auto;
                right: -20px;
                transform: translateX(0);

                &::before {
                    left: 90%;
                }
            }
        }

        &:nth-of-type(2) {
            text-align: left;
        }
    }

    td {
        width: 5%;
        padding: 15px 10px;
        font-family: $textFontSemibold;
        font-size: 15px;
        line-height: 140%;
        text-transform: capitalize;
        font-feature-settings: 'pnum' on, 'lnum' on;
        border: 0;

        &:first-child {
            width: 13%;
            padding-left: 40px;
        }

        &:nth-of-type(2) {
            width: 1%;
        }

        &:nth-of-type(3) {
            width: 7%;
        }

        &:nth-of-type(11) {
            width: 6%;
        }
    }

    .sort {
        display: flex;
        align-items: center;

        &.active {
            color: $red;

            &:after {
                border-bottom-color: $red;
                transform: rotate(180deg);
            }
        }

        &:after {
            content: '';
            margin-left: 5px;
            border-style: solid;
            border-width: 0 5px 8px;
            border-color: transparent transparent $linkColor;
        }
    }

    .person {
        display: flex;
        align-items: center;

        .image {
            min-height: 40px;
            margin-right: 15px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: contain;
            }
        }

        .name {
            color: $linkColor;
            font-size: 15px;
            line-height: 140%;
        }
    }

    .title {
        font-family: $textFontBold;
        font-size: 15px;
        color: $themeColor;
        text-transform: none;

        span {
            padding-right: 6px;
            vertical-align: middle;
        }

        .count {
            display: inline-block;
            vertical-align: middle;
            height: 20px;
            padding: 0 7px;
            background: $red;
            font-size: 12px;
            line-height: 20px;
            color: $white;
            font-feature-settings: 'pnum' on, 'lnum' on;
            border-radius: 5px;
        }
    }
}

.statistic-table-mobile {
    display: none;
    margin: 20px -40px 0;
    padding: 0 40px;
    overflow: hidden;

    &--item {
        padding: 30px 30px 20px;
        background: $white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .person {
        text-align: center;

        .image {
            position: relative;
            width: 80px;
            height: 80px;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: contain;
            }
        }

        .count {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 30px;
            height: 30px;
            min-width: 30px;
            background-color: $themeColor;
            font-family: $textFontBold;
            font-feature-settings: 'pnum' on, 'lnum' on;
            font-size: 14px;
            color: $white;
            border-radius: 50%;
        }

        .name {
            padding-top: 10px;
            font-family: $textFontBold;
            font-size: 20px;
            line-height: 114.68%;
        }

        .status {
            margin-top: 10px;
            font-family: $textFontBold;
            font-size: 16px;
            line-height: 114.68%;
            color: $red;
        }
    }

    .list {
        margin-top: 20px;
        padding-bottom: 10px;
        font-family: $textFontSemibold;
        font-size: 12px;
        text-transform: capitalize;
        font-feature-settings: 'pnum' on, 'lnum' on;

        &:first-child {
            margin-top: 0;
        }

        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .label {
            flex: 1;

            span {
                border-bottom: 1px dashed $borderBlueColor;
            }
        }

        .value {
            flex: 1;
            text-align: right;
        }
    }

    .status {
        font-family: $textFontBold;
        font-size: 12px;
        line-height: 140%;
        color: $themeColor;
    }

    .title {
        margin-top: 8px;
        font-family: $textFontBold;
        font-size: 15px;
        color: $themeColor;
        text-transform: none;

        span {
            padding-right: 6px;
            vertical-align: middle;
        }

        .count {
            display: inline-block;
            vertical-align: middle;
            height: 20px;
            padding: 0 7px;
            background: $red;
            font-size: 12px;
            line-height: 20px;
            color: $white;
            font-feature-settings: 'pnum' on, 'lnum' on;
            border-radius: 5px;
        }
    }

    .date {
        margin-top: 15px;
        font-family: $textFontSemibold;
        font-size: 12px;
        line-height: 140%;
        color: $blueDark;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    .pagination {
        position: relative;
        width: auto;
        margin-top: 40px;
        text-align: right;
        z-index: 9;

        .swiper-pagination-bullet {
            width: 4px;
            height: 4px;
            margin: 0 7px;
            background: $bulletBg;
            border-radius: 50%;
            opacity: 1;
            cursor: pointer;
        }

        .swiper-pagination-bullet-active {
            background: $red;
        }
    }
}

.chat-list {

    .statistic-table-mobile--item {
        padding: 20px;
    }
}


.statistics-list {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 0 -20px;

    &--item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 100%;
        max-width: calc(25% - 20px);
        margin: 20px 0 0 20px;
        padding: 30px;
        background: $white;
        font-family: $textFontBold;
        font-feature-settings: 'pnum' on, 'lnum' on;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .label {
        font-size: 14px;
        line-height: 150%;
        text-transform: capitalize;
    }

    .value {
        font-size: 24px;
        line-height: 150%;
        color: $red;
    }
}


/*** Experts ***/

.experts-list-wrap {
    margin-top: 93px;
}

.experts-list {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 0 -20px;

    &--item {
        flex: 100%;
        max-width: calc(25% - 20px);
        margin: 20px 0 0 20px;
        padding: 40px;
        background: $white;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .person {
        display: flex;
        align-items: center;

        .image {
            position: relative;
            display: flex;
            width: 80px;
            height: 80px;
            margin-right: 24px;

            img {
                margin: auto;
                border-radius: 50%;
            }
        }

        .num {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 30px;
            height: 30px;
            background-color: $themeColor;
            font-family: $textFontBold;
            font-feature-settings: 'pnum' on, 'lnum' on;
            font-size: 14px;
            color: $white;
            border-radius: 50%;
        }

        .name {
            font-family: $textFontBold;
            font-size: 20px;
            line-height: 114.68%;
            text-transform: capitalize;
        }

        .parameters {
            display: flex;
            flex-wrap: wrap;
            margin: 0 0 0 -10px;

            &--item {
                margin: 10px 0 0 10px;
                font-size: 20px;
            }
        }
    }

    .title {
        margin-top: 8px;
        padding: 0 20px 14px;
        font-family: $textFontBold;
        font-size: 16px;
        line-height: 140%;
        color: $blue;
        text-align: center;
        text-transform: capitalize;
    }

    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
        text-align: center;
        border: 0;

        &.border-top {
            border-top: 1px solid $grayLight;
        }

        tr {

            &:first-child {
                
                td {
                    border-top: 0;
                }
            }
        }

        td {
            padding: 0;
            border-top: 1px solid $grayLight;
            border-left: 1px solid $grayLight;
            font-family: $textFontBold;
            font-size: 14px;
            line-height: 140%;

            &:first-child {
                border-left: 0;
            }
        }

        .info {
            padding: 20px 15px;
        }

        .label {
            color: $blueLight;
        }

        .value {
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $red;
        }
        
        .graph {
            padding: 23px 5px;
            background-image: linear-gradient(0deg, $grayLight 1.61%, $white 1.61%, $white 50%, $grayLight 50%, $grayLight 51.61%, $white 51.61%, $white 100%);
            background-size: 61px 61px;
        }
    }
}


/*** Expert detail ***/

.person-card {
    display: flex;
    align-items: flex-start;
    margin-top: 90px;

    .card {
        flex: 1;
        max-width: 320px;
        padding: 45px 45px 40px;
        background: $white;
        text-align: center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        .title-wrap {
            display: none;
        }

        .image {
            position: relative;
            max-width: 230px;
            margin: 0 auto;
            padding-top: 25px;
            text-align: center;

            img {
                width: 170px;
                height: 170px;
                object-fit: contain;
            }
        }

        .count {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            padding: 0 0 5px;
            background: $blue;
            font-family: $textFontBold;
            font-size: 20px;
            line-height: 114.68%;
            color: $white;
            border-radius: 50%;
        }

        .button-wrap {
            margin-top: 40px;
        }
        
        .btn {
            width: 100%;
            max-width: 400px;
            margin-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 15px;
            border-radius: 10px;

            &:first-child {
                margin-top: 0;
            }
        }

        .cost {
            margin-top: 22px;
            font-family: $textFontBold;
            font-size: 24px;
            line-height: 34px;
            font-variant: small-caps;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }

        .link {
            font-family: $textFontBold;
            font-size: 12px;
            line-height: 180%;
        }
    }

    .person-card-info {
        flex: 1;
        padding-left: 60px;

        .title {
            margin-top: 30px;
            font-family: $titleFont;
            font-size: 64px;
            line-height: 140%;
        }
    }
}

.advantages {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 0 -20px;

    &--item {
        display: flex;
        align-items: center;
        flex: 100%;
        max-width: 216px;
        margin: 20px 0 0 20px;
        padding: 16px;
        background: $blueLighterOther;
        border-radius: 5px;
    }

    .icon {
        margin-right: 10px;
        font-size: 18px;
        
        &::before {
            color: $red;
        }
    }

    .text {
        font-family: $textFontBold;
        font-size: 14px;
        line-height: 110%;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
}

/***/

.stattable {
    display: flex;
    margin: 60px 0 0;
    padding: 70px 80px 80px;
    background: $white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.graph-block {
    flex: 1;
    padding-right: 40px;

    .top-panel {
        display: flex;
        justify-content: space-between;
    }

    .controls {
        display: flex;
        align-items: center;
        margin: -10px 0 0 -10px;

        &--item {
            margin: 10px 0 0 10px;
        }
    }

    .title {
        padding-right: 20px;
        font-family: $titleFont;
        font-size: 28px;
        line-height: 140%;
    }

    .datepicker-wrap {
        max-width: 140px;
    }

    .btn {
        margin: 0;
        padding: 12px 26px;
        font-size: 13px;
        line-height: normal;
    }

    #chartdiv {
        height: 556px;
        margin-top: 50px;
    }

    .amcharts-scrollbar-chart-div {
        display: none;
    }
}

.latest-predictions {
    flex: 1;
    max-width: 360px;

    .title {
        font-family: $titleFont;
        font-size: 28px;
        line-height: 140%;
    }

    table {
        margin-top: 30px;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        text-transform: capitalize;
        font-feature-settings: 'pnum' on, 'lnum' on;
        border: 0;
        border-bottom: 1px;

        th:nth-of-type(2),
        td:nth-of-type(2) {
            width: 33.333%;
        }

        th {
            width: 33.333%;
            color: $blueLight;
            text-align: center;
        }

        td {
            width: 33.333%;
            font-family: $textFontSemibold;
            font-size: 16px;
            line-height: 130%;
        }

        .icon {
            margin-left: 20px;
            font-size: 17px;
        }

        .up {
            font-family: $textFontBold;
            color: $themeColor;
        }

        .down {
            font-family: $textFontBold;
            color: $red;
        }
    }
}


/*** Partners page ***/

.partners-link-wrap {
    margin-top: 40px;

    .label {
        font-family: $textFontBold;
        font-size: 18px;
        line-height: 140%;

        .link {
            display: none;
        }
    }

    .partners-link {
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 20px;
    }

    .input-wrap {
        width: 100%;
        max-width: 428px;
        
        .icon {
            position: absolute;
            top: 50%;
            right: 18px;
            transform: translateY(-50%);
            font-size: 24px;
        }

        .input {
            padding-left: 20px;
            padding-right: 50px;
        }
    }

    .link {
        margin-left: 25px;
        font-family: $textFontBold;
        font-size: 14px;
        line-height: 16px;
        color: $red;
        cursor: pointer;
    }
}

.information-block {
    display: flex;
    max-width: 800px;
    margin-top: 80px;

    &:first-child {
        margin-top: 0;
    }

    .icon {
        margin-right: 30px;
        font-size: 28px;
        line-height: 70px;
        color: $red;

        span {
            font-family: $textFontBold;
            font-size: 48px;
            line-height: 140%;
        }
    }

    .title,
    p {
        color: $linkColor;
    }

    .title {
        font-family: $textFontBold;
        font-size: 24px;
        line-height: 140%;
    }

    p {
        margin: 5px 0 0;
        font-family: $RalewayMedium;
        font-size: 18px;
        line-height: 33px;
    }

    a {
        color: $red;
    }
}


/*** Bonuse page ***/

.bonuse-block {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0 0 -20px;

    &--item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 100%;
        max-width: calc(50% - 20px);
        margin: 20px 0 0 20px;
        padding: 60px 50px 60px 70px;
        background: $white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .info {
        padding-right: 20px;
    }

    .cost {
        margin-top: 25px;
        font-family: $titleFont;
        font-size: 42px;
        line-height: 42px;
    }

    .link {
        display: block;
        margin-top: 20px;
        font-family: $textFontBold;
        font-size: 14px;
    }

    .btn {
        width: 100%;
        max-width: 230px;
        margin-top: 25px;
    }
}


/*** Chat page ***/

.chat-controls {
    display: flex;
    justify-content: space-between;

    .left-block {
        
        .btn {
            padding: 6px 45px;
        }
    }

    .btn {
        min-height: 50px;
        margin-left: 10px;
        font-family: $textFontSemibold;
        font-size: 18px;
        line-height: 50px;

        &:first-child {
            margin-left: 0;
        }

        &-shadow {
            font-family: $textFontBold;
            font-size: 16px;
            line-height: 37px;
        }
    }
}

.chat-detail-block {
    display: flex;

    .column {
        flex: 1;

        &.narrow {
            max-width: 430px;
            margin-left: 50px;
        }
    }
}

.ticket-block {
    padding: 40px 45px 45px;
    background: $blueLighterOther;
    font-family: $textFontSemibold;
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    border-radius: 4px;

    .title {
        font-family: $titleFont;
        font-size: 18px;
        line-height: 22px;
        color: $themeColor;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    span {
        display: block;
        padding-top: 20px;
    }

    p {
        margin-top: 20px;
        font-size: 14px;
        line-height: 135%;
    }

    a {
        display: block;
        padding-top: 20px;

        span {
            display: inline;
        }
    }
}


/*** Alert list ***/

.alert-list {
    display: flex;
    flex-wrap: wrap;
    margin: -20px 0 0 -20px;

    &--item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 100%;
        max-width: calc(25% - 20px);
        margin: 20px 0 0 20px;
        padding: 30px;
        background: $white;
        font-feature-settings: 'pnum' on, 'lnum' on;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .title {
        font-family: $textFontBold;
        font-size: 16px;
        line-height: 150%;
        color: $themeColor;
    }

    p {
        margin-top: 15px;
        font-size: 16px;
        line-height: 150%;
    }

    .date {
        margin-top: 140px;
        font-family: $textFontBold;
        font-size: 14px;
        line-height: 150%;
        color: $themeColor;
    }
}


/*** Projections list ***/

.projections-list {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 0 -20px;

    &--item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 100%;
        max-width: calc(25% - 20px);
        min-height: 340px;
        margin: 20px 0 0 20px;
        padding: 40px;
        background: $white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        &.add-event {
            cursor: pointer;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 230px;
                font-size: 34px;
            }

            .link {
                justify-self: flex-end;
            }
        }

        &.add-forecast {
            background: $blue;
            color: $white;

            .title {
                font-family: $titleFont;
                color: $white;
            }
        }
    }

    .title {
        font-family: $textFontBold;
        font-size: 24px;
        line-height: 140%;
        text-transform: capitalize;
        color: $blue;
    }

    .row {
        margin-top: 10px;

        span {
            display: block;
            margin-top: 3px;
        }
    }

    span {
        font-family: $textFontBold;
        font-size: 14px;
        line-height: 140%;
        color: $blueLight;
        font-feature-settings: 'pnum' on, 'lnum' on;
        text-transform: capitalize;
    }

    .description {
        margin-top: 30px;
        font-family: $textFontBold;
        font-size: 14px;
        line-height: 140%;
        color: $blueLight;
        text-transform: capitalize;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    .bottom-block {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    .id {
        font-family: $textFontSemibold;
        font-size: 14px;
        line-height: 140%;
        text-transform: capitalize;
        color: $blue;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    .controls {
        display: flex;
        flex-wrap: wrap;
        margin: -20px 0 0 -20px;

        &--item {
            margin: 20px 0 0 20px;
            font-size: 24px;
            cursor: pointer;
        }
    }

    .total-forecast {
        
        .label {
            font-family: $titleFont;
            font-size: 32px;
            line-height: 100%;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }

        .total {
            margin-top: 5px;
            font-family: $titleFont;
            font-size: 64px;
            line-height: 100%;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }
    }

    .btn {
        padding: 0 10px;
        font-size: 14px;
    }
}


/*** Event create modal ***/

.event-create {

    .list-selected {
        margin: 20px 0 0;
        font-family: $textFontSemibold;
        font-size: 18px;
        line-height: 140%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $blueLight;

        &--item {
            position: relative;
            margin-left: 5px;

            &::before {
                content: "\\";
                margin-right: 5px;
                vertical-align: middle;
            }

            &:first-child {
                margin-left: 0;

                &::before {
                    display: none;
                }
            }
        }
    }

    form {
        margin: 25px 0 0;

        &.first-tab {

            .button-wrap {
                display: none;
            }
        }

        &.last-tab {
            
            .btn {
                display: inline-block;
            }
        }
    }

    .event-create-tab {
        display: none;
        min-height: 300px;

        &.active {
            display: block;
        }
    }

    .checkbox-group {
    
        .checkbox {
    
            input:checked + .label {
                background: $blue;
                color: $white;
            }
        }
    }

    .button-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    .prev-event-create-tab {
        display: flex;
        align-items: center;
        cursor: pointer;

        .icon {
            font-size: 18px;
        }

        .count {
            margin-left: 20px;
            font-family: $textFontSemibold;
            font-size: 18px;
            line-height: 140%;
            color: $blueLight;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }
    }

    .btn {
        display: none;
        width: 100%;
        max-width: 238px;
    }
}


/*** Forecast create modal ***/

.forecast-create {
    margin: 50px 0 0;

    textarea {
        height: 330px;
    }

    .bet-amount {
        margin: 30px 0 0;
        text-align: center;

        .title {
            font-size: 24px;
            line-height: 140%;
        }

        .sub-title {
            font-family: $textFontMedium;
            font-size: 18px;
            line-height: 140%;
            color: $blueLight;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }

        .total {
            margin-top: 20px;
            font-family: $titleFont;
            font-size: 36px;
            line-height: 140%;
        }

        .range {
            margin-top: 20px;
        }
    }

    .button-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;

        .checkbox {

            .icon {
                border-color: $borderColor;
            }

            input:checked + .icon {
                border-color: $red;
            }
            
            .label {
                color: $blueDark;
            }
        }
    }
}


@import '_product.scss',
        '_blog.scss',
        '_cabinet.scss';