@import '_var.scss';

* {
    min-height: 0;
    min-width: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
    min-height: 100%;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: $textFont;
    font-size: 16px;
    line-height: 160%;
    color: $blueDark;
    font-weight: normal;
    overflow-x: hidden;
}

.main-page {

    .wrapper {
        padding-bottom: 100px;
    }
}

.wrapper {
    position: relative;
    min-height: calc(100vh - 100px);
    margin-top: 100px;
    z-index: 9;
}

.container-block {
    width: 100%;
    max-width: 1732px;
    margin: auto;
    padding: 0 40px;
}

.content-block {
    width: 100%;
    max-width: 1560px;
    margin: auto;
    padding: 0 40px;
}

.max-550 {
    max-width: 550px;
}

.max-880 {
    max-width: 880px;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-90 {
    margin-top: 90px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-120 {
    margin-top: 120px !important;
}

.mt-130 {
    margin-top: 130px !important;
}

.mt-150 {
    margin-top: 150px !important;
}

.mt-160 {
    margin-top: 160px !important;
}

.mt-190 {
    margin-top: 190px !important;
}

ol {
    margin: 34px 0 0;
    padding: 0;
    counter-reset: list 0;

    &:first-child {
        margin-top: 0;
    }
    
    li {
        list-style-type: none;
        font-size: 16px;
        line-height: 160%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        
        &:before {
            content: counter(list) ". ";
            counter-increment: list;
            font-family: $textFontBold;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }
    }
}

ul {
    margin: 30px 0 0;
    padding: 0;
    list-style: none;

    &:first-child {
        margin-top: 0;
    }
}

li {
    margin-top: 10px;

    &:first-child {
        margin-top: 0;
    }

    .icon {
        width: 30px;
        min-width: 30px;
        margin-right: 15px;
        font-size: 30px;
    }

    .text {
        font-family: $textFontMedium;
        color: $blueLight;

        a {
            font-weight: bold;

            &:hover {
                opacity: .7;
            }
        }
    }
}

p {
    margin: 25px 0 0;

    &:first-child {
        margin-top: 0;
    }
}

img {
    max-width: 100%;
}

.noscroll {
    overflow: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.dashed {
    border-bottom: 1px dashed;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    margin: 0;
    font-family: $titleFont;
    font-weight: normal;
    color: $blueDark;
}

h1,
.h1 {
    font-size: 42px;
    line-height: 58px;
}

h2,
.h2 {
    font-size: 36px;
    line-height: 140%;
}

h3,
.h3 {
    font-size: 24px;
    line-height: 140%;

    &.sub-title {
        font-family: $titleFontMedium;
    }
}

h4,
.h4 {
    font-size: 20px;
    line-height: 140%;
    font-family: $textFontBold;
}

.big-title {
    font-size: 64px;
    line-height: 140%;
}

.text-center {
    text-align: center;
}

.title-wrap {
    max-width: 1480px;
    margin: 40px auto 0;

    &:first-child {
        margin-top: 0;
    }

    &.mobile {
        display: none;
    }

    .sub-title {
        font-family: $titleFontMedium;

        b {
            font-family: $titleFont;
        }
    }

    .count {
        display: inline-block;
        padding: 0 10px;
        background: $red;
        color: $white;
        vertical-align: middle;
        border-radius: 20px;
    }

    h1 .count,
    .h1 .count {
        font-family: $titleFontMedium;
        font-size: 28px;
        line-height: 35px;
    }

    h2 .count,
    .h2 .count {
        font-family: $titleFontMedium;
        font-size: 20px;
        line-height: 140%;
    }
}


a {
    color: $linkColor;
    text-decoration: none;
    outline: none;
    transition: 0.3s;
}

.btn {
    display: inline-block;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    width: auto;
    padding: 6px 36px;
    background: $themeColor;
    color: $white;
    font-family: $textFontBold;
    font-size: 14px;
    line-height: 28px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    text-align: center;
    border: 0;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;

    &-red {
        background-color: $red;
    }

    &-shadow {
        min-height: 54px;
        box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.1);
    }

    &-medium {
        padding: 16px 24px;
        font-size: 18px;

        .icon {
            font-size: 24px;
        }
    }

    .icon {
        margin-right: 14px;
        vertical-align: text-bottom;
    }
}


/*** Tabs ***/

.tabs {

    &-head {
        display: flex;
        flex-wrap: wrap;
        margin: -13px 0 0 -13px;

        &--item {
            margin: 13px 0 0 13px;
            padding: 12px 27px;
            background: $blueLighterOther;
            font-family: $textFontSemibold;
            font-size: 18px;
            color: $linkColor;
            border-radius: 5px;
            cursor: pointer;
        }

        &--item.active,
        &--item:hover {
            background: $themeColor;
            color: $white;
        }

        &--item.active span {
            border-bottom: 2px solid $linkColor;
        }
    }

    &-body {
        margin-top: 50px;

        &:first-child {
            margin-top: 0;
        }

        &--item {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}


/*** Form elements ***/

.form-wrap {
    margin-top: 70px;

    &:first-child {
        margin-top: 0;
    }
}

.form {
    margin: 40px 0 0;

    &:first-child {
        margin-top: 0;
    }

    .row {
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }
    }

    .col {
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }
    }
    
    .btn {
        display: flex;
        width: 100%;
        max-width: 238px;
        margin-top: 40px;
        font-size: 16px;
    }

    .remember {

        .icon {
            border-color: $borderColor;
        }

        .label {
            color: $blueDark;
        }
    }

    .confidentiality-wrap {
        max-width: 425px;

        .icon {
            border-color: $borderColor;
        }

        .label {
            font-size: 12px;
            line-height: 140%;
            color: $blueDark;
        }
    }
}

.input-wrap {
    position: relative;
    max-width: 425px;

    .label {
        position: absolute;
        top: 0;
        left: 15px;
        padding: 0 5px;
        font-family: $titleFontBold;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 180%;
        color: $blueDark;
        transform: translateY(-50%);

        &::before {
            content: '';
            position: absolute;
            top: 14px;
            left: 0;
            width: 100%;
            height: 2px;
            background: $white;
            z-index: 1;
        }

        span {
            position: relative;
            z-index: 5;
        }
    }

    .eye {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 14px;
        cursor: pointer;

        &.active::before {
            color: $blueLight;
        }
    }
}

.input,
.select,
.textarea {
    width: 100%;
    height: 60px;
    padding: 15px 20px;
    font-family: $textFont;
    font-size: 16px;
    color: $blueDark;
    font-feature-settings: 'pnum' on, 'lnum' on;
    border-radius: 10px;
    border: 1px solid $borderColor;

    &.error {
        border-color: $red;
    }
}
.input,
.select {
    max-width: 425px;
}

input[type="password"] {
    padding-right: 50px;
}

.textarea {
    height: 170px;
}

.checkbox {
    display: flex;
    margin-top: 16px;
    cursor: pointer;

    &:first-child {
        margin-top: 0;
    }

    label {
        min-width: 34px;
    }
    
    input {
        display: none;
    }

    input:checked + .icon {
        background: $red;
        border-color: $red;

        &::before,
        &::after {
            opacity: 1;
        }
    }

    .icon {
        position: relative;
        width: 24px;
        min-width: 24px;
        height: 24px;
        margin-right: 10px;
        border: 1px solid $white;
        border-radius: 5px;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: calc(50% + 3px);
            transform: translate(-50%, -50%) rotate(-60deg);
            width: 12px;
            height: 2px;
            background: $white;
            border-radius: 3px;
            opacity: 0;
        }

        &::after {
            left: calc(50% - 3px);
            transform: translate(-50%, -50%) rotate(60deg);
        }
    }

    .label {
        font-family: $textFontBold;
        font-size: 13px;
        color: $white;
    }
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0 0 -10px;

    &:first-child {
        margin-top: -10px;
    }

    .checkbox {
        flex: 100%;
        max-width: calc(50% - 10px);
        margin: 10px 0 0 10px;
        padding: 8px 15px;
        background: $checkboxBg;
        border-radius: 5px;

        input:checked + .label {
            color: $red;
        }

        .label {
            color: $blueLight;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }
    }

    .btn {
        width: 100%;
        margin: 10px 0 0 10px;
        font-size: 13px;
        text-align: center;
        cursor: pointer;
    }
}


.radio {
    display: flex;
    margin-top: 16px;
    cursor: pointer;

    &:first-child {
        margin-top: 0;
    }

    label {
        min-width: 34px;
    }
    
    input {
        display: none;
    }

    input:checked + .label {
        background: $themeColor;
        color: $white;
    }

    .label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 12px 15px;
        background: $checkboxBg;
        font-family: $textFontBold;
        font-size: 13px;
        line-height: 16px;
        color: $blueLight;
        border-radius: 5px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        text-align: center;
    }
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0 0 -10px;

    &:first-child {
        margin-top: -10px;
    }

    .radio {
        flex: 100%;
        max-width: 90px;
        margin: 10px 0 0 10px;

        .label {
            color: $blueLight;
        }
    }   
}

.datepicker-wrap {
    position: relative;

    input {
        width: 100%;
        height: 40px;
        padding: 5px 32px 5px 14px;
        background: $blueLighterOther;
        font-family: $textFontBold;
        font-size: 13px;
        line-height: 140%;
        color: $blueLight;
        border-radius: 5px;
        border: 0;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    .icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
    }
}


/*** Spoiler ***/

.spoiler-list {

    &--item.active {

        .spoiler-list--head {

            .icon-plus-red {
                display: none;
            }

            .icon-minus {
                display: block;
            }
        }

        .spoiler-list--body {
            display: block;
        }
    }

    &--item {
        margin-top: 22px;
        background: $white;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        &:first-child {
            margin-top: 0;
        }
    }

    &--head {
        display: flex;
        align-items: center;
        padding: 30px;
        cursor: pointer;

        .icon {
            margin-right: 20px;
            font-size: 18px;
            text-align: center;
        }

        .icon-minus {
            display: none;
            font-size: 6px;
        }

        .icon-plus-red::before,
        .icon-minus::before {
            color: $red;
        }

        .text {
            font-family: $textFontBold;
            font-size: 18px;
            line-height: 140%;
            color: $blue;
        }
    }

    &--body {
        display: none;
        margin-top: -4px;
        padding: 0 67px 45px;
    }

    li {
        margin-top: 5px;
    }
}


/*** Tooltip ***/

.tooltip-wrap {
    position: relative;

    &:hover {

        .tooltip {
            opacity: 1;
        }
    }
}

.tooltip {
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    width: 256px;
    margin-left: -2px;
    padding: 20px;
    background: $white;
    font-family: $textFontMedium;
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
    color: $blueDark;
    text-align: left;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    pointer-events: none;
    transition: .3s;
    opacity: 0;

    &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: 50%;
        transform: rotate(45deg) translateX(-50%);
        width: 20px;
        height: 20px;
        background: $white;
    }
}


/*** Table ***/

table {
    display: table;
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid $blueLighterOther;
    border-radius: 10px;

    th {
        padding: 10px;
        font-family: $textFontBold;
        font-size: 12px;
        text-align: left;
        border-left: 1px solid $blueLighterOther;

        &:first-child {
            border-left: 0;
        }

        &:nth-of-type(2) {
            text-align: center;
        }
    }

    td {
        width: 10%;
        padding: 15px 10px;
        border-top: 1px solid $blueLighterOther;
        border-left: 1px solid $blueLighterOther;

        &:first-child {
            border-left: 0;
        }

        &.border-left-none {
            border-left: 0;
        }
    }

    .icon {
        font-size: 24px;
        text-align: center;
    }

    .title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;

        .icon {
            font-size: 38px;
        }

        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }

        .title {
            padding: 0 10px;
        }

        span {
            display: block;
            font-family: $textFontBold;
            font-size: 14px;
            line-height: 160%;
            color: $blue;
            text-transform: capitalize;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }

        .sub-title {
            font-family: $textFontSemibold;
            font-size: 12px;
            color: $blueLight;
        }
    }

    .date {
        max-width: 63px;
        font-family: $textFontSemibold;
        font-size: 12px;
        line-height: 140%;
        color: $blueLight;
        text-transform: capitalize;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    .label {
        font-family: $textFontBold;
        font-size: 12px;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    .rate {
        font-family: $textFontBold;
        font-size: 15px;
        color: $blueLight;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    .coefficient {
        font-family: $textFontBold;
        font-size: 15px;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
}

.table-block {
    display: none;
    margin: 15px -30px 0;
    padding: 20px 30px 0;
    border-top: 1px solid $blueLighterOther;

    &:first-child {
        margin-top: 0;
    }

    &--row {
        margin: 20px -15px 0;
        padding: 20px 15px 0;
        border-top: 1px solid $blueLighterOther;

        &:first-child {
            border: 0;
        }
    }

    .time-wrap {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 0 20px;

        .image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
        }

        img {
            max-height: 100%;
        }

        .time {
            padding: 0 20px;
            font-family: $textFontBold;
            line-height: 140%;
            text-transform: capitalize;
            font-feature-settings: 'pnum' on, 'lnum' on;
            text-align: center;
            z-index: 5;

            span {
                font-size: 21px;
            }

            .label {
                font-size: 12px;
            }
        }
    }

    .category {
        padding: 0 20px;
        font-family: $textFontBold;
        color: $blueLight;
        font-size: 12px;
        line-height: 140%;
        text-align: center;
        text-transform: capitalize;
    }

    .title {
        margin-top: 8px;
        font-family: $textFontBold;
        font-size: 14px;
        line-height: 140%;
        color: $blue;
        text-align: center;
        text-transform: capitalize;
    }

    .bottom-block {
        display: flex;
        margin-top: 20px;
        text-align: center;

        span {
            display: block;
            flex: 1;
            padding: 5px;
            font-family: $textFontBold;
            font-size: 12px;
            line-height: 140%;
            font-feature-settings: 'pnum' on, 'lnum' on;
            border-left: 1px solid $blueLighterOther;

            &:first-child {
                border-left: 0;
            }
        }

        .rate {
            color: $blueLight;
        }
    }

    .label {
        font-family: $textFontBold;
        font-feature-settings: 'pnum' on, 'lnum' on;
        text-align: center;
    }

    .total {
        margin-top: 20px;

        .label {
            display: block;
            padding: 15px 0;
            font-family: $textFontBold;
            font-size: 14px;
            line-height: 140%;
            color: $blueDark;
            text-transform: capitalize;
            font-feature-settings: 'pnum' on, 'lnum' on;
            border-bottom: 1px solid $blueLighterOther;

            &:first-child {
                border-top: 1px solid $blueLighterOther;
            }
        }
    }
}


/*** Sliders ***/

.swiper-wrapper {
    height: auto;
}


/*** Datepicker ***/

.ui-widget.ui-widget-content {
    border-color: #f4f5f9;
}

.ui-widget-header {
    border-color: #f4f5f9;
    background: #f4f5f9;
    color: $black;
}

.ui-datepicker .ui-datepicker-prev span:before, 
.ui-datepicker .ui-datepicker-next span:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-style: solid;
}

.ui-datepicker .ui-datepicker-prev span:before {
    border-width: 4px 8px 4px 0;
    border-color: transparent $themeColor transparent transparent;
}

.ui-datepicker .ui-datepicker-next span:before {
    border-width: 4px 0 4px 8px;
    border-color: transparent transparent transparent $themeColor;
}

.ui-datepicker td span, 
.ui-datepicker td a {
    text-align: center;
}


.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active {
    border-color: #f4f5f9;
    background: #f4f5f9;
    font-weight: normal;
    color: $black;
}

.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight {
    border-color: $themeColor;
    background: $themeColor;
    color: $white;
}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, .ui-button:active, 
.ui-button.ui-state-active:hover {
    border-color: $red;
    background: $red;
    color: $white;
}


@import '_header.scss',
        '_footer.scss';
