@import '_var.scss';

/******************************************************************/

@media (max-width: 1601px) {

    .column-wrap {

        .column {
            max-width: 300px;
        }
    }
}

/******************************************************************/

@media (max-width: 1441px) {

    table {
        display: none;
    }

    .table-block {
        display: block;
        margin-left: -15px;
        margin-right: -15px;

        &--row {
            padding-top: 15px;
        }

        .label {
            font-size: 14px;
            line-height: 140%;
        }
    }


    .forcast-block {

        .main-cost {
            margin-top: 20px;
            padding: 19px 20px;
            font-size: 16px;
            line-height: 140%;
        }

        .description {
            margin-top: 20px;
        }
    }
}

/******************************************************************/

@media (max-width: 1281px) {

    .column-wrap {

        .column {

            &.wide {
                max-width: 100%;
                padding-right: 0;
            }

            &.sidebar {
                max-width: 300px;
                padding: 0;
            }
        }
    }

    .description-block {

        &.white {
            padding: 40px;
        }
    }

    .table-block {
        margin: 15px -15px 0;
        padding: 10px 15px 0;
    }
}

/******************************************************************/

@media (max-width: 1025px) {

    .title-wrap {

        &.mobile {
            display: block;
        }

        .count {
            min-height: 0;
            font-size: 18px;
            line-height: 28px;
        }
    }

    h1, 
    .h1 {
        font-size: 34px;
        line-height: 120%;
    }

    .big-title {
        font-size: 34px;
        line-height: 120%;
    }

    .main-page {

        .first-image-bg {

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0, $white 7.81%, rgba(255, 255, 255, 0) 100%);
            }
        }

        .hero-block {

            .title {
                font-size: 40px;
            }
        }
    }

    .first-image-bg {

        &.mobile-fill::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $white;
            opacity: .95;
        }
    }

    .hero-block {
        position: relative;

        .wrap {
            padding: 90px 0 30px;
        }

        .description {
            font-size: 14px;
        }
    }


    /*** 1024 ***/

    .column-wrap {

        .column {
            flex: 100%;
            max-width: 100%;
            padding-top: 40px;

            &:first-child {
                padding-top: 0;
            }

            &.wide {
                flex: 100%;
            }

            &.sidebar {
                flex: 100%;
                max-width: 100%;
                padding-top: 40px;

                .post-list {
                    display: flex;
                    margin: 10px 0 0 -20px;
                }

                .post-list .post--item {
                    max-width: calc(50% - 20px);
                    margin: 20px 0 0 20px;
                }
            }

            &.narrow {
                max-width: 100%;
            }
        }
    }


    /*** 1024 ***/

    .slider-list-wrap {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .slider-list {
        margin: 10px 0 0;

        .pagination {
            top: -80px;
        }
    }

    .slider-sidebar-wrap {

        .pagination {
            top: 0;
        }
    }


    /*** 1024 ***/

    .statistic-list {
        margin-top: 30px;

        &--item {
            max-width: 33.333%;
            text-align: center;
        }

        .count {
            font-size: 45px;
        }

        .label {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

/******************************************************************/

@media (max-width: 769px) {

    body {
        font-size: 14px;
    }

    .mt-t-0 {
        margin-top: 0 !important;
    }

    .mt-t-26 {
        margin-top: 26px !important;
    }
    
    .mt-t-30 {
        margin-top: 30px !important;
    }

    .mt-t-40 {
        margin-top: 40px !important;
    }

    .text-center-t {
        text-align: center;
    }

    h1, 
    .h1, 
    h2, 
    .h2 {
        font-size: 24px;
    }


    .form-wrap {
        margin-top: 40px;
    }

    .form {
        margin-top: 40px;
    }


    .wrapper {
        padding-bottom: 0;
    }

    .title-wrap {
        margin-top: 40px;
        text-align: center;
    }

    .container-block,
    .content-block {
        padding: 0 15px;
    }

    .left-panel {
        display: none;
    }

    .left-panel + .wrapper {
        padding-left: 0;
    }

    .left-panel + .wrapper .first-image-bg {
        left: 0;
        max-width: 100%;
    }

    /*** 768 ***/

    .main-page {

        .hero-block {

            .wrap {
                padding: 190px 0 15px;
            }

            ul {
                display: flex;
                justify-content: center;
                margin: 0 -10px;
    
                li {
                    display: block;
                    margin: 0;
                    padding: 20px 10px 0;
                    text-align: center;
                }
    
                .icon {
                    margin: 0 auto;
                }
    
                .text {
                    margin: 7px auto 0;
                    font-size: 12px;
                    line-height: 20px;
                }
            }

            ul li {
                display: block;
            }
        }
    }

    .hero-block {

        .back-link {
            display: block;
            width: 30px;
            margin: 0 auto;
            text-align: center;
            font-size: 18px;
        }

        .wrap {
            padding: 30px 0 20px;
        }

        .info {
            max-width: 100%;
            text-align: center;
        }

        .form {
            margin-left: auto;
            margin-right: auto;
        }

        .btn {
            margin: 25px auto 0;
        }

        .title + .btn {
            margin-top: 160px;
        }

        .tabs {
            margin-top: 190px;
        }

        .description {
            margin-top: 356px;
        }

        .statistic-list {
            justify-content: center;
            margin-top: 15px;
    
            &--item {
                max-width: 50%;
                padding: 25px 3px 0;
                border: 0;
    
                &:first-child,
                &:nth-child(3n + 4) {
                    padding: 25px 3px 0;
                }

                &.empty {
                    display: none;
                }
            }
        }

        .search {
            margin: 130px auto 0;
        }
    }


    /*** 768 ***/

    .description-block {

        &.white {
            box-shadow: none;
        }        

        .title-wrap {
            text-align: left;
        }

        a {
            margin-top: 20px;
        }

        img {
            margin-top: 20px;
        }

        ul li,
        ol li {
            margin-top: 0;
            padding-left: 20px;
            font-size: 14px;
        }

        ol li {
            margin-top: 5px;
        }

        ol li::before {
            font-size: 14px;
        }

        ul li::before {
            font-size: 13px;
        }
    }

    .block-image {
        margin-top: 20px;
        padding: 10px 10px 15px;


        span {
            padding: 0 10px;
            font-size: 12px;
            line-height: 140%;
        }
    }

    .review-block {
        padding: 20px 20px 40px;

        .name {
            margin-top: 20px;
        }
    }


    /*** 768 ***/

    .tabs-head {

        &--item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 100%;
            max-width: calc(50% - 13px);
            padding: 12px 0;
            font-family: $textFontSemibold;
            font-size: 14px;
            text-align: center;
        }
        
        &--item.active, 
        &--item:hover {
            background: $red;
        }
    }
    
    .tabs-body {
        margin-top: 20px;
    }


    /*** 768 ***/

    .slider-list-wrap {
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .slider-list {
        padding-bottom: 20px;

        .swiper-wrapper {
            padding: 20px 0;
        }

        .swiper-slide {
            width: calc(80% - 10px);
            padding: 0;
        }

        .time-wrap {
            justify-content: space-around;
            padding: 40px 10px 20px;

            .image {
                width: 60px;
                height: 60px;
            }
        }

        .person {
            display: block;
            padding: 30px 20px 20px;
            text-align: center;

            .image {
                margin: 0 auto;
            }

            .info {
                margin-top: 10px;
            }

            .parameters {
                margin-top: 5px;
                justify-content: center;
            }
        }

        table {
            margin-top: 0;
        }

        .title {
            padding-bottom: 30px;
        }

        .pagination {
            top: auto;
            bottom: 0;
            width: 100%;
            text-align: center;

            .swiper-pagination-bullet {
                width: 4px;
                height: 4px;
                margin: 0 6px;
                border-radius: 50%;
            }
        }
    }


    /*** 768 ***/

    .statistic-list-wrap {
        padding-bottom: 25px;
    }

    .statistic-list {
        margin-top: 0;

        &--item {
            max-width: 50%;
        }

        .label {
            margin: 0 auto;
            font-size: 12px;
        }
    }


    /*** 768 ***/

    .question-block {
        align-items: flex-start;
        margin-top: 30px;
        padding: 20px 15px;

        .icon {            
            min-width: 20px;
            margin-right: 10px;
            font-size: 20px;
        }

        .title {
            font-size: 16px;
        }

        p {
            font-size: 14px;
        }
    }


    /*** 768 ***/

    .contact-list {
        max-width: 500px;
        margin: 40px 0 0;

        &--item {
            max-width: 100%;
            margin: 10px 0 0;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

/******************************************************************/

@media (max-width: 561px) {

    p {
        font-size: 14px;
    }


    .table-block {
        padding-top: 0;

        &--row:first-child {
            margin-top: 0;
        }

        .bottom-block {

            span {
                font-size: 12px;
                line-height: 140%;
            }
        }
    }
    

    .form {

        .row {
            margin-top: 23px;
    
            &:first-child {
                margin-top: 0;
            }
        }
    
        .col {
            margin-top: 23px;
    
            &:first-child {
                margin-top: 0;
            }
        }
    }

    .input-wrap {

        .label {
            font-size: 12px;

            &::before {
                top: 10px;
            }
        }
    }

    .input, 
    .select {
        height: 50px;
        font-size: 14px;
    }

    .textarea {
        height: 280px;
        font-size: 14px;
    }


    .wrapper {
        padding-bottom: 0;
    }

    .main-page {

        .first-image-bg {
    
            img {
                margin: -45px -70px 0 0;
            }
        }

        .hero-block {

            .title {
                font-size: 28px;
                line-height: 140%;
            }
        }
    }


    /*** 560 ***/

    .first-image-bg {
        top: 20px;
        overflow: hidden;        

        &.right-mobile {
            top: 40px;

            img {
                margin-right: -50%;
            }
        }

        img {
            width: auto;
            max-width: 160%;
            min-height: 0;
            float: right;
            margin: 30px 0 0;
        }
    }

    .hero-block {

        .btn {
            width: 100%;
            max-width: 290px;
        }

        .description {
            margin-top: 356px;
        }

        .form {
            margin: 45px auto 0;

            .btn {
                max-width: 100%;
            }

            a {
                text-align: center;
            }
        }
    }

    .column-wrap {
        padding-bottom: 25px;

        .column.sidebar {

            .post-list .post--item {
                max-width: calc(100% - 20px);
            }
        }
    }

    /*** 560 ***/

    .spoiler-list {

        &--item {
            margin-top: 10px;
        }

        &--head {
            padding: 20px;

            .icon {
                margin-right: 15px;
                font-size: 12px;
            }

            .icon-minus {
                font-size: 4px;
            }

            .text {
                font-size: 14px;
            }
        }

        &--body {
            margin-top: 0;
            padding: 0 15px 25px 48px;
        }

        li {
            font-size: 14px;
        }
    }


    /*** 560 ***/

    .statistic-list-wrap {
        padding-bottom: 25px;

        .image-bg {
            top: 0;
            overflow: hidden;            
    
            img {
                position: relative;
                top: -60px;
                right: -80px;
                max-width: 500px;
            }
        }
    }


     /*** 560 ***/

    .slider-list {

        .swiper-slide {
            width: calc(100% - 10px);
        }

        table {

            .info {
                font-size: 12px;
            }
        }
    }


    /*** 560 ***/

    .blocks-list {
        margin: 30px 0 0;

        &--item {
            margin: 10px 0 0;
            padding: 50px 20px 35px;
            max-width: 100%;
            text-align: center;

            &:first-child {
                margin-top: 0;
            }
        }

        .icon {
            font-size: 80px;
        }

        .title {
            margin-top: 30px;
        }
    }


    /*** 560 ***/

    .description-block.white {
        margin: 0 -15px;
        padding: 30px 15px 0;
        border-radius: 0;
    }

    /*** 560 ***/

    .contact-list {

        &--item {
            padding: 20px 25px;
        }

        .icon {
            margin-right: 25px;
            font-size: 178%;
        }

        .title {
            font-size: 14px;
            line-height: 160%;
        }

        .link {
            font-size: 12px;
            line-height: 160%;
        }
    }
}
