/******************************************************************/

@media (max-width: 1441px) {

}

/******************************************************************/

@media (max-width: 1281px) {

}

/******************************************************************/

@media (max-width: 1025px) {

}

/******************************************************************/

@media (max-width: 769px) {

    .container-block {
        padding: 0 20px;
    }

    .left-panel {
        display: none;
    }
}

/******************************************************************/

@media (max-width: 561px) {

    .tabs-head {

        &--item {
            flex: 100%;
            margin-left: 30px;
            font-size: 25px;
        }
    }

    .tabs-body {
        margin-top: 50px;
    }
}
