html
    title Блог
    include ./blocks/head.jade

    body.blog-detail-page
        include ./blocks/header.jade

        include ./blocks/left-panel.jade
        
        .wrapper
            .first-image-bg.wide
                img(src="../images/hero-image-9.jpg", alt="")                
                img(src="../images/stripes-bg-3.png", alt="")

            .hero-block
                .container-block
                    .wrap
                        a(href="/blog.html").back-link.icon-arrow-back
                        .title-wrap
                            h1.h2.color-white.title Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                            
            .container-block
                .column-wrap
                    .column.wide
                        .description-block.white
                            .description 
                                p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.Данный вид ставок требует особой внимательности и просмотра прямой трансляции без задержек. Наш сайт транслирует все спортивные соревнования и турниры.В числе видов спорта, на которые мы предоставляем трансляции, не только футбол, баскетбол, хоккей, волейбол, бейсбол и многое другое в режиме онлайн. Сайт Bet Project является площадкой для общения между прогнозистами, которые могут не только составлять ежедневные прогнозы на спорт, но и общаться друг с другом в онлайн чате. Также, на сайте всегда можно задать вопрос службе поддержки, которая оперативно рассматривает поступающие сообщения.

                            .title-wrap 
                                h2 h2 Правила Сообщества

                            p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.Данный вид ставок требует особой внимательности и просмотра прямой трансляции без задержек. Наш сайт транслирует все спортивные соревнования и турниры.В числе видов спорта, на которые мы предоставляем трансляции, не только футбол, баскетбол, хоккей, волейбол, бейсбол и многое другое в режиме онлайн. Сайт Bet Project является площадкой для общения между прогнозистами, которые могут не только составлять ежедневные прогнозы на спорт, но и общаться друг с другом в онлайн чате. Также, на сайте всегда можно задать вопрос службе поддержки, которая оперативно рассматривает поступающие сообщения.

                            .title-wrap
                                h3 h3 Правила Сообщества

                            p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.Данный вид ставок требует особой внимательности и просмотра прямой трансляции без задержек. Наш сайт транслирует все спортивные соревнования и турниры.В числе видов спорта, на которые мы предоставляем трансляции, не только футбол, баскетбол, хоккей, волейбол, бейсбол и многое другое в режиме онлайн. Сайт Bet Project является площадкой для общения между прогнозистами, которые могут не только составлять ежедневные прогнозы на спорт, но и общаться друг с другом в онлайн чате. Также, на сайте всегда можно задать вопрос службе поддержки, которая оперативно рассматривает поступающие сообщения.

                            p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.Данный вид ставок требует особой внимательности и просмотра прямой трансляции без задержек. Наш сайт транслирует все спортивные соревнования и турниры.В числе видов спорта, на которые мы предоставляем трансляции, не только футбол, баскетбол, хоккей, волейбол, бейсбол и многое другое в режиме онлайн. Сайт Bet Project является площадкой для общения между прогнозистами, которые могут не только составлять ежедневные прогнозы на спорт, но и общаться друг с другом в онлайн чате. Также, на сайте всегда можно задать вопрос службе поддержки, которая оперативно рассматривает поступающие сообщения.

                            p 
                                strong Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.Данный вид ставок требует особой внимательности и просмотра прямой трансляции без задержек. Наш сайт транслирует все спортивные соревнования и турниры.В числе видов спорта, на которые мы предоставляем трансляции, не только футбол, баскетбол, хоккей, волейбол, бейсбол и многое другое в режиме онлайн. Сайт Bet Project является площадкой для общения между прогнозистами, которые могут не только составлять ежедневные прогнозы на спорт, но и общаться друг с другом в онлайн чате. Также, на сайте всегда можно задать вопрос службе поддержки, которая оперативно рассматривает поступающие сообщения.

                            a(href="#").color-red
                                span.dashed Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.

                            img(src="../images/assets/rule.jpg", alt="")

                            .block-image
                                img(src="../images/assets/rule.jpg", alt="")
                                span Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.

                            ol 
                                li Вы получаете уведомления о выходе нового прогноза на e-mail 
                                li Прогнозы доступны в вашем личном кабинете на сайте во вкладке "Прогнозы"
                                li Вы сможете видеть их в общей ленте прогнозов (они будут для вас открыты)
                                li Прогнозы будут для вас открыты и в личном кабинете эксперта.
                                li Так же рекомендуем почитать страницу FAQ

                            ul 
                                li Вы получаете уведомления о выходе нового прогноза на e-mail 
                                li Прогнозы доступны в вашем личном кабинете на сайте во вкладке "Прогнозы"
                                li Вы сможете видеть их в общей ленте прогнозов (они будут для вас открыты)
                                li Прогнозы будут для вас открыты и в личном кабинете эксперта.
                                li Так же рекомендуем почитать страницу FAQ


                            .review-block
                                p «Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.Данный вид ставок требует особой внимательности и просмотра прямой трансляции без задержек. Наш сайт транслирует все спортивные соревнования и турниры.В числе видов спорта, на которые мы предоставляем трансляции, не только футбол, баскетбол, хоккей, волейбол, бейсбол и многое другое в режиме онлайн. Сайт Bet Project является площадкой для общения между прогнозистами, которые могут не только составлять ежедневные прогнозы на спорт, но и общаться друг с другом в онлайн чате. Также, на сайте всегда можно задать вопрос службе поддержки, которая оперативно рассматривает поступающие сообщения.»
                                .name Петр Петров
                                .job Погнозист топ-10

                    .column.sidebar
                        .title-wrap.mobile
                            h2.h1.title Главные
                            .sub-title.h1 Новости

                        .post-list
                            a(href="blog-detail.html").post--item
                                span.image
                                    img(src="/images/assets/post.jpg", alt="")
                                span.info
                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                    span.date 11 ноября 2020
                            a(href="blog-detail.html").post--item
                                span.image
                                    img(src="/images/assets/post-2.jpg", alt="")
                                span.info
                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                    span.date 11 ноября 2020
                            a(href="blog-detail.html").post--item
                                span.image
                                    img(src="/images/assets/post-3.jpg", alt="")
                                span.info
                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                    span.date 11 ноября 2020
                            a(href="blog-detail.html").post--item
                                span.image
                                    img(src="/images/assets/post-4.jpg", alt="")
                                span.info
                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                    span.date 11 ноября 2020

                .slider-list-wrap
                    .title-wrap
                        h2.h1.title Последние
                        .sub-title.h1 Новости

                    .slider-list
                        .pagination

                        .swiper-wrapper
                            a(href="blog-detail.html").swiper-slide.slider-list--item.post--item
                                span.image
                                    img(src="/images/assets/post.jpg", alt="")
                                span.info
                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                    span.date 11 ноября 2020
                            a(href="blog-detail.html").swiper-slide.slider-list--item.post--item
                                span.image
                                    img(src="/images/assets/post-2.jpg", alt="")
                                span.info
                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                    span.date 11 ноября 2020
                            a(href="blog-detail.html").swiper-slide.slider-list--item.post--item
                                span.image
                                    img(src="/images/assets/post-3.jpg", alt="")
                                span.info
                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                    span.date 11 ноября 2020
                            a(href="blog-detail.html").swiper-slide.slider-list--item.post--item
                                span.image
                                    img(src="/images/assets/post-4.jpg", alt="")
                                span.info
                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                    span.date 11 ноября 2020
                            a(href="blog-detail.html").swiper-slide.slider-list--item.post--item
                                span.image
                                    img(src="/images/assets/post-5.jpg", alt="")
                                span.info
                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                    span.date 11 ноября 2020

        include ./blocks/footer.jade
        include ./blocks/scripts.jade
