html
    title Блог
    include ./blocks/head.jade

    body.blog-page
        include ./blocks/header.jade

        include ./blocks/left-panel.jade
        
        .wrapper
            .first-image-bg
                img(src="../images/hero-image-8.jpg", alt="")

            .hero-block
                .container-block
                    .wrap
                        .title-wrap
                            h1.title Блог

                        .max-880
                            .description.text-center-t
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            .container-block
                .slider-list-wrap
                    .title-wrap
                        h2.h1.title Главные
                        .sub-title.h1 Новости

                    .slider-list
                        .pagination

                        .swiper-wrapper
                            a(href="blog-detail.html").swiper-slide.slider-list--item.post--item
                                span.image
                                    img(src="/images/assets/post.jpg", alt="")
                                span.info
                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                    span.date 11 ноября 2020
                            a(href="blog-detail.html").swiper-slide.slider-list--item.post--item
                                span.image
                                    img(src="/images/assets/post-2.jpg", alt="")
                                span.info
                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                    span.date 11 ноября 2020
                            a(href="blog-detail.html").swiper-slide.slider-list--item.post--item
                                span.image
                                    img(src="/images/assets/post-3.jpg", alt="")
                                span.info
                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                    span.date 11 ноября 2020
                            a(href="blog-detail.html").swiper-slide.slider-list--item.post--item
                                span.image
                                    img(src="/images/assets/post-4.jpg", alt="")
                                span.info
                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                    span.date 11 ноября 2020
                            a(href="blog-detail.html").swiper-slide.slider-list--item.post--item
                                span.image
                                    img(src="/images/assets/post-5.jpg", alt="")
                                span.info
                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                    span.date 11 ноября 2020

                .post-list-wrap
                    .title-wrap
                        h2.h1.title Последние
                        .sub-title.h1 Новости

                    .post-list
                        a(href="blog-detail.html").post--item
                            span.image
                                img(src="/images/assets/post.jpg", alt="")
                            span.info
                                p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                span.date 11 ноября 2020
                        a(href="blog-detail.html").post--item
                            span.image
                                img(src="/images/assets/post-2.jpg", alt="")
                            span.info
                                p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                span.date 11 ноября 2020
                        a(href="blog-detail.html").post--item
                            span.image
                                img(src="/images/assets/post-3.jpg", alt="")
                            span.info
                                p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                span.date 11 ноября 2020
                        a(href="blog-detail.html").post--item
                            span.image
                                img(src="/images/assets/post-4.jpg", alt="")
                            span.info
                                p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                span.date 11 ноября 2020
                        a(href="blog-detail.html").post--item
                            span.image
                                img(src="/images/assets/post-5.jpg", alt="")
                            span.info
                                p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                span.date 11 ноября 2020
                        a(href="blog-detail.html").post--item
                            span.image
                                img(src="/images/assets/post-6.jpg", alt="")
                            span.info
                                p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                span.date 11 ноября 2020
                        a(href="blog-detail.html").post--item
                            span.image
                                img(src="/images/assets/post-7.jpg", alt="")
                            span.info
                                p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                span.date 11 ноября 2020
                        a(href="blog-detail.html").post--item
                            span.image
                                img(src="/images/assets/post-8.jpg", alt="")
                            span.info
                                p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.
                                span.date 11 ноября 2020

                    .pagination
                        a(href="#").pagination--item.prev
                        a(href="#").pagination--item.active 1
                        a(href="#").pagination--item 2
                        a(href="#").pagination--item 3
                        .pagination--item ...
                        a(href="#").pagination--item 25
                        a(href="#").pagination--item.next
                            

        include ./blocks/footer.jade
        include ./blocks/scripts.jade
