html
    title Мои аналитики
    include ./blocks/head.jade

    body
        include ./blocks/header.jade

        include ./blocks/left-panel.jade
        
        .wrapper
            .first-image-bg
                img(src="../images/hero-image-18.jpg", alt="").desktop
                img(src="../images/hero-image-mobile-18.jpg", alt="").mobile

            .container-block
                .cabinet-block-wrap
                    .sidebar
                        .person
                            .chart#rank(data-percent="40" data-rotate="-90" data-size="200" data-line="7")
                            .image
                                img(src="../images/assets/avatar-6.jpg", alt="")
                            .name Петр Петров
                            .rank Ранг 2

                        include ./blocks/cabinet-menu.jade

                    .cabinet-info
                        h1.text-center-t Мои аналитики

                        table.statistic-table.mt-130
                            tr
                                th
                                    .sort Эксперт
                                th
                                    .sort.active Прибыль&nbsp;
                                        .tooltip-wrap
                                            .label.dashed (?)
                                            .tooltip 
                                                span.color-blue % Win 
                                                | - это пока что не показывает уровень команды, которая достойна выйти из группы. 
                                th
                                    .sort Всего&nbsp;
                                        .tooltip-wrap
                                            .label.dashed (?)
                                            .tooltip 
                                                span.color-blue % Win 
                                                | - это пока что не показывает уровень команды, которая достойна выйти из группы.
                                th
                                    .sort W/L/D&nbsp;
                                        .tooltip-wrap
                                            .label.dashed (?)
                                            .tooltip 
                                                span.color-blue % Win 
                                                | - это пока что не показывает уровень команды, которая достойна выйти из группы.
                                th
                                    .sort Кф&nbsp;
                                        .tooltip-wrap
                                            .label.dashed (?)
                                            .tooltip 
                                                span.color-blue % Win 
                                                | - это пока что не показывает уровень команды, которая достойна выйти из группы.
                                th
                                    .sort Сумма&nbsp;
                                        .tooltip-wrap
                                            .label.dashed (?)
                                            .tooltip 
                                                span.color-blue % Win 
                                                | - это пока что не показывает уровень команды, которая достойна выйти из группы.
                                th
                                    .sort %&nbsp;
                                        .tooltip-wrap
                                            .label.dashed (?)
                                            .tooltip 
                                                span.color-blue % Win 
                                                | - это пока что не показывает уровень команды, которая достойна выйти из группы.
                                th
                                    .sort ROI&nbsp;
                                        .tooltip-wrap
                                            .label.dashed (?)
                                            .tooltip 
                                                span.color-blue % Win 
                                                | - это пока что не показывает уровень команды, которая достойна выйти из группы.
                                th
                                    .sort Win серия&nbsp;
                                        .tooltip-wrap
                                            .label.dashed (?)
                                            .tooltip 
                                                span.color-blue % Win 
                                                | - это пока что не показывает уровень команды, которая достойна выйти из группы.
                                th
                                    .sort µ Кол-во&nbsp;
                                        .tooltip-wrap
                                            .label.dashed (?)
                                            .tooltip 
                                                span.color-blue % Win 
                                                | - это пока что не показывает уровень команды, которая достойна выйти из группы.
                                th
                                    .sort В игре&nbsp;
                                        .tooltip-wrap
                                            .label.dashed (?)
                                            .tooltip 
                                                span.color-blue % Win 
                                                | - это пока что не показывает уровень команды, которая достойна выйти из группы.
                            tr
                                td 
                                    .person
                                        .image
                                            img(src="../images/assets/avatar-4.png", alt="")
                                        .name Петр
                                td 879521
                                td 2
                                td 2/2/2
                                td 3,15
                                td 1000
                                td 8
                                td 100
                                td 1
                                td 0,03
                                td 2
                            tr
                                td 
                                    .person
                                        .image
                                            img(src="../images/assets/avatar-4.png", alt="")
                                        .name Петр
                                td 879521
                                td 2
                                td 2/2/2
                                td 3,15
                                td 1000
                                td 8
                                td 100
                                td 1
                                td 0,03
                                td 2
                            tr
                                td 
                                    .person
                                        .image
                                            img(src="../images/assets/avatar-4.png", alt="")
                                        .name Петр
                                td 879521
                                td 2
                                td 2/2/2
                                td 3,15
                                td 1000
                                td 8
                                td 100
                                td 1
                                td 0,03
                                td 2
                            tr
                                td 
                                    .person
                                        .image
                                            img(src="../images/assets/avatar-4.png", alt="")
                                        .name Петр
                                td 879521
                                td 2
                                td 2/2/2
                                td 3,15
                                td 1000
                                td 8
                                td 100
                                td 1
                                td 0,03
                                td 2
                            tr
                                td 
                                    .person
                                        .image
                                            img(src="../images/assets/avatar-4.png", alt="")
                                        .name Петр
                                td 879521
                                td 2
                                td 2/2/2
                                td 3,15
                                td 1000
                                td 8
                                td 100
                                td 1
                                td 0,03
                                td 2

                        .statistic-table-mobile.mt-t-200
                            .statistic-table-mobile--item
                                .person
                                    .image
                                        img(src="../images/assets/face.jpg", alt="")
                                        .count 2
                                    .name Петр
                                    .status топ 1
                                .list
                                    .row
                                        .label 
                                            span Акт. Прогнозы
                                        .value 20
                                    .row
                                        .label 
                                            span Прибыль
                                        .value 879521
                                    .row
                                        .label 
                                            span Всего
                                        .value 2
                                    .row
                                        .label 
                                            span W/L/D
                                        .value 2/2/2
                                    .row
                                        .label 
                                            span КФ
                                        .value 3,15
                                    .row
                                        .label 
                                            span Сумма
                                        .value 1000
                                    .row
                                        .label 
                                            span % Win
                                        .value 1000
                                    .row
                                        .label 
                                            span ROI
                                        .value 100
                                    .row
                                        .label 
                                            span Win серия
                                        .value 1
                                    .row
                                        .label 
                                            span µ Кол-во
                                        .value 0,03
                            .statistic-table-mobile--item
                                .person
                                    .image
                                        img(src="../images/assets/face.jpg", alt="")
                                        .count 2
                                    .name Петр
                                    .status топ 1
                                .list
                                    .row
                                        .label 
                                            span Акт. Прогнозы
                                        .value 20
                                    .row
                                        .label 
                                            span Прибыль
                                        .value 879521
                                    .row
                                        .label 
                                            span Всего
                                        .value 2
                                    .row
                                        .label 
                                            span W/L/D
                                        .value 2/2/2
                                    .row
                                        .label 
                                            span КФ
                                        .value 3,15
                                    .row
                                        .label 
                                            span Сумма
                                        .value 1000
                                    .row
                                        .label 
                                            span % Win
                                        .value 1000
                                    .row
                                        .label 
                                            span ROI
                                        .value 100
                                    .row
                                        .label 
                                            span Win серия
                                        .value 1
                                    .row
                                        .label 
                                            span µ Кол-во
                                        .value 0,03
                            .statistic-table-mobile--item
                                .person
                                    .image
                                        img(src="../images/assets/face.jpg", alt="")
                                        .count 2
                                    .name Петр
                                    .status топ 1
                                .list
                                    .row
                                        .label 
                                            span Акт. Прогнозы
                                        .value 20
                                    .row
                                        .label 
                                            span Прибыль
                                        .value 879521
                                    .row
                                        .label 
                                            span Всего
                                        .value 2
                                    .row
                                        .label 
                                            span W/L/D
                                        .value 2/2/2
                                    .row
                                        .label 
                                            span КФ
                                        .value 3,15
                                    .row
                                        .label 
                                            span Сумма
                                        .value 1000
                                    .row
                                        .label 
                                            span % Win
                                        .value 1000
                                    .row
                                        .label 
                                            span ROI
                                        .value 100
                                    .row
                                        .label 
                                            span Win серия
                                        .value 1
                                    .row
                                        .label 
                                            span µ Кол-во
                                        .value 0,03
                            .statistic-table-mobile--item
                                .person
                                    .image
                                        img(src="../images/assets/face.jpg", alt="")
                                        .count 2
                                    .name Петр
                                    .status топ 1
                                .list
                                    .row
                                        .label 
                                            span Акт. Прогнозы
                                        .value 20
                                    .row
                                        .label 
                                            span Прибыль
                                        .value 879521
                                    .row
                                        .label 
                                            span Всего
                                        .value 2
                                    .row
                                        .label 
                                            span W/L/D
                                        .value 2/2/2
                                    .row
                                        .label 
                                            span КФ
                                        .value 3,15
                                    .row
                                        .label 
                                            span Сумма
                                        .value 1000
                                    .row
                                        .label 
                                            span % Win
                                        .value 1000
                                    .row
                                        .label 
                                            span ROI
                                        .value 100
                                    .row
                                        .label 
                                            span Win серия
                                        .value 1
                                    .row
                                        .label 
                                            span µ Кол-во
                                        .value 0,03
                            .statistic-table-mobile--item
                                .person
                                    .image
                                        img(src="../images/assets/face.jpg", alt="")
                                        .count 2
                                    .name Петр
                                    .status топ 1
                                .list
                                    .row
                                        .label 
                                            span Акт. Прогнозы
                                        .value 20
                                    .row
                                        .label 
                                            span Прибыль
                                        .value 879521
                                    .row
                                        .label 
                                            span Всего
                                        .value 2
                                    .row
                                        .label 
                                            span W/L/D
                                        .value 2/2/2
                                    .row
                                        .label 
                                            span КФ
                                        .value 3,15
                                    .row
                                        .label 
                                            span Сумма
                                        .value 1000
                                    .row
                                        .label 
                                            span % Win
                                        .value 1000
                                    .row
                                        .label 
                                            span ROI
                                        .value 100
                                    .row
                                        .label 
                                            span Win серия
                                        .value 1
                                    .row
                                        .label 
                                            span µ Кол-во
                                        .value 0,03
                            .statistic-table-mobile--item
                                    .person
                                        .image
                                            img(src="../images/assets/face.jpg", alt="")
                                            .count 2
                                        .name Петр
                                        .status топ 1
                                    .list
                                        .row
                                            .label 
                                                span Акт. Прогнозы
                                            .value 20
                                        .row
                                            .label 
                                                span Прибыль
                                            .value 879521
                                        .row
                                            .label 
                                                span Всего
                                            .value 2
                                        .row
                                            .label 
                                                span W/L/D
                                            .value 2/2/2
                                        .row
                                            .label 
                                                span КФ
                                            .value 3,15
                                        .row
                                            .label 
                                                span Сумма
                                            .value 1000
                                        .row
                                            .label 
                                                span % Win
                                            .value 1000
                                        .row
                                            .label 
                                                span ROI
                                            .value 100
                                        .row
                                            .label 
                                                span Win серия
                                            .value 1
                                        .row
                                            .label 
                                                span µ Кол-во
                                            .value 0,03
                                
                        .pagination
                            a(href="#").pagination--item.prev
                            a(href="#").pagination--item.active 1
                            a(href="#").pagination--item 2
                            a(href="#").pagination--item 3
                            .pagination--item ...
                            a(href="#").pagination--item 25
                            a(href="#").pagination--item.next

            .mt-t-60

        include ./blocks/footer.jade
        include ./blocks/scripts.jade
