html
    title Моя статистика
    include ./blocks/head.jade

    body
        include ./blocks/header.jade

        include ./blocks/left-panel.jade
        
        .wrapper
            .first-image-bg
                img(src="../images/hero-image-16.jpg", alt="").desktop
                img(src="../images/hero-image-mobile-16.jpg", alt="").mobile

            .container-block
                .cabinet-block-wrap
                    .sidebar
                        .person
                            .chart#rank(data-percent="40" data-rotate="-90" data-size="200" data-line="7")
                            .image
                                img(src="../images/assets/avatar-6.jpg", alt="")
                            .name Петр Петров
                            .rank Ранг 2

                        include ./blocks/cabinet-menu.jade

                    .cabinet-info
                        h1.text-center-t Моя статистика

                        .advantages
                            .advantages--item
                                .icon.icon-t-shirt
                                .text 6 месяцев на сайте
                            .advantages--item
                                .icon.icon-target
                                .text 100 точных прогнозов
                            .advantages--item
                                .icon.icon-star
                                .text Лучший за месяц

                        .statistics-list
                            .statistics-list--item
                                .label Всего ставок
                                .value 20
                            .statistics-list--item
                                .label Прибыль
                                .value 551%
                            .statistics-list--item
                                .label Процент
                                .value 67%
                            .statistics-list--item
                                .label ВС
                                .value 0
                            .statistics-list--item
                                .label КФ
                                .value 22.38
                            .statistics-list--item
                                .label Сумма
                                .value 54 515.52 ₽
                            .statistics-list--item
                                .label СКП
                                .value 0.83
                            .statistics-list--item
                                .label W/L/D
                                .value 12/7/5

                        .stattable
                            .graph-block
                                .top-panel
                                    .title График 
                                        span прибыли
                                    
                                    .controls
                                        .controls--item
                                            .datepicker-wrap
                                                input(type="text" placeholder="01/01/20").datepicker
                                                .icon.icon-calendar
                                        .controls--item
                                            .datepicker-wrap
                                                input(type="text" placeholder="31/12/20").datepicker
                                                .icon.icon-calendar
                                        .controls--item
                                            .btn За все время
                                #chartdiv

                            .latest-predictions
                                .title Последние прогнозы

                                table
                                    tr
                                        th
                                            span Дата
                                        th
                                            span Ставка
                                        th
                                            span Доход
                                    tr
                                        td
                                            span 03.11.2020
                                        td
                                            span 5.456
                                        td 
                                            .up
                                                span 5.456
                                                span.icon.icon-arrow-top
                                    tr
                                        td
                                            span 25.10.2020
                                        td
                                            span 12.312
                                        td
                                            .up
                                                span 12.312
                                                span.icon.icon-arrow-top
                                    tr
                                        td
                                            span 25.10.2020
                                        td
                                            span 12.312
                                        td
                                            .up
                                                span 12.312
                                                span.icon.icon-arrow-top
                                    tr
                                        td
                                            span 25.10.2020
                                        td
                                            span 12.312
                                        td
                                            .up
                                                span 12.312
                                                span.icon.icon-arrow-top
                                    tr
                                        td
                                            span 25.10.2020
                                        td
                                            span 12.312
                                        td
                                            .down
                                                span 12.312
                                                span.icon.icon-arrow-bottom
                                    tr
                                        td
                                            span 25.10.2020
                                        td
                                            span 12.312
                                        td
                                            .up
                                                span 12.312
                                                span.icon.icon-arrow-top
                                    tr
                                        td
                                            span 25.10.2020
                                        td
                                            span 12.312
                                        td
                                            .down
                                                span 12.312
                                                span.icon.icon-arrow-bottom

                        .forecasts-block
                            h2.title.text-center-t Прогнозы

                            .forecasts-table
                                .forecasts-table--item
                                    .col Дата создания
                                    .col Спорт
                                    .col Тип
                                    .col Кф
                                    .col Ставка
                                    .col Результат
                                .forecasts-table--item
                                    .col 11.08.2020 18:50
                                    .col Футбол
                                    .col Прогноз
                                    .col 3,15
                                    .col 44 000 ₽
                                    .col
                                        .btn выиграл
                                .forecasts-table--item
                                    .col 11.08.2020 18:50
                                    .col Гандбол
                                    .col Прогноз
                                    .col 3,15
                                    .col 44 000 ₽
                                    .col
                                        .btn.btn-red Проиграл
                                .forecasts-table--item
                                    .col 11.08.2020 18:50
                                    .col Футбол/Гандбол/теннис
                                    .col Экспресс
                                    .col 3,15
                                    .col 44 000 ₽
                                    .col
                                        .btn выиграл
                                .forecasts-table--item
                                    .col 11.08.2020 18:50
                                    .col Футбол/Гандбол/теннис
                                    .col Прогноз
                                    .col 3,15
                                    .col 44 000 ₽
                                    .col
                                        .btn выиграл
                                .forecasts-table--item
                                    .col 11.08.2020 18:50
                                    .col Хоккей
                                    .col Прогноз
                                    .col 3,15
                                    .col 44 000 ₽
                                    .col
                                        .btn выиграл

                            .forecasts-table-mobile
                                .forecasts-table-mobile--item
                                    .col 
                                        .time Прогноз - 21 окт. 13:08 2020
                                    .col 
                                        .category Футбол
                                    .row 
                                        .col 
                                            .coefficient КФ 1.45
                                        .col 
                                            .cost 44 000 ₽
                                    .col 
                                        .btn выиграл
                                .forecasts-table-mobile--item
                                    .col 
                                        .time Экспресс - 21 окт. 13:08 2020
                                    .col 
                                        .category Футбол/Гандбол/теннис
                                    .row 
                                        .col 
                                            .coefficient КФ 1.45
                                        .col 
                                            .cost 44 000 ₽
                                    .col 
                                        .btn.btn-red Проиграл
                                .forecasts-table-mobile--item
                                    .col 
                                        .time Экспресс - 21 окт. 13:08 2020
                                    .col 
                                        .category Футбол/Гандбол/теннис
                                    .row 
                                        .col 
                                            .coefficient КФ 1.45
                                        .col 
                                            .cost 44 000 ₽
                                    .col 
                                        .btn.btn-red Проиграл
                                .forecasts-table-mobile--item
                                    .col 
                                        .time Прогноз - 21 окт. 13:08 2020
                                    .col 
                                        .category Футбол
                                    .row 
                                        .col 
                                            .coefficient КФ 1.45
                                        .col 
                                            .cost 44 000 ₽
                                    .col 
                                        .btn выиграл
                                .forecasts-table-mobile--item
                                    .col 
                                        .time Прогноз - 21 окт. 13:08 2020
                                    .col 
                                        .category Футбол
                                    .row 
                                        .col 
                                            .coefficient КФ 1.45
                                        .col 
                                            .cost 44 000 ₽
                                    .col 
                                        .btn выиграл
                                .forecasts-table-mobile--item
                                    .col 
                                        .time Прогноз - 21 окт. 13:08 2020
                                    .col 
                                        .category Футбол
                                    .row 
                                        .col 
                                            .coefficient КФ 1.45
                                        .col 
                                            .cost 44 000 ₽
                                    .col 
                                        .btn выиграл

                            .pagination
                                a(href="#").pagination--item.prev
                                a(href="#").pagination--item.active 1
                                a(href="#").pagination--item 2
                                a(href="#").pagination--item 3
                                .pagination--item ...
                                a(href="#").pagination--item 25
                                a(href="#").pagination--item.next

            .mt-t-60

        include ./blocks/footer.jade
        include ./blocks/scripts.jade
