html
    title FAQ
    include ./blocks/head.jade

    body
        include ./blocks/header.jade

        include ./blocks/left-panel.jade

        .wrapper
            .first-image-bg
                img(src="../images/hero-image-3.jpg", alt="")

            .hero-block
                .container-block
                    .wrap
                        .info
                            .title-wrap
                                h1.title FAQ

                        .max-880
                            .tabs 
                                .tabs-head
                                    .tabs-head--item(data-tab="1").active Вопрос - ответ
                                    .tabs-head--item(data-tab="2") Аналитикам

                                .tabs-body
                                    .tabs-body--item(data-tab="1").active
                                        .spoiler-list
                                            .spoiler-list--item
                                                .spoiler-list--head
                                                    .icon
                                                        .icon-plus
                                                        .icon-minus
                                                    .text Не могу войти на сайт / меня заблокировали?
                                                
                                                .spoiler-list--body
                                                    ol
                                                        li Вы получаете уведомления о выходе нового прогноза на e-mail или в 
                                                            | "
                                                            a(href="#").color-red.dashed Телеграм канал
                                                            | " приложение можно установить на телефон и компьютер.
                                                        li Прогнозы доступны в вашем личном кабинете на сайте во вкладке "Прогнозы"
                                                        li Вы сможете видеть их в общей ленте прогнозов (они будут для вас открыты)
                                                        li Прогнозы будут для вас открыты и в личном кабинете эксперта.
                                                        li Так же рекомендуем почитать страницу FAQ &nbsp;
                                                            a(href="#").color-red.dashed prognozim.ru/faq
                                            .spoiler-list--item
                                                .spoiler-list--head
                                                    .icon
                                                        .icon-plus
                                                        .icon-minus
                                                    .text Почему мне не приходят на e-mail прогнозы?
                                                
                                                .spoiler-list--body
                                                    ol
                                                        li Вы получаете уведомления о выходе нового прогноза на e-mail или в 
                                                            | "
                                                            a(href="#").color-red.dashed Телеграм канал
                                                            | " приложение можно установить на телефон и компьютер.
                                                        li Прогнозы доступны в вашем личном кабинете на сайте во вкладке "Прогнозы"
                                                        li Вы сможете видеть их в общей ленте прогнозов (они будут для вас открыты)
                                                        li Прогнозы будут для вас открыты и в личном кабинете эксперта.
                                                        li Так же рекомендуем почитать страницу FAQ
                                                            &nbsp; 
                                                            a(href="#").color-red.dashed prognozim.ru/faq
                                            .spoiler-list--item
                                                .spoiler-list--head
                                                    .icon
                                                        .icon-plus
                                                        .icon-minus
                                                    .text У меня написано банк 10000 $ что это, как его использовать?
                                                
                                                .spoiler-list--body
                                                    ol
                                                        li Вы получаете уведомления о выходе нового прогноза на e-mail или в 
                                                            | "
                                                            a(href="#").color-red.dashed Телеграм канал
                                                            | " приложение можно установить на телефон и компьютер.
                                                        li Прогнозы доступны в вашем личном кабинете на сайте во вкладке "Прогнозы"
                                                        li Вы сможете видеть их в общей ленте прогнозов (они будут для вас открыты)
                                                        li Прогнозы будут для вас открыты и в личном кабинете эксперта.
                                                        li Так же рекомендуем почитать страницу FAQ
                                                            &nbsp; 
                                                            a(href="#").color-red.dashed prognozim.ru/faq
                                            .spoiler-list--item
                                                .spoiler-list--head
                                                    .icon
                                                        .icon-plus
                                                        .icon-minus
                                                    .text Где линия ставок на тотал, форы, ЖК и УГЛ?
                                                
                                                .spoiler-list--body
                                                    ol
                                                        li Вы получаете уведомления о выходе нового прогноза на e-mail или в 
                                                            | "
                                                            a(href="#").color-red.dashed Телеграм канал
                                                            | " приложение можно установить на телефон и компьютер.
                                                        li Прогнозы доступны в вашем личном кабинете на сайте во вкладке "Прогнозы"
                                                        li Вы сможете видеть их в общей ленте прогнозов (они будут для вас открыты)
                                                        li Прогнозы будут для вас открыты и в личном кабинете эксперта.
                                                        li Так же рекомендуем почитать страницу FAQ
                                                            &nbsp; 
                                                            a(href="#").color-red.dashed prognozim.ru/faq

                                    .tabs-body--item(data-tab="2")
                                        .spoiler-list
                                            .spoiler-list--item
                                                .spoiler-list--head
                                                    .icon
                                                        .icon-plus
                                                        .icon-minus
                                                    .text Не могу войти на сайт / меня заблокировали?
                                                
                                                .spoiler-list--body
                                                    ol
                                                        li Вы получаете уведомления о выходе нового прогноза на e-mail или в 
                                                            | "
                                                            a(href="#").color-red.dashed Телеграм канал
                                                            | " приложение можно установить на телефон и компьютер.
                                                        li Прогнозы доступны в вашем личном кабинете на сайте во вкладке "Прогнозы"
                                                        li Вы сможете видеть их в общей ленте прогнозов (они будут для вас открыты)
                                                        li Прогнозы будут для вас открыты и в личном кабинете эксперта.
                                                        li Так же рекомендуем почитать страницу FAQ &nbsp;
                                                            a(href="#").color-red.dashed prognozim.ru/faq

                            .question-block
                                .icon.icon-question 
                                .text
                                    .title Не нашли ответ на свой вопрос?
                                    p Задайте его службе поддержки через "
                                        a(href="#").color-red.dashed Обратную связь
                                        | " и получите ответ.
                                

        include ./blocks/footer.jade
        include ./blocks/scripts.jade
