html
    title Прогноз #265 от Иван Иванов 21 октября 13:08 2020 
    include ./blocks/head.jade

    body
        include ./blocks/header.jade

        include ./blocks/left-panel.jade
        
        .wrapper
            .first-image-bg
                img(src="../images/hero-image-11.jpg", alt="").desktop
                img(src="../images/hero-image-mobile-11.jpg", alt="").mobile

            .hero-block
                .container-block
                    .wrap
                        a(href="/blog.html").back-link.icon-arrow-back
                        .title-wrap
                            .max-550
                                h1.title.mt-m-300 Прогноз #265 от Иван Иванов 21 октября 13:08 2020

            .container-block
                .mt-50.mt-t-0
                    .column-wrap
                        .column.wide
                            .forcast-block
                                table.desktop
                                    tr
                                        th Спорт
                                        th.text-center Игра
                                        th Начало
                                        th Ставка
                                        th КФ
                                    tr
                                        td
                                            .image
                                                .icon.icon-soccer-ball
                                        td 
                                            .title-wrap 
                                                .image 
                                                    .icon.icon-t-shirt-2
                                                .title
                                                    span Бавария - Атлетико Мадрид
                                                    span.sub-title Групповой этап
                                                .image 
                                                    .icon.icon-t-shirt-2

                                        td 
                                            .date 20/10/20 16:30
                                        td
                                            .rate 1.45
                                        td
                                            .coefficient 1.45
                                    tr
                                        td(colspan="4")
                                            .label Общий КФ
                                        td
                                            .coefficient 2.90
                                    tr
                                        td(colspan="4")
                                            .label Результат матча
                                        td.border-left-none
                                            .coefficient.color-red Возврат

                                .table-block 
                                    .time-wrap
                                        .image.image-left
                                            img(src="../images/assets/event-3.png", alt="")
                                        .time
                                            span 16:00
                                            .label 20/10/20
                                        .image.image-right
                                            img(src="../images/assets/event-4.png", alt="")
                                    
                                    .category футбол \ Групповой этап
                                    .title Краснодар - Спартак Москва

                                    .bottom-block
                                        span.rate ставка 1.45
                                        span.coefficient КФ 1.45
                                    
                                    .total
                                        .label Общий КФ 1.45
                                        .label Результат матча - 
                                            span.color-red Возврат

                                .main-cost Ставка 44 000 ₽

                                .description
                                    p СКА на правах хозяев будет принимать гостей команду Йокерит в рамках чемпионата "КХЛ. Регулярный чемпионат". Стадионом проведения встречи станет Ледовый дворец (Санкт-Петербург).

                                    p 16 дней назад состоялся последний матч между этими командами. Тогда успех был на стороне хозяев сегодняшнего поединка, которым удалось добыть гостевую победу.
                                        | Команда СКА добилась своего благодаря, прекрасной игре в нападении и хорошей защите. Йокерит в этот раз постарается исправить ситуацию.
                                        | Команды успели сыграть между собой 4 раза в недавнем прошлом. Клуб Йокерит проиграл все эти матчи с командой СКА. Что заставляет сделать определенные выводы

                                    p СКА: СКА занимает второе место в турнирной таблице из 12. Команда, находится в уверенной форме.
                                        | Команде в последнее время, удается показывать более организованную оборону на выезде. Немного данных о последних играх:
                                        | В последнй раз 2 дня назад команда провела домашний поединок с клубом Барыс. Матч порадовал забитыми шайбами. Команды играли без оглядки на свои ворота, что вылилось в 7 забитых шайб
                                        | До этого клуб СКА в домашней встрече сыграл против команды Амур. Матч порадовал забитыми шайбами. Команды играли без оглядки на свои ворота, что вылилось в 8 забитых шайб

                                    p Йокерит: Йокерит занимает восьмое место в турнирной таблице из 12. Команда, находится в слабой форме.
                                        | Команде в последнее время, удается показывать более организованную оборону на выезде. Немного данных о последних играх:
                                        | Крайний раз команда провела игру дома против клуба из города Москва - Динамо Москва 2 дня назад. Данная встреча прошла с подавляющим доминированием хозяев поля. С нападением у них все очень в порядке
                                        | За матч до этого 5 дней назад команда провела домашний поединок с клубом Сочи. Хорошая игра в обороне и три точных удара в створ - решили судьбу встречи

                                    p Победа хозяев данного противостояния, более очевида для букмекеров, кэф на ее победу составляет 2.00 - 1Xставка

                                    p Прогнозы Куш в спорте СКА - Йокерит
                                        | За последние 5 матчей, клуб Йокерит в среднем забивал более 3 шайб. Поставить ИТБ2(3.00) 3.40 - 1Xставка

                                    p В 5 играх, команда СКА показала сумму забитых и пропущенных шайб равную 23. За крайние 5 игр команда СКА забила 14 и пропустила 9, что в среднем составляет 4.6 шайб за игру. ТМ 4.5 за 2.45 - 1Xставка

                                .mobile-block
                                    .person-block
                                        .title-wrap
                                            h3.title Эксперт
                                        .person
                                            .image
                                                img(src="../images/assets/face.jpg", alt="")
                                                .num 2
                                            .info
                                                .name Иван Иванов
                                                .parameters
                                                    .parameters--item.icon-t-shirt
                                                    .parameters--item.icon-target
                                                    .parameters--item.icon-star

                                        table
                                            tr
                                                td
                                                    .info
                                                        .label Прогнозов
                                                        .value 20
                                                td
                                                    .info
                                                        .label W/L/D
                                                        .value 12/7/5
                                                td
                                                    .info
                                                        .label КФ
                                                        .value 22.38
                                            tr
                                                td
                                                    .info
                                                        .label Прибыль
                                                        .value 440К ₽
                                                td(colspan="2")
                                                    .graph
                                                        .icon
                                                            img(src="../images/graph-line.svg")

                                        .text-center
                                            a(href="/forecast-detail-2.html").link.dashed Прогнозы эксперта 27
                                        a(href="#").btn.btn-red.subscribe Подписаться на эксперта

                                    a(href="/forecasts.html").more-forcasts
                                        span.label Другие прогнозы на этот матч
                                        span.count 12

                            .comments-block-wrap
                                .title-wrap
                                    .h2 Комментарии
                                        .count.h2 15

                                .comments-list
                                    .comments-list--item.comment
                                        .wrap
                                            .image
                                                img(src="../images/assets/avatar-2.jpg", alt="")
                                                .count 1
                                            .info 
                                                .top-panel 
                                                    .name Сергей Сергеев
                                                    .date 14:40  16 ноября 2020
                                                .text 
                                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт
                                    .comments-list--item.answer
                                        .wrap
                                            .image
                                                img(src="../images/assets/avatar-3.jpg", alt="")
                                                .count 2
                                            .info 
                                                .top-panel 
                                                    .name Вы
                                                    .date 14:51  15 ноября 2020
                                                .text 
                                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт
                                    .comments-list--item.comment
                                        .wrap
                                            .image
                                                img(src="../images/assets/avatar-2.jpg", alt="")
                                                .count 1
                                            .info 
                                                .top-panel 
                                                    .name Сергей Сергеев
                                                    .date 14:40  16 ноября 2020
                                                .text 
                                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт

                                    .comments-list--item.comment
                                        .wrap
                                            .image
                                                img(src="../images/assets/avatar-2.jpg", alt="")
                                                .count 1
                                            .info 
                                                .top-panel 
                                                    .name Сергей Сергеев
                                                    .date 14:40  16 ноября 2020
                                                .text 
                                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт

                                    .comments-list--item.comment
                                        .wrap
                                            .image
                                                img(src="../images/assets/avatar-2.jpg", alt="")
                                                .count 1
                                            .info 
                                                .top-panel 
                                                    .name Сергей Сергеев
                                                    .date 14:40  16 ноября 2020
                                                .text 
                                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт

                                    .comments-list--item.comment
                                        .wrap
                                            .image
                                                img(src="../images/assets/avatar-2.jpg", alt="")
                                                .count 1
                                            .info 
                                                .top-panel 
                                                    .name Сергей Сергеев
                                                    .date 14:40  16 ноября 2020
                                                .text 
                                                    p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт

                                    .more-btn Показать предыдущие комментарии (
                                        span.count 10
                                        | )
                                
                                .comment-form
                                    form.form 
                                        .row 
                                            .col.wide
                                                .input-wrap
                                                    textarea(placeholder="Ваш комментарий*").textarea
                                                    .label
                                                        span Ваш комментарий*
                                        .row 
                                            .col.wide
                                                button(type="submit").btn.btn-red.btn-shadow Написать


                        .column.narrow.desktop
                            .person-block
                                .title-wrap
                                    h3.title Эксперт
                                .person
                                    .image
                                        img(src="../images/assets/face.jpg", alt="")
                                        .num 2
                                    .info
                                        .name Иван Иванов
                                        .parameters
                                            .parameters--item.icon-t-shirt
                                            .parameters--item.icon-target
                                            .parameters--item.icon-star

                                table
                                    tr
                                        td
                                            .info
                                                .label Прогнозов
                                                .value 20
                                        td
                                            .info
                                                .label W/L/D
                                                .value 12/7/5
                                        td
                                            .info
                                                .label КФ
                                                .value 22.38
                                    tr
                                        td
                                            .info
                                                .label Прибыль
                                                .value 440К ₽
                                        td(colspan="2")
                                            .graph
                                                .icon
                                                    img(src="../images/graph-line.svg")

                                .text-center
                                    a(href="/forecast-detail-2.html").link.dashed Прогнозы эксперта 27
                                a(href="#").btn.btn-red.subscribe Подписаться на эксперта

                            a(href="/forecasts.html").more-forcasts
                                span.label Другие прогнозы на этот матч
                                span.count 12


        include ./blocks/footer.jade
        include ./blocks/scripts.jade
