html
    title Прогнозы
    include ./blocks/head.jade

    body
        include ./blocks/header.jade

        include ./blocks/left-panel.jade
        
        .wrapper
            .first-image-bg
                img(src="../images/hero-image-10.jpg", alt="")

            .hero-block
                .container-block
                    .wrap
                        .title-wrap
                            h1.title.big-title Прогнозы

                            a(href="#").btn.btn-red Добавить прогноз

            .container-block
                .mt-160
                    .column-wrap
                            .column
                                include ./blocks/filters.jade
                                    
                            .column
                                include ./blocks/product-list.jade

                            .column
                                .slider-sidebar-wrap
                                    .title-wrap
                                        h3.title Топ
                                        span.sub-title.h3 ставок

                                    .slider-sidebar.slider-list
                                        .swiper-wrapper
                                            .swiper-slide.slider-list--item.slider-sidebar--item.event
                                                .time-wrap
                                                    .image.image-left
                                                        img(src="../images/assets/event.png", alt="")
                                                    .time
                                                        span 16:00
                                                        .label Начало
                                                    .image.image-right
                                                        img(src="../images/assets/event-2.png", alt="")
                                                
                                                .category футбол \ Групповой этап
                                                .title Краснодар - Спартак Москва

                                                table.border-top
                                                    tr 
                                                        td
                                                            .info
                                                                .label Ставка
                                                                .value 4.35
                                                        td
                                                            .info
                                                                .label Прогнозов
                                                                .value 51
                                                        td
                                                            .info
                                                                .label КФ
                                                                .value 4.35
                                            .swiper-slide.slider-list--item.slider-sidebar--item.event
                                                .time-wrap
                                                    .image.image-left
                                                        img(src="../images/assets/event.png", alt="")
                                                    .time
                                                        span 16:00
                                                        .label Начало
                                                    .image.image-right
                                                        img(src="../images/assets/event-2.png", alt="")
                                                
                                                .category футбол \ Групповой этап
                                                .title Краснодар - Спартак Москва

                                                table.border-top
                                                    tr 
                                                        td
                                                            .info
                                                                .label Ставка
                                                                .value 4.35
                                                        td
                                                            .info
                                                                .label Прогнозов
                                                                .value 51
                                                        td
                                                            .info
                                                                .label КФ
                                                                .value 4.35

                                        .pagination

                                include ./blocks/events.jade


        include ./blocks/footer.jade
        include ./blocks/scripts.jade
