html
    title Вход в личный кабинет
    include ./blocks/head.jade

    body
        include ./blocks/header-not-authorized.jade

        include ./blocks/left-panel.jade

        .wrapper
            .first-image-bg.mobile-fill
                img(src="../images/hero-image-2.jpg", alt="")

            .hero-block
                .container-block
                    .wrap
                        .info
                            .title-wrap
                                h1.title Вход в
                                .h1.sub-title личный кабинет

                        form.form(action="/success-form.html")
                            .row 
                                .col.wide 
                                    .input-wrap 
                                        input(type="text" placeholder="Email").input
                                        .label 
                                            span Ваш email
                            .row 
                                .col.wide
                                    .input-wrap
                                        input(type="password" placeholder="Ваш пароль").input
                                        .label 
                                            span Пароль
                                        .eye.icon-eye

                                    label.checkbox(for="check-17").remember
                                        input(type="checkbox" id="check-17")
                                        .icon
                                            .icon-check
                                        .label Запомнить меня

                                    button(type="submit").btn.btn-red.btn-shadow.mt-20 Вход
                                    



        include ./blocks/scripts.jade
