html
    title Восстановление пароля
    include ./blocks/head.jade

    body
        include ./blocks/header-not-authorized.jade

        include ./blocks/left-panel.jade

        .wrapper
            .first-image-bg.mobile-fill
                img(src="../images/hero-image-2.jpg", alt="")

            .hero-block
                .container-block
                    .wrap
                        .info
                            .title-wrap
                                h1.title Восстановление
                                .h1.sub-title пароля

                            .description.mt-t-20
                                p Пожалуйста укажите ниже email указанный вами при регистрациии аккаунта. На этот email будет отправлено письмо с инструкцией по сбросу пароля.

                        form.form(action="/new-password.html")
                            .row 
                                .col.wide 
                                    .input-wrap
                                        input(type="text" placeholder="Email").input
                                        .label 
                                            span Ваш email
                            
                                    button(type="submit").btn.btn-red.btn-shadow.mt-40.mt-t-26 Отправить
                                    



        include ./blocks/scripts.jade
