html
    title Восстановление пароля
    include ./blocks/head.jade

    body
        include ./blocks/header-not-authorized.jade

        .left-panel
            .wrap
                .link-list
                    a(href="#").link-list--item.icon-soccer-ball
                    a(href="#").link-list--item.icon-basketball
                    a(href="#").link-list--item.icon-hockey
                    a(href="#").link-list--item.icon-boxing
                    a(href="#").link-list--item.icon-tennis
                    a(href="#").link-list--item.icon-rugby
                    .link-list--item.more-btn
                        span

                .social-list
                    a(href="#").social-list--item.icon-facebook-circle
                    a(href="#").social-list--item.icon-vk-circle
                        span.path1
                            span.path2
                    a(href="#").social-list--item.icon-instagram-circle

        .wrapper
            .first-image-bg.mobile-fill
                img(src="../images/hero-image-2.jpg", alt="")

            .hero-block
                .container-block
                    .wrap
                        .info
                            .title-wrap
                                h1.title Восстановление
                                .h1.sub-title пароля

                            .description
                                p Пожалуйста укажите ниже email указанный вами при регистрациии аккаунта. На этот email будет отправлено письмо с инструкцией по сбросу пароля.

                        form.form(action="/new-password.html")
                            .row 
                                .col.wide 
                                    .input-wrap 
                                        input(type="text" placeholder="Email").input
                                        .label 
                                            span Ваш email
                            
                                    button(type="submit").btn.btn-red.btn-shadow.mt-40.mt-t-26 Отправить
                                    



        include ./blocks/scripts.jade
