html
    title Регистрация
    include ./blocks/head.jade

    body
        include ./blocks/header-not-authorized.jade

        include ./blocks/left-panel.jade

        .wrapper
            .first-image-bg.mobile-fill
                img(src="../images/hero-image-2.jpg", alt="")

            .hero-block
                .container-block
                    .wrap
                        .info
                            .title-wrap
                                h1.title Регистрация

                        form.form(action="/success-form.html")
                            .row 
                                .col.wide 
                                    .input-wrap 
                                        input(type="text" placeholder="Имя*" require).input
                                        .label 
                                            span Ваше имя
                            .row 
                                .col.wide 
                                    .input-wrap 
                                        input(type="text" placeholder="Email").input
                                        .label 
                                            span E-mail
                            .row 
                                .col.wide
                                    .input-wrap.password-wrap
                                        input(type="password" placeholder="Ваш пароль" required).input.password
                                        .label 
                                            span Пароль*
                                        .eye.icon-eye

                             .row 
                                .col.wide
                                    .input-wrap.password-wrap
                                        input(type="password" placeholder="Повторите ваш пароль" required).input.password-confirm
                                        .label 
                                            span Повторите пароль*
                                        .eye.icon-eye

                                    .checkbox.confidentiality-wrap
                                        label(for="check-17").checkbox
                                            input(type="checkbox" id="check-17").confidentiality
                                            .icon
                                                .icon-check
                                            .label При регистрации вы соглашаетесь 
                                                a(href="#").color-red с правилами сайта, политикой конфиденциальности 
                                                | и подтверждаете свое
                                                | согласие на обработку данных.

                                    .btn.btn-red.btn-shadow.submit Зарегистрироваться


        include ./blocks/scripts.jade
