html
    title Карта сайта
    include ./blocks/head.jade

    body
        include ./blocks/header.jade

        include ./blocks/left-panel.jade

        .wrapper
            .hero-block
                .container-block
                    .wrap
                        .title-wrap
                            h1.title Карта сайта

                        ol
                            li
                                a(href="/index.html") 
                                    span.text.dashed Главная
                            li
                                a(href="/login.html") 
                                    span.text.dashed Вход в личный кабинет
                            li
                                a(href="/registration.html") 
                                    span.text.dashed Регистрация
                            li
                                a(href="/success-form.html") 
                                    span.text.dashed Спасибо за регистрацию!
                            li
                                a(href="/password-recovery.html") 
                                    span.text.dashed Восстановление пароля
                            li
                                a(href="/new-password.html") 
                                    span.text.dashed Укажите новый пароль
                            li
                                a(href="/success-form-password.html") 
                                    span.text.dashed Ваш пароль успешно изменен!
                            li
                                a(href="/faq.html") 
                                    span.text.dashed FAQ
                            li
                                a(href="/how-make-money.html")
                                    span.text.dashed Как зарабатывать на Прогнозим?
                            li
                                a(href="/about.html")
                                    span.text.dashed О нас
                            li
                                a(href="/rules.html")
                                    span.text.dashed Правила Сообщества
                            li
                                a(href="/contact.html")
                                    span.text.dashed Контакты
                            li
                                a(href="/blog.html")
                                    span.text.dashed Блог
                            li
                                a(href="/blog-detail.html")
                                    span.text.dashed Детальная страница блога
                            li
                                a(href="/forecasts.html")
                                    span.text.dashed Прогнозы
                            li
                                a(href="/search.html")
                                    span.text.dashed Результаты поиска
                            li
                                a(href="/forecast-detail.html")
                                    span.text.dashed Детальный прогноз
                            li
                                a(href="/forecast-detail-2.html")
                                    span.text.dashed Детальный платный прогноз
                            li
                                a(href="/top-rates.html")
                                    span.text.dashed Топ ставок на сегодня
                            li
                                a(href="/event-predictions.html")
                                    span.text.dashed Прогнозы на событие
                            li
                                a(href="/experts.html")
                                    span.text.dashed Статистика прибыльных экспертов 
                            li
                                a(href="/expert-detail.html")
                                    span.text.dashed Карточка эксперта
                            
                            li
                                a(href="/cabinet-statistic.html")
                                    span.text.dashed Моя статистика
                            li
                                a(href="/cabinet-actual-forecasts.html")
                                    span.text.dashed Актуальные прогнозы
                            li
                                a(href="/cabinet-analysts.html")
                                    span.text.dashed Мои аналитики
                            li
                                a(href="/cabinet-forecasts-analysts.html")
                                    span.text.dashed Прогнозы моих аналитиков
                            li
                                a(href="/cabinet-purchases.html")
                                    span.text.dashed Мои покупки
                            li
                                a(href="/cabinet-partners.html")
                                    span.text.dashed Партнёрам
                            li
                                a(href="/cabinet-bonuses.html")
                                    span.text.dashed Бонусы
                            li
                                a(href="/cabinet-chat.html")
                                    span.text.dashed Чат с администрацией
                            li
                                a(href="/cabinet-chat-detail.html")
                                    span.text.dashed Детальный чат с администрацией
                            li
                                a(href="/cabinet-rank.html")
                                    span.text.dashed Ранг
                            li
                                a(href="/cabinet-settings.html")
                                    span.text.dashed Настройки
                            li
                                a(href="/cabinet-history.html")
                                    span.text.dashed История пополнений
                            li
                                a(href="/cabinet-alerts.html")
                                    span.text.dashed Оповещения
                            li
                                a(href="/cabinet-withdraw-funds.html")
                                    span.text.dashed Вывод средств
                            li
                                a(href="/cabinet-my-prediction.html")
                                    span.text.dashed Мой прогноз


                            
        include ./blocks/footer.jade
        include ./blocks/scripts.jade
