html
    title Ваш пароль успешно изменен!
    include ./blocks/head.jade

    body
        include ./blocks/header-not-authorized.jade

        include ./blocks/left-panel.jade

        .wrapper
            .first-image-bg.mobile-fill
                img(src="../images/hero-image-2.jpg", alt="")

            .hero-block
                .container-block
                    .wrap
                        .info.success-block
                            .icon.icon-check-big
                            .title-wrap
                                h1.title Ваш пароль
                                .h1.sub-title успешно изменен!

                            .description.mt-t-20
                                p Поздравляем! Ваш пароль был успешно изменен. Для доступа к личному кабинету авторизуйтесь с новыми данными.

                            a(href="/cabinet-statistic.html").btn.btn-red.btn-shadow Войти в личный кабинет
                        
        include ./blocks/scripts.jade
