html
    title Спасибо за регистрацию!
    include ./blocks/head.jade

    body
        include ./blocks/header-not-authorized.jade

        .left-panel
            .wrap
                .link-list
                    a(href="#").link-list--item.icon-soccer-ball
                    a(href="#").link-list--item.icon-basketball
                    a(href="#").link-list--item.icon-hockey
                    a(href="#").link-list--item.icon-boxing
                    a(href="#").link-list--item.icon-tennis
                    a(href="#").link-list--item.icon-rugby
                    .link-list--item.more-btn
                        span

                .social-list
                    a(href="#").social-list--item.icon-facebook-circle
                    a(href="#").social-list--item.icon-vk-circle
                        span.path1
                            span.path2
                    a(href="#").social-list--item.icon-instagram-circle

        .wrapper
            .first-image-bg.mobile-fill
                img(src="../images/hero-image-2.jpg", alt="")

            .hero-block
                .container-block
                    .wrap
                        .info
                            .icon.icon-check-big
                            .title-wrap
                                h1.title Спасибо 
                                .h1.sub-title за регистрацию!

                            .description
                                p На ваш Email 
                                    a(href="mailto:petrov@gmail.com").color-red petrov@gmail.com 
                                    | было отправлено письмо с ссылкой активации аккаунта. Пожалуйста кликните по ссылке в полученном письме для завершения регистрации.
                        
        include ./blocks/scripts.jade
