html
    title Прогноз #265 от Иван Иванов 21 октября 13:08 2020 
    include ./blocks/head.jade

    body
        include ./blocks/header.jade

        include ./blocks/left-panel.jade
        
        .wrapper
            .first-image-bg
                img(src="../images/hero-image-12.jpg", alt="").desktop
                img(src="../images/hero-image-mobile-12.jpg", alt="").mobile

            .hero-block
                .container-block
                    .wrap
                        .max-550
                            .title-wrap
                                h1.title.big-title Топ ставок 
                                .sub-title.big-title 
                                    b на 
                                    | сегодня
                            .description.mt-m-290.text-center-m
                                p ТОП популярных ставок Bet Projectпозволяет игрокам быть в курсе самых популярных событий, а затем зарабатывать на полученных знаниях. Беттеры и капперы могут делать ставки онлайн на основе полученной от экспертов аналитики, делать собственные выводы и взвешенно обдумывать каждое действие.

            .container-block
                .event-list-wrap
                    .event-list
                        .event-list--item
                            .time-wrap
                                .image.image-left
                                    img(src="../images/assets/event.png", alt="")
                                .time
                                    span 16:00
                                    .label Начало
                                .image.image-right
                                    img(src="../images/assets/event-2.png", alt="")
                            
                            .category футбол \ Групповой этап
                            .title Краснодар - Спартак Москва

                            table.border-top
                                tr 
                                    td
                                        .info
                                            .label Ставка
                                            .value 4.35
                                    td
                                        .info
                                            .label Прогнозов
                                            .value 51
                                    td
                                        .info
                                            .label КФ
                                            .value 4.35
                        .event-list--item
                            .time-wrap
                                .image.image-left
                                    img(src="../images/assets/event.png", alt="")
                                .time
                                    span 16:00
                                    .label Начало
                                .image.image-right
                                    img(src="../images/assets/event-2.png", alt="")
                            
                            .category футбол \ Групповой этап
                            .title Краснодар - Спартак Москва

                            table.border-top
                                tr 
                                    td
                                        .info
                                            .label Ставка
                                            .value 4.35
                                    td
                                        .info
                                            .label Прогнозов
                                            .value 51
                                    td
                                        .info
                                            .label КФ
                                            .value 4.35
                        .event-list--item
                            .time-wrap
                                .image.image-left
                                    img(src="../images/assets/event.png", alt="")
                                .time
                                    span 16:00
                                    .label Начало
                                .image.image-right
                                    img(src="../images/assets/event-2.png", alt="")
                            
                            .category футбол \ Групповой этап
                            .title Краснодар - Спартак Москва

                            table.border-top
                                tr 
                                    td
                                        .info
                                            .label Ставка
                                            .value 4.35
                                    td
                                        .info
                                            .label Прогнозов
                                            .value 51
                                    td
                                        .info
                                            .label КФ
                                            .value 4.35
                        .event-list--item
                            .time-wrap
                                .image.image-left
                                    img(src="../images/assets/event.png", alt="")
                                .time
                                    span 16:00
                                    .label Начало
                                .image.image-right
                                    img(src="../images/assets/event-2.png", alt="")
                            
                            .category футбол \ Групповой этап
                            .title Краснодар - Спартак Москва

                            table.border-top
                                tr 
                                    td
                                        .info
                                            .label Ставка
                                            .value 4.35
                                    td
                                        .info
                                            .label Прогнозов
                                            .value 51
                                    td
                                        .info
                                            .label КФ
                                            .value 4.35
                        .event-list--item
                            .time-wrap
                                .image.image-left
                                    img(src="../images/assets/event.png", alt="")
                                .time
                                    span 16:00
                                    .label Начало
                                .image.image-right
                                    img(src="../images/assets/event-2.png", alt="")
                            
                            .category футбол \ Групповой этап
                            .title Краснодар - Спартак Москва

                            table.border-top
                                tr 
                                    td
                                        .info
                                            .label Ставка
                                            .value 4.35
                                    td
                                        .info
                                            .label Прогнозов
                                            .value 51
                                    td
                                        .info
                                            .label КФ
                                            .value 4.35
                        .event-list--item
                            .time-wrap
                                .image.image-left
                                    img(src="../images/assets/event.png", alt="")
                                .time
                                    span 16:00
                                    .label Начало
                                .image.image-right
                                    img(src="../images/assets/event-2.png", alt="")
                            
                            .category футбол \ Групповой этап
                            .title Краснодар - Спартак Москва

                            table.border-top
                                tr 
                                    td
                                        .info
                                            .label Ставка
                                            .value 4.35
                                    td
                                        .info
                                            .label Прогнозов
                                            .value 51
                                    td
                                        .info
                                            .label КФ
                                            .value 4.35
                        .event-list--item
                            .time-wrap
                                .image.image-left
                                    img(src="../images/assets/event.png", alt="")
                                .time
                                    span 16:00
                                    .label Начало
                                .image.image-right
                                    img(src="../images/assets/event-2.png", alt="")
                            
                            .category футбол \ Групповой этап
                            .title Краснодар - Спартак Москва

                            table.border-top
                                tr 
                                    td
                                        .info
                                            .label Ставка
                                            .value 4.35
                                    td
                                        .info
                                            .label Прогнозов
                                            .value 51
                                    td
                                        .info
                                            .label КФ
                                            .value 4.35
                        .event-list--item
                            .time-wrap
                                .image.image-left
                                    img(src="../images/assets/event.png", alt="")
                                .time
                                    span 16:00
                                    .label Начало
                                .image.image-right
                                    img(src="../images/assets/event-2.png", alt="")
                            
                            .category футбол \ Групповой этап
                            .title Краснодар - Спартак Москва

                            table.border-top
                                tr 
                                    td
                                        .info
                                            .label Ставка
                                            .value 4.35
                                    td
                                        .info
                                            .label Прогнозов
                                            .value 51
                                    td
                                        .info
                                            .label КФ
                                            .value 4.35
                        .event-list--item
                            .time-wrap
                                .image.image-left
                                    img(src="../images/assets/event.png", alt="")
                                .time
                                    span 16:00
                                    .label Начало
                                .image.image-right
                                    img(src="../images/assets/event-2.png", alt="")
                            
                            .category футбол \ Групповой этап
                            .title Краснодар - Спартак Москва

                            table.border-top
                                tr 
                                    td
                                        .info
                                            .label Ставка
                                            .value 4.35
                                    td
                                        .info
                                            .label Прогнозов
                                            .value 51
                                    td
                                        .info
                                            .label КФ
                                            .value 4.35
                        .event-list--item
                            .time-wrap
                                .image.image-left
                                    img(src="../images/assets/event.png", alt="")
                                .time
                                    span 16:00
                                    .label Начало
                                .image.image-right
                                    img(src="../images/assets/event-2.png", alt="")
                            
                            .category футбол \ Групповой этап
                            .title Краснодар - Спартак Москва

                            table.border-top
                                tr 
                                    td
                                        .info
                                            .label Ставка
                                            .value 4.35
                                    td
                                        .info
                                            .label Прогнозов
                                            .value 51
                                    td
                                        .info
                                            .label КФ
                                            .value 4.35


            .content-block
                .title-wrap.mt-150.mt-t-40
                    h2.title В чем плюс ТОП ставок 
                    .h2.sub-title на сегодня?

                .description.mt-50.mt-t-40.text-center-t
                    p ТОП ставки не имеют ограничений по видам спорта или чемпионатам, здесь учитываются и локальные события, и чемпионаты Европы, и мероприятия отдельных стран. Также для вашего удобства рядом с каждым событием указано время начало матча, чтобы можно было следить за развитием событий.
                    p Еще одно достоинство ТОПа – отсеиваются малопопулярные события, которые в основном интересны новичками или тем, кто не любит ставки на масштабные события. В список попадают события, на которые прогнозы на спорт написали сразу несколько прогнозистов. Так что в рейтинге отображаются исключительно матчи, заслуживающие максимального внимания со стороны игроков.

                .mt-t-60

        include ./blocks/footer.jade
        include ./blocks/scripts.jade
