.cabinet-menu
    .cabinet-menu--row
        a(href="/cabinet-my-prediction.html").cabinet-menu--item
            span.icon.icon-plus-red
            span.text Мой прогноз
    .cabinet-menu--row
        a(href="/cabinet-statistic.html").cabinet-menu--item.active
            span.icon.icon-pie-chart
            span.text Статистика
        a(href="/cabinet-actual-forecasts.html").cabinet-menu--item
            span.icon.icon-soccer-ball
            span.text Актуальные прогнозы
        a(href="/cabinet-analysts.html").cabinet-menu--item
            span.icon.icon-analysts
            span.text Мои аналитики
        a(href="/cabinet-forecasts-analysts.html").cabinet-menu--item
            span.icon.icon-cup
            span.text Прогнозы моих аналитиков
        a(href="/cabinet-purchases.html").cabinet-menu--item
            span.icon.icon-cart-empty
            span.text Мои покупки
        a(href="/cabinet-partners.html").cabinet-menu--item
            span.icon.icon-arms
            span.text Партнёрам
        a(href="/cabinet-bonuses.html").cabinet-menu--item
            span.icon.icon-bonus
            span.text Бонусы (3000)
        a(href="/cabinet-chat.html").cabinet-menu--item
            span.icon.icon-comment-empty
            span.text Чат с администрацией
        a(href="/cabinet-rank.html").cabinet-menu--item
            span.icon.icon-stars-group
            span.text Ранг
    .cabinet-menu--row
        a(href="/cabinet-settings.html").cabinet-menu--item
            span.icon.icon-gear-empty
            span.text Настройки
        a(href="/cabinet-history.html").cabinet-menu--item
            span.icon.icon-history-list
            span.text История пополнений
        a(href="/cabinet-alerts.html").cabinet-menu--item
            span.icon.icon-bell-empty
            span.text Оповещения
        a(href="/cabinet-withdraw-funds.html").cabinet-menu--item
            span.icon.icon-coin-hand
            span.text Вывод средств
    
    .button-wrap
        a(href="/login.html").btn.btn-red.logout Выйти