.events-wrap
    .title-wrap.text-center
        h4.title Ближайшие
        .sub-title.h4 матчи

    .events-list
        .swiper-wrapper
            .swiper-slide.events-list--item 
                .time-wrap
                    .image.image-left
                        img(src="../images/assets/event-3.png", alt="")
                    .time
                        span 16:00
                        .label Начало
                    .image.image-right
                        img(src="../images/assets/event-4.png", alt="")
                
                .category футбол \ Групповой этап
                .title Бавария - Атлетико Мадрид
                a(href="#").add-btn
                    span Добавить прогноз

            .swiper-slide.events-list--item 
                .time-wrap
                    .image.image-left
                        img(src="../images/assets/event-3.png", alt="")
                    .time
                        span 16:00
                        .label Начало
                    .image.image-right
                        img(src="../images/assets/event-4.png", alt="")
                
                .category футбол \ Групповой этап
                .title Бавария - Атлетико Мадрид
                a(href="#").add-btn 
                    span Добавить прогноз

            .swiper-slide.events-list--item 
                .time-wrap
                    .image.image-left
                        img(src="../images/assets/event-3.png", alt="")
                    .time
                        span 16:00
                        .label Начало
                    .image.image-right
                        img(src="../images/assets/event-4.png", alt="")
                
                .category футбол \ Групповой этап
                .title Бавария - Атлетико Мадрид
                a(href="#").add-btn
                    span Добавить прогноз

            .swiper-slide.events-list--item 
                .time-wrap
                    .image.image-left
                        img(src="../images/assets/event-3.png", alt="")
                    .time
                        span 16:00
                        .label Начало
                    .image.image-right
                        img(src="../images/assets/event-4.png", alt="")
                
                .category футбол \ Групповой этап
                .title Бавария - Атлетико Мадрид
                a(href="#").add-btn 
                    span Добавить прогноз
                
            .swiper-slide.events-list--item 
                .time-wrap
                    .image.image-left
                        img(src="../images/assets/event-3.png", alt="")
                    .time
                        span 16:00
                        .label Начало
                    .image.image-right
                        img(src="../images/assets/event-4.png", alt="")
                
                .category футбол \ Групповой этап
                .title Бавария - Атлетико Мадрид
                a(href="#").add-btn
                    span Добавить прогноз

            .swiper-slide.events-list--item 
                .time-wrap
                    .image.image-left
                        img(src="../images/assets/event-3.png", alt="")
                    .time
                        span 16:00
                        .label Начало
                    .image.image-right
                        img(src="../images/assets/event-4.png", alt="")
                
                .category футбол \ Групповой этап
                .title Бавария - Атлетико Мадрид
                a(href="#").add-btn 
                    span Добавить прогноз

        .pagination