.filters
    .wrap
        .title-wrap.text-center
            h3 Фильтр
            .h3.sub-title прогнозов

        .mobile-btn 
            .label Все 255
            .icon.icon-arrow-select

        .checkbox-group-wrap
            .checkbox-group
                label.checkbox(for="check")
                    input(type="radio" name="filter" id="check")
                    .label Футбол  82
                label.checkbox(for="check-2")
                    input(type="radio" name="filter" id="check-2")
                    .label UFC  3
                label.checkbox(for="check-3")
                    input(type="radio" name="filter" id="check-3")
                    .label Хоккей  75
                label.checkbox(for="check-4")
                    input(type="radio" name="filter" id="check-4")
                    .label MMA  2
                label.checkbox(for="check-5")
                    input(type="radio" name="filter" id="check-5")
                    .label Бокс  42
                label.checkbox(for="check-6")
                    input(type="radio" name="filter" id="check-6")
                    .label Гандбол  42
                label.checkbox(for="check-7")
                    input(type="radio" name="filter" id="check-7")
                    .label Баскетбол  36
                label.checkbox(for="check-8")
                    input(type="radio" name="filter" id="check-8")
                    .label Бейсбол  36
                label.checkbox(for="check-9")
                    input(type="radio" name="filter" id="check-9")
                    .label Теннис  24
                label.checkbox(for="check-10")
                    input(type="radio" name="filter" id="check-10")
                    .label Киберспорт  24
                label.checkbox(for="check-11")
                    input(type="radio" name="filter" id="check-11")
                    .label Волейбол  20
                label.checkbox(for="check-12")
                    input(type="radio" name="filter" id="check-12")
                    .label Бадминтон  20
                label.checkbox(for="check-13")
                    input(type="radio" name="filter" id="check-13")
                    .label Гандбол  18
                label.checkbox(for="check-14")
                    input(type="radio" name="filter" id="check-14")
                    .label Футзал  10
                label.checkbox(for="check-15")
                    input(type="radio" name="filter" id="check-15")
                    .label Амер. футбол  18
                label.checkbox(for="check-16")
                    input(type="radio" name="filter" id="check-16")
                    .label Настол. тенис  10
                label.checkbox.wide(for="all")
                    input(type="radio" name="filter" id="all" checked)
                    .label Все  255

    .bottom-panel
        label.checkbox(for="check-17")
            input(type="checkbox" id="check-17")
            .icon
                .icon-check
            .label Бесплатные прогнозы  55
        label.checkbox(for="check-18")
            input(type="checkbox" id="check-18" checked)
            .icon
                .icon-check
            .label Ординар  200
        label.checkbox(for="check-19")
            input(type="checkbox" id="check-19" checked)
            .icon
                .icon-check
            .label Экспресс  55
        