.footer-wrap
    .footer
        .bg-image
            img(src="../images/footer-bg.png", alt="")

        .wrap
            .content-block
                .about-block
                    .title-wrap
                        h2.title О нашем
                        .sub-title.h2 сообществе

                    .description
                        p Многие клиенты букмекерских контор изучают бесплатные прогнозы на спорт для того, чтобы делать live-ставки.Данный вид ставок требует особой внимательности и просмотра прямой трансляции без задержек. Наш сайт транслирует все спортивные соревнования и турниры.В числе видов спорта, на которые мы предоставляем трансляции, не только футбол, баскетбол, хоккей, волейбол, бейсбол и многое другое в режиме онлайн. Сайт Bet Project является площадкой для общения между прогнозистами, которые могут не только составлять ежедневные прогнозы на спорт, но и общаться друг с другом в онлайн чате. Также, на сайте всегда можно задать вопрос службе поддержки, которая оперативно рассматривает поступающие сообщения.

                    a(href="#").btn.btn-red Узнать больше

                .bottom-block
                    .column 
                        .footer-menu
                            a(href="#").footer-menu--item Все прогнозы
                            a(href="#").footer-menu--item Платные прогнозы
                            a(href="#").footer-menu--item Бесплатные прогнозы
                            a(href="#").footer-menu--item Ординар
                            a(href="#").footer-menu--item Экспресс
                    .column 
                        .footer-menu
                            a(href="#").footer-menu--item FAQ
                            a(href="#").footer-menu--item Правила Сообщества
                            a(href="#").footer-menu--item Заработок
                            a(href="#").footer-menu--item О нас
                            a(href="#").footer-menu--item Блог
                    .column 
                        .footer-menu
                            a(href="#").footer-menu--item Топ Ставок
                            a(href="#").footer-menu--item Эксперты
                            a(href="#").footer-menu--item Добавить прогноз
                    .column 
                        .copyright 
                            span © 2020 Prognozim
                            span Все права защищены

                        .social-list
                            a(href="#" target="_blank").social-list--item.icon-instagram-circle
                            a(href="#" target="_blank").social-list--item.icon-vk-circle
                                span.path1
                                    span.path2
                            a(href="#" target="_blank").social-list--item.icon-facebook-circle


