.footer-wrap.bg-empty
    .footer
        .wrap
            .content-block
                .bottom-block
                    .column 
                        .footer-menu
                            a(href="/forecasts.html").footer-menu--item Все прогнозы
                            a(href="#").footer-menu--item Платные прогнозы
                            a(href="#").footer-menu--item Бесплатные прогнозы
                            a(href="#").footer-menu--item Ординар
                            a(href="#").footer-menu--item Экспресс
                    .column 
                        .footer-menu
                            a(href="#").footer-menu--item FAQ
                            a(href="#").footer-menu--item Правила Сообщества
                            a(href="#").footer-menu--item Заработок
                            a(href="/about.html").footer-menu--item О нас
                            a(href="/blog.html").footer-menu--item Блог
                    .column 
                        .footer-menu
                            a(href="#").footer-menu--item Топ Ставок
                            a(href="#").footer-menu--item Эксперты
                            a(href="#").footer-menu--item Добавить прогноз
                    .column 
                        .copyright 
                            span © 2020 Prognozim
                            span Все права защищены

                        .social-list
                            a(href="#" target="_blank").social-list--item.icon-instagram-circle
                            a(href="#" target="_blank").social-list--item.icon-vk-circle
                                span.path1
                                    span.path2
                            a(href="#" target="_blank").social-list--item.icon-facebook-circle


