.left-panel
    .wrap
        .link-list
            a(href="#").link-list--item.icon-soccer-ball
            a(href="#").link-list--item.icon-basketball
            a(href="#").link-list--item.icon-hockey
            a(href="#").link-list--item.icon-boxing
            a(href="#").link-list--item.icon-tennis
            a(href="#").link-list--item.icon-rugby
            a(href="#").link-list--item.icon-rugby
            a(href="#").link-list--item.icon-rugby
            .link-list--item.more-btn
                span

        .social-list
            a(href="#").social-list--item.icon-facebook-circle
            a(href="#").social-list--item.icon-vk-circle
                span.path1
                    span.path2
            a(href="#").social-list--item.icon-instagram-circle