.product-list
    .product-list--item
        .wrap
            .top-panel
                .sticker Прогноз
                .comment-btn 
                    .icon.icon-comment 
                    .text 
                        span Комментарии 45
                
                .date 21 окт. 13:08 2020

            table
                tr 
                    th Спорт
                    th.text-center Игра
                    th Начало
                    th Ставка
                    th КФ
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                .icon.icon-t-shirt-2
                            .title
                                span Бавария - Атлетико Мадрид
                                span.sub-title Групповой этап
                            .image 
                                .icon.icon-t-shirt-2

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45

            .person
                .image
                    img(src="../images/assets/face.jpg", alt="")
                    .num 2
                    
                .name 
                    span Иван Иванов

                .parameters
                    .parameters--item.icon-t-shirt
                    .parameters--item.icon-target
                    .parameters--item.icon-star

        .bottom-panel
            .description Селтик пока что не показывает уровень команды, которая достойна выйти из группы. Но против Спарты есть шанс зацепиться за свой шанс. Селтик хотя бы забивает. А учитывая, что играет дома, то шансы на голы точно будут. Реал тоже. Команда дома должна брать победу... 
            
            .button-wrap 
                .cost Ставка 44 000 ₽
                a(href="#").btn.btn-red Полный прогноз

    .product-list--item
        .wrap
            .top-panel
                .sticker Экспресс
                .comment-btn 
                    .icon.icon-comment 
                    .text 
                        span Комментарии 45
                
                .date 21 окт. 13:08 2020

            table
                tr 
                    th Спорт
                    th.text-center Игра
                    th Начало
                    th Ставка
                    th КФ
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                img(src="../images/assets/event-3.png", alt="")
                            .title
                                span Бавария - Атлетико Мадрид
                                span.sub-title Групповой этап
                            .image 
                                img(src="../images/assets/event-4.png", alt="")

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                img(src="../images/assets/event-5.png", alt="")
                            .title
                                span Краснодар - Спартак Москва
                                span.sub-title Премьер-лига
                            .image 
                                img(src="../images/assets/event-6.png", alt="")

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45
                tr
                    td(colspan="4")
                        .label Общий КФ
                    td
                        .coefficient 2.90

            .person
                .image
                    img(src="../images/assets/face.jpg", alt="")
                    .num 2
                    
                .name 
                    span Иван Иванов

                .parameters
                    .parameters--item.icon-t-shirt
                    .parameters--item.icon-target
                    .parameters--item.icon-star

        .bottom-panel
            .description Селтик пока что не показывает уровень команды, которая достойна выйти из группы. Но против Спарты есть шанс зацепиться за свой шанс. Селтик хотя бы забивает. А учитывая, что играет дома, то шансы на голы точно будут. Реал тоже. Команда дома должна брать победу... 
            
            .button-wrap 
                .cost Ставка 44 000 ₽
                a(href="#").btn.btn-red Полный прогноз
    
    .product-list--item
        .wrap
            .top-panel
                .sticker Прогноз
                .comment-btn 
                    .icon.icon-comment 
                    .text 
                        span Комментарии 45
                
                .date 21 окт. 13:08 2020

            table
                tr 
                    th Спорт
                    th.text-center Игра
                    th Начало
                    th Ставка
                    th КФ
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                .icon.icon-t-shirt-2
                            .title
                                span Бавария - Атлетико Мадрид
                                span.sub-title Групповой этап
                            .image 
                                .icon.icon-t-shirt-2

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45

            .person
                .image
                    img(src="../images/assets/face.jpg", alt="")
                    .num 2
                    
                .name 
                    span Иван Иванов

                .parameters
                    .parameters--item.icon-t-shirt
                    .parameters--item.icon-target
                    .parameters--item.icon-star

        .bottom-panel
            .description Селтик пока что не показывает уровень команды, которая достойна выйти из группы. Но против Спарты есть шанс зацепиться за свой шанс. Селтик хотя бы забивает. А учитывая, что играет дома, то шансы на голы точно будут. Реал тоже. Команда дома должна брать победу... 
            
            .button-wrap 
                .cost Ставка 44 000 ₽
                a(href="#").btn.btn-red Полный прогноз

    .product-list--item
        .wrap
            .top-panel
                .sticker Экспресс
                .comment-btn 
                    .icon.icon-comment 
                    .text 
                        span Комментарии 45
                
                .date 21 окт. 13:08 2020

            table
                tr 
                    th Спорт
                    th.text-center Игра
                    th Начало
                    th Ставка
                    th КФ
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                img(src="../images/assets/event-3.png", alt="")
                            .title
                                span Бавария - Атлетико Мадрид
                                span.sub-title Групповой этап
                            .image 
                                img(src="../images/assets/event-4.png", alt="")

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                img(src="../images/assets/event-5.png", alt="")
                            .title
                                span Краснодар - Спартак Москва
                                span.sub-title Премьер-лига
                            .image 
                                img(src="../images/assets/event-6.png", alt="")

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45
                tr
                    td(colspan="4")
                        .label Общий КФ
                    td
                        .coefficient 2.90

            .person
                .image
                    img(src="../images/assets/face.jpg", alt="")
                    .num 2
                    
                .name 
                    span Иван Иванов

                .parameters
                    .parameters--item.icon-t-shirt
                    .parameters--item.icon-target
                    .parameters--item.icon-star

        .bottom-panel
            .description Селтик пока что не показывает уровень команды, которая достойна выйти из группы. Но против Спарты есть шанс зацепиться за свой шанс. Селтик хотя бы забивает. А учитывая, что играет дома, то шансы на голы точно будут. Реал тоже. Команда дома должна брать победу... 
            
            .button-wrap 
                .cost Ставка 44 000 ₽
                a(href="#").btn.btn-red Полный прогноз

    .product-list--item
        .wrap
            .top-panel
                .sticker Прогноз
                .comment-btn 
                    .icon.icon-comment 
                    .text 
                        span Комментарии 45
                
                .date 21 окт. 13:08 2020

            table
                tr 
                    th Спорт
                    th.text-center Игра
                    th Начало
                    th Ставка
                    th КФ
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                .icon.icon-t-shirt-2
                            .title
                                span Бавария - Атлетико Мадрид
                                span.sub-title Групповой этап
                            .image 
                                .icon.icon-t-shirt-2

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45

            .person
                .image
                    img(src="../images/assets/face.jpg", alt="")
                    .num 2
                    
                .name 
                    span Иван Иванов

                .parameters
                    .parameters--item.icon-t-shirt
                    .parameters--item.icon-target
                    .parameters--item.icon-star

        .bottom-panel
            .description Селтик пока что не показывает уровень команды, которая достойна выйти из группы. Но против Спарты есть шанс зацепиться за свой шанс. Селтик хотя бы забивает. А учитывая, что играет дома, то шансы на голы точно будут. Реал тоже. Команда дома должна брать победу... 
            
            .button-wrap 
                .cost Ставка 44 000 ₽
                a(href="#").btn.btn-red Полный прогноз

    .product-list--item
        .wrap
            .top-panel
                .sticker Прогноз
                .comment-btn 
                    .icon.icon-comment 
                    .text 
                        span Комментарии 45
                
                .date 21 окт. 13:08 2020

            table
                tr 
                    th Спорт
                    th.text-center Игра
                    th Начало
                    th Ставка
                    th КФ
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                .icon.icon-t-shirt-2
                            .title
                                span Бавария - Атлетико Мадрид
                                span.sub-title Групповой этап
                            .image 
                                .icon.icon-t-shirt-2

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45

            .person
                .image
                    img(src="../images/assets/face.jpg", alt="")
                    .num 2
                    
                .name 
                    span Иван Иванов

                .parameters
                    .parameters--item.icon-t-shirt
                    .parameters--item.icon-target
                    .parameters--item.icon-star

        .bottom-panel
            .description Селтик пока что не показывает уровень команды, которая достойна выйти из группы. Но против Спарты есть шанс зацепиться за свой шанс. Селтик хотя бы забивает. А учитывая, что играет дома, то шансы на голы точно будут. Реал тоже. Команда дома должна брать победу... 
            
            .button-wrap 
                .cost Ставка 44 000 ₽
                a(href="#").btn.btn-red Полный прогноз

    .product-list--item
        .wrap
            .top-panel
                .sticker Прогноз
                .comment-btn 
                    .icon.icon-comment 
                    .text 
                        span Комментарии 45
                
                .date 21 окт. 13:08 2020

            table
                tr 
                    th Спорт
                    th.text-center Игра
                    th Начало
                    th Ставка
                    th КФ
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                .icon.icon-t-shirt-2
                            .title
                                span Бавария - Атлетико Мадрид
                                span.sub-title Групповой этап
                            .image 
                                .icon.icon-t-shirt-2

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45

            .person
                .image
                    img(src="../images/assets/face.jpg", alt="")
                    .num 2
                    
                .name 
                    span Иван Иванов

                .parameters
                    .parameters--item.icon-t-shirt
                    .parameters--item.icon-target
                    .parameters--item.icon-star

        .bottom-panel
            .description Селтик пока что не показывает уровень команды, которая достойна выйти из группы. Но против Спарты есть шанс зацепиться за свой шанс. Селтик хотя бы забивает. А учитывая, что играет дома, то шансы на голы точно будут. Реал тоже. Команда дома должна брать победу... 
            
            .button-wrap 
                .cost Ставка 44 000 ₽
                a(href="#").btn.btn-red Полный прогноз

    .product-list--item
        .wrap
            .top-panel
                .sticker Прогноз
                .comment-btn 
                    .icon.icon-comment 
                    .text 
                        span Комментарии 45
                
                .date 21 окт. 13:08 2020

            table
                tr 
                    th Спорт
                    th.text-center Игра
                    th Начало
                    th Ставка
                    th КФ
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                .icon.icon-t-shirt-2
                            .title
                                span Бавария - Атлетико Мадрид
                                span.sub-title Групповой этап
                            .image 
                                .icon.icon-t-shirt-2

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45

            .person
                .image
                    img(src="../images/assets/face.jpg", alt="")
                    .num 2
                    
                .name 
                    span Иван Иванов

                .parameters
                    .parameters--item.icon-t-shirt
                    .parameters--item.icon-target
                    .parameters--item.icon-star

        .bottom-panel
            .description Селтик пока что не показывает уровень команды, которая достойна выйти из группы. Но против Спарты есть шанс зацепиться за свой шанс. Селтик хотя бы забивает. А учитывая, что играет дома, то шансы на голы точно будут. Реал тоже. Команда дома должна брать победу... 
            
            .button-wrap 
                .cost Ставка 44 000 ₽
                a(href="#").btn.btn-red Полный прогноз

    .product-list--item
        .wrap
            .top-panel
                .sticker Прогноз
                .comment-btn 
                    .icon.icon-comment 
                    .text 
                        span Комментарии 45
                
                .date 21 окт. 13:08 2020

            table
                tr 
                    th Спорт
                    th.text-center Игра
                    th Начало
                    th Ставка
                    th КФ
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                .icon.icon-t-shirt-2
                            .title
                                span Бавария - Атлетико Мадрид
                                span.sub-title Групповой этап
                            .image 
                                .icon.icon-t-shirt-2

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45

            .person
                .image
                    img(src="../images/assets/face.jpg", alt="")
                    .num 2
                    
                .name 
                    span Иван Иванов

                .parameters
                    .parameters--item.icon-t-shirt
                    .parameters--item.icon-target
                    .parameters--item.icon-star

        .bottom-panel
            .description Селтик пока что не показывает уровень команды, которая достойна выйти из группы. Но против Спарты есть шанс зацепиться за свой шанс. Селтик хотя бы забивает. А учитывая, что играет дома, то шансы на голы точно будут. Реал тоже. Команда дома должна брать победу... 
            
            .button-wrap 
                .cost Ставка 44 000 ₽
                a(href="#").btn.btn-red Полный прогноз

    .product-list--item
        .wrap
            .top-panel
                .sticker Прогноз
                .comment-btn 
                    .icon.icon-comment 
                    .text 
                        span Комментарии 45
                
                .date 21 окт. 13:08 2020

            table
                tr 
                    th Спорт
                    th.text-center Игра
                    th Начало
                    th Ставка
                    th КФ
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                .icon.icon-t-shirt-2
                            .title
                                span Бавария - Атлетико Мадрид
                                span.sub-title Групповой этап
                            .image 
                                .icon.icon-t-shirt-2

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45

            .person
                .image
                    img(src="../images/assets/face.jpg", alt="")
                    .num 2
                    
                .name 
                    span Иван Иванов

                .parameters
                    .parameters--item.icon-t-shirt
                    .parameters--item.icon-target
                    .parameters--item.icon-star

        .bottom-panel
            .description Селтик пока что не показывает уровень команды, которая достойна выйти из группы. Но против Спарты есть шанс зацепиться за свой шанс. Селтик хотя бы забивает. А учитывая, что играет дома, то шансы на голы точно будут. Реал тоже. Команда дома должна брать победу... 
            
            .button-wrap 
                .cost Ставка 44 000 ₽
                a(href="#").btn.btn-red Полный прогноз

    .product-list--item
        .wrap
            .top-panel
                .sticker Прогноз
                .comment-btn 
                    .icon.icon-comment 
                    .text 
                        span Комментарии 45
                
                .date 21 окт. 13:08 2020

            table
                tr 
                    th Спорт
                    th.text-center Игра
                    th Начало
                    th Ставка
                    th КФ
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                .icon.icon-t-shirt-2
                            .title
                                span Бавария - Атлетико Мадрид
                                span.sub-title Групповой этап
                            .image 
                                .icon.icon-t-shirt-2

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45

            .person
                .image
                    img(src="../images/assets/face.jpg", alt="")
                    .num 2
                    
                .name 
                    span Иван Иванов

                .parameters
                    .parameters--item.icon-t-shirt
                    .parameters--item.icon-target
                    .parameters--item.icon-star

        .bottom-panel
            .description Селтик пока что не показывает уровень команды, которая достойна выйти из группы. Но против Спарты есть шанс зацепиться за свой шанс. Селтик хотя бы забивает. А учитывая, что играет дома, то шансы на голы точно будут. Реал тоже. Команда дома должна брать победу... 
            
            .button-wrap 
                .cost Ставка 44 000 ₽
                a(href="#").btn.btn-red Полный прогноз

    .product-list--item
        .wrap
            .top-panel
                .sticker Прогноз
                .comment-btn 
                    .icon.icon-comment 
                    .text 
                        span Комментарии 45
                
                .date 21 окт. 13:08 2020

            table
                tr 
                    th Спорт
                    th.text-center Игра
                    th Начало
                    th Ставка
                    th КФ
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                .icon.icon-t-shirt-2
                            .title
                                span Бавария - Атлетико Мадрид
                                span.sub-title Групповой этап
                            .image 
                                .icon.icon-t-shirt-2

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45

            .person
                .image
                    img(src="../images/assets/face.jpg", alt="")
                    .num 2
                    
                .name 
                    span Иван Иванов

                .parameters
                    .parameters--item.icon-t-shirt
                    .parameters--item.icon-target
                    .parameters--item.icon-star

        .bottom-panel
            .description Селтик пока что не показывает уровень команды, которая достойна выйти из группы. Но против Спарты есть шанс зацепиться за свой шанс. Селтик хотя бы забивает. А учитывая, что играет дома, то шансы на голы точно будут. Реал тоже. Команда дома должна брать победу... 
            
            .button-wrap 
                .cost Ставка 44 000 ₽
                a(href="#").btn.btn-red Полный прогноз

    .product-list--item
        .wrap
            .top-panel
                .sticker Прогноз
                .comment-btn 
                    .icon.icon-comment 
                    .text 
                        span Комментарии 45
                
                .date 21 окт. 13:08 2020

            table
                tr 
                    th Спорт
                    th.text-center Игра
                    th Начало
                    th Ставка
                    th КФ
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                .icon.icon-t-shirt-2
                            .title
                                span Бавария - Атлетико Мадрид
                                span.sub-title Групповой этап
                            .image 
                                .icon.icon-t-shirt-2

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45

            .person
                .image
                    img(src="../images/assets/face.jpg", alt="")
                    .num 2
                    
                .name 
                    span Иван Иванов

                .parameters
                    .parameters--item.icon-t-shirt
                    .parameters--item.icon-target
                    .parameters--item.icon-star

        .bottom-panel
            .description Селтик пока что не показывает уровень команды, которая достойна выйти из группы. Но против Спарты есть шанс зацепиться за свой шанс. Селтик хотя бы забивает. А учитывая, что играет дома, то шансы на голы точно будут. Реал тоже. Команда дома должна брать победу... 
            
            .button-wrap 
                .cost Ставка 44 000 ₽
                a(href="#").btn.btn-red Полный прогноз


    .pagination
        a(href="#").pagination--item.prev
        a(href="#").pagination--item.active 1
        a(href="#").pagination--item 2
        a(href="#").pagination--item 3
        .pagination--item ...
        a(href="#").pagination--item 25
        a(href="#").pagination--item.next