.product-list
    .product-list--item
        .wrap
            .top-panel
                .sticker Прогноз
                .comment-btn 
                    .icon.icon-comment 
                    .text 
                        span Комментарии 
                            span.count 45
                
                .date 21 окт. 13:08 2020

            table.desktop
                tr
                    th Спорт
                    th.text-center Игра
                    th Начало
                    th Ставка
                    th КФ
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                .icon.icon-t-shirt-2
                            .title
                                span Бавария - Атлетико Мадрид
                                span.sub-title Групповой этап
                            .image 
                                .icon.icon-t-shirt-2

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45

            .table-block 
                .time-wrap
                    .image.image-left
                        img(src="../images/assets/event-3.png", alt="")
                    .time
                        span 16:00
                        .label 20/10/20
                    .image.image-right
                        img(src="../images/assets/event-4.png", alt="")
                
                .category футбол \ Групповой этап
                .title Краснодар - Спартак Москва
                
                .bottom-block
                    span.rate ставка 1.45
                    span.coefficient КФ 1.45

            .person-wrap
                .person
                    .image
                        img(src="../images/assets/face.jpg", alt="")
                        .num 2
                        
                    .name 
                        span Иван Иванов

                .parameters
                    .parameters--item.icon-t-shirt
                    .parameters--item.icon-target
                    .parameters--item.icon-star

        .bottom-panel
            .description Селтик пока что не показывает уровень команды, которая достойна выйти из группы. Но против Спарты есть шанс зацепиться за свой шанс. Селтик хотя бы забивает. А учитывая, что играет дома, то шансы на голы точно будут. Реал тоже. Команда дома должна брать победу... 
            
            .button-wrap 
                .cost Ставка 44 000 ₽
                a(href="/forecast-detail.html").btn.btn-red Полный прогноз

    .product-list--item
        .wrap
            .top-panel
                .sticker Экспресс
                .comment-btn 
                    .icon.icon-comment 
                    .text 
                        span Комментарии 
                            span.count 45
                
                .date 21 окт. 13:08 2020

            table.desktop
                tr 
                    th Спорт
                    th.text-center Игра
                    th Начало
                    th Ставка
                    th КФ
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                img(src="../images/assets/event-3.png", alt="")
                            .title
                                span Бавария - Атлетико Мадрид
                                span.sub-title Групповой этап
                            .image 
                                img(src="../images/assets/event-4.png", alt="")

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                img(src="../images/assets/event-5.png", alt="")
                            .title
                                span Краснодар - Спартак Москва
                                span.sub-title Премьер-лига
                            .image 
                                img(src="../images/assets/event-6.png", alt="")

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45
                tr
                    td(colspan="4")
                        .label Общий КФ
                    td
                        .coefficient 2.90

             .table-block
                .table-block--row
                    .time-wrap
                        .image.image-left
                            img(src="../images/assets/event-3.png", alt="")
                        .time
                            span 16:00
                            .label 20/10/20
                        .image.image-right
                            img(src="../images/assets/event-4.png", alt="")
                    
                    .category Групповой этап
                    .title Бавария - Атлетико Мадрид
                    
                    .bottom-block
                        span.rate 1.45
                        span.coefficient 1.45

                .table-block--row
                    .time-wrap
                        .image.image-left
                            img(src="../images/assets/event-3.png", alt="")
                        .time
                            span 16:00
                            .label 20/10/20
                        .image.image-right
                            img(src="../images/assets/event-4.png", alt="")
                    
                    .category Премьер-лига
                    .title Краснодар - Спартак Москва
                    
                    .bottom-block
                        span.rate 1.45
                        span.coefficient 1.45

                .table-block--row
                    .label Общий КФ 2.90

            .person-wrap
                .person
                    .image
                        img(src="../images/assets/avatar-5.jpg", alt="")
                        .num 2
                        
                    .name 
                        span Иван Иванов

                .parameters.gray
                    .parameters--item.icon-t-shirt
                    .parameters--item.icon-target
                    .parameters--item.icon-star

                a(href="/forecast-detail-2.html").author-predictions
                    span.dashed Прогнозы автора 27

        .bottom-panel
            .description Селтик пока что не показывает уровень команды, которая достойна выйти из группы. Но против Спарты есть шанс зацепиться за свой шанс. Селтик хотя бы забивает. А учитывая, что играет дома, то шансы на голы точно будут. Реал тоже. Команда дома должна брать победу... 
            
            .button-wrap
                .cost Ставка 44 000 ₽
                a(href="/forecast-detail.html").btn.btn-red Полный прогноз

    .product-list--item
        .wrap
            .top-panel
                .sticker Прогноз
                .comment-btn 
                    .icon.icon-comment 
                    .text 
                        span Комментарии 
                            span.count 45
                
                .date 21 окт. 13:08 2020

            table.desktop
                tr
                    th Спорт
                    th.text-center Игра
                    th Начало
                    th Ставка
                    th КФ
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                .icon.icon-t-shirt-2
                            .title
                                span Бавария - Атлетико Мадрид
                                span.sub-title Групповой этап
                            .image 
                                .icon.icon-t-shirt-2

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45

            .table-block 
                .time-wrap
                    .image.image-left
                        img(src="../images/assets/event-3.png", alt="")
                    .time
                        span 16:00
                        .label 20/10/20
                    .image.image-right
                        img(src="../images/assets/event-4.png", alt="")
                
                .category футбол \ Групповой этап
                .title Краснодар - Спартак Москва
                
                .bottom-block
                    span.rate ставка 1.45
                    span.coefficient КФ 1.45

            .person-wrap
                .person
                    .image
                        img(src="../images/assets/face.jpg", alt="")
                        .num 2
                        
                    .name 
                        span Иван Иванов

                .parameters
                    .parameters--item.icon-t-shirt
                    .parameters--item.icon-target
                    .parameters--item.icon-star

        .bottom-panel
            .description Селтик пока что не показывает уровень команды, которая достойна выйти из группы. Но против Спарты есть шанс зацепиться за свой шанс. Селтик хотя бы забивает. А учитывая, что играет дома, то шансы на голы точно будут. Реал тоже. Команда дома должна брать победу... 
            
            .button-wrap 
                .cost Ставка 44 000 ₽
                a(href="/forecast-detail.html").btn.btn-red Полный прогноз

    .product-list--item
        .wrap
            .top-panel
                .sticker Экспресс
                .comment-btn 
                    .icon.icon-comment 
                    .text 
                        span Комментарии 
                            span.count 45
                
                .date 21 окт. 13:08 2020

            table.desktop
                tr 
                    th Спорт
                    th.text-center Игра
                    th Начало
                    th Ставка
                    th КФ
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                img(src="../images/assets/event-3.png", alt="")
                            .title
                                span Бавария - Атлетико Мадрид
                                span.sub-title Групповой этап
                            .image 
                                img(src="../images/assets/event-4.png", alt="")

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45
                tr
                    td
                        .image
                            .icon.icon-soccer-ball
                    td 
                        .title-wrap 
                            .image 
                                img(src="../images/assets/event-5.png", alt="")
                            .title
                                span Краснодар - Спартак Москва
                                span.sub-title Премьер-лига
                            .image 
                                img(src="../images/assets/event-6.png", alt="")

                    td 
                        .date 20/10/20 16:30
                    td
                        .rate 1.45
                    td
                        .coefficient 1.45
                tr
                    td(colspan="4")
                        .label Общий КФ
                    td
                        .coefficient 2.90

             .table-block
                .table-block--row
                    .time-wrap
                        .image.image-left
                            img(src="../images/assets/event-3.png", alt="")
                        .time
                            span 16:00
                            .label 20/10/20
                        .image.image-right
                            img(src="../images/assets/event-4.png", alt="")
                    
                    .category Групповой этап
                    .title Бавария - Атлетико Мадрид
                    
                    .bottom-block
                        span.rate 1.45
                        span.coefficient 1.45

                .table-block--row
                    .time-wrap
                        .image.image-left
                            img(src="../images/assets/event-3.png", alt="")
                        .time
                            span 16:00
                            .label 20/10/20
                        .image.image-right
                            img(src="../images/assets/event-4.png", alt="")
                    
                    .category Премьер-лига
                    .title Краснодар - Спартак Москва
                    
                    .bottom-block
                        span.rate 1.45
                        span.coefficient 1.45

                .table-block--row
                    .label Общий КФ 2.90

            .person-wrap
                .person
                    .image
                        img(src="../images/assets/face.jpg", alt="")
                        .num 2
                        
                    .name 
                        span Иван Иванов

                .parameters
                    .parameters--item.icon-t-shirt
                    .parameters--item.icon-target
                    .parameters--item.icon-star

        .bottom-panel
            .description Селтик пока что не показывает уровень команды, которая достойна выйти из группы. Но против Спарты есть шанс зацепиться за свой шанс. Селтик хотя бы забивает. А учитывая, что играет дома, то шансы на голы точно будут. Реал тоже. Команда дома должна брать победу... 
            
            .button-wrap 
                .cost Ставка 44 000 ₽
                a(href="/forecast-detail.html").btn.btn-red Полный прогноз
    

    .pagination
        a(href="#").pagination--item.prev
        a(href="#").pagination--item.active 1
        a(href="#").pagination--item 2
        a(href="#").pagination--item 3
        .pagination--item ...
        a(href="#").pagination--item 25
        a(href="#").pagination--item.next